<!-- MESSSAGES on small screens -->
<section class="block md:hidden mb-2">
  <p-message
    *ngIf="!exceptionKey && (wpLoading || psLoading)"
    id="ws_products_message_loading_sm"
    severity="info"
    [text]="'ACTIONS.LOADING' | translate"
  ></p-message>
  <p-message
    *ngIf="exceptionKey"
    id="ws_products_message_error_sm"
    severity="error"
    [text]="exceptionKey | translate"
  ></p-message>
</section>

<div class="p-0 flex flex-row column-gap-2 align-items-start">
  <section class="pt-1 flex flex-row column-gap-4">
    <p-pickList
      *ngIf="!exceptionKey"
      #picklist
      id="ws_products_picklist"
      [filterBy]="'displayName,classifications'"
      [source]="psProducts"
      [target]="wProducts"
      [showSourceControls]="false"
      [showTargetControls]="false"
      [responsive]="false"
      [metaKeySelection]="true"
      [disabled]="!hasRegisterPermission"
      (onSourceSelect)="onSourceSelect($event)"
      (onTargetSelect)="onTargetSelect($event)"
      (onMoveToSource)="onMoveToSource($event)"
      (onMoveToTarget)="onMoveToTarget($event)"
    >
      <ng-template pTemplate="sourceHeader">
        <div class="flex flex-row column-gap-2 justify-content-between align-items-center">
          <div
            class="flex-grow-1 text-sm sm:text-base white-space-nowrap"
            [attr.aria-label]="'DIALOG.PRODUCTS.NUMBER_OF' | translate"
            [pTooltip]="'DIALOG.PRODUCTS.NUMBER_OF' | translate"
            tooltipPosition="top"
            tooltipEvent="hover"
            role="note"
          >
            {{ 'DIALOG.PRODUCTS.PS_PRODUCTS' | translate }}: {{ psProducts.length }}
          </div>
          <button
            id="ws_products_picklist_ps_load"
            class="p-2 pi pi-refresh cursor-pointer p-button border-none"
            (click)="onLoadPsProducts()"
            [attr.aria-label]="'ACTIONS.SEARCH.RELOAD' | translate"
            [pTooltip]="'ACTIONS.SEARCH.RELOAD' | translate"
            tooltipPosition="top"
            tooltipEvent="hover"
          ></button>
        </div>
      </ng-template>
      <ng-template pTemplate="targetHeader">
        <div class="flex flex-row column-gap-2 justify-content-between align-items-center">
          <div
            class="flex-grow-1 text-sm sm:text-base white-space-nowrap"
            [attr.aria-label]="'DIALOG.PRODUCTS.NUMBER_OF' | translate"
            [pTooltip]="'DIALOG.PRODUCTS.NUMBER_OF' | translate"
            tooltipPosition="top"
            tooltipEvent="hover"
            role="note"
          >
            {{ 'DIALOG.PRODUCTS.W_PRODUCTS' | translate }}: {{ wProducts.length }}
          </div>
          <button
            id="ws_products_picklist_ws_load"
            class="p-2 pi pi-refresh cursor-pointer p-button border-none"
            (click)="onLoadWProducts()"
            [attr.aria-label]="'ACTIONS.SEARCH.RELOAD' | translate"
            [pTooltip]="'ACTIONS.SEARCH.RELOAD' | translate"
            tooltipPosition="top"
            tooltipEvent="hover"
          ></button>
        </div>
      </ng-template>

      <ng-template pTemplate="sourceFilter" let-items="options">
        <div class="m-1 sm:my-2 sm:mx-3 flex flex-row align-items-center column-gap-3 row-gap-2">
          <div class="search-criteria-selectbutton">
            <p-selectButton
              id="ws_products_picklist_ps_filter"
              [options]="viewingModes"
              [(ngModel)]="sourceListViewMode"
              [allowEmpty]="false"
              optionLabel="icon"
              styleClass="w-6rem hidden sm:block"
              (onChange)="onSourceViewModeChange($event.value)"
            >
              <ng-template let-item pTemplate="item">
                <span
                  [class]="item.icon"
                  [attr.aria-label]="item.titleKey | translate"
                  [pTooltip]="item.titleKey | translate"
                  tooltipPosition="top"
                  tooltipEvent="hover"
                ></span>
              </ng-template>
            </p-selectButton>
          </div>
          <div class="p-inputgroup p-picklist-filter">
            <input
              #psFilter
              id="ws_products_picklist_ps_filter_value"
              class="p-picklist-filter-input p-inputtext p-component"
              [ngClass]="{ 'p-disabled': items?.length === 0 }"
              [(ngModel)]="sourceFilterValue"
              (keyup)="items.filter(getFilterValue($event))"
              type="text"
              [placeholder]="'DIALOG.DATAVIEW.FILTER' | translate"
              [attr.aria-label]="'DIALOG.DATAVIEW.FILTER' | translate"
              [pTooltip]="'DIALOG.DATAVIEW.PRODUCT_FILTER_TOOLTIP' | translate"
              tooltipPosition="top"
              tooltipEvent="hover"
            />
            <button
              id="ws_slot_detail_picklist_ps_filter_clear"
              class="p-inputgroup-addon cursor-pointer pi pi-filter-slash"
              [ngClass]="{ 'bg-primary': psFilter.value !== '', 'p-disabled': psFilter.value === '' }"
              [ngStyle]="
                psFilter.value === ''
                  ? { 'background-color': 'var(--emphasis-lower)', opacity: 'var(--disabled-opacity)' }
                  : null
              "
              (keydown.space)="items.reset(); sourceFilterValue = undefined"
              (click)="items.reset(); sourceFilterValue = undefined"
              [attr.aria-label]="'DIALOG.DATAVIEW.FILTER_CLEAR' | translate"
              [pTooltip]="'DIALOG.DATAVIEW.FILTER_CLEAR' | translate"
              tooltipPosition="top"
              tooltipEvent="hover"
            ></button>
          </div>
        </div>
      </ng-template>

      <ng-template pTemplate="targetFilter" let-items="options">
        <div class="m-1 sm:my-2 sm:mx-3 flex flex-row align-items-center column-gap-3 row-gap-2">
          <div class="search-criteria-selectbutton">
            <p-selectButton
              id="ws_products_picklist_ws_filter"
              [options]="viewingModes"
              [(ngModel)]="targetListViewMode"
              [allowEmpty]="false"
              optionLabel="icon"
              styleClass="w-6rem hidden sm:block"
              (onChange)="onTargetViewModeChange($event.value)"
            >
              <ng-template let-item pTemplate="item">
                <span
                  [class]="item.icon"
                  [attr.aria-label]="item.titleKey | translate"
                  [pTooltip]="item.titleKey | translate"
                  tooltipPosition="top"
                  tooltipEvent="hover"
                ></span>
              </ng-template>
            </p-selectButton>
          </div>
          <div class="p-inputgroup p-picklist-filter">
            <input
              #wFilter
              id="ws_products_picklist_ws_filter_value"
              class="p-picklist-filter-input p-inputtext p-component"
              [(ngModel)]="targetFilterValue"
              (keyup)="items.filter(getFilterValue($event))"
              type="text"
              [placeholder]="'DIALOG.DATAVIEW.FILTER' | translate"
              [attr.aria-label]="'DIALOG.DATAVIEW.FILTER' | translate"
              [pTooltip]="'DIALOG.DATAVIEW.PRODUCT_FILTER_TOOLTIP' | translate"
              tooltipPosition="top"
              tooltipEvent="hover"
            />
            <button
              id="ws_slot_detail_picklist_ps_filter_clear"
              class="p-inputgroup-addon cursor-pointer pi pi-filter-slash"
              [ngClass]="{ 'bg-primary': wFilter.value !== '', 'p-disabled': wFilter.value === '' }"
              [ngStyle]="
                wFilter.value === ''
                  ? { 'background-color': 'var(--emphasis-lower)', opacity: 'var(--disabled-opacity)' }
                  : null
              "
              (keydown.space)="items.reset(); targetFilterValue = undefined"
              (click)="items.reset(); targetFilterValue = undefined"
              [attr.aria-label]="'DIALOG.DATAVIEW.FILTER_CLEAR' | translate"
              [pTooltip]="'DIALOG.DATAVIEW.FILTER_CLEAR' | translate"
              tooltipPosition="top"
              tooltipEvent="hover"
            ></button>
          </div>
        </div>
      </ng-template>

      <!--
        PRODUCT ITEM in picklist
      -->
      <ng-template let-product pTemplate="item">
        <div class="col-12 sm:h-2rem md:h-3rem p-0 flex flex-wrap align-items-center">
          <div
            class="col-12 md:col-9 p-0 flex flex-row column-gap-2 align-items-center tile-view-content"
            (dblclick)="return($event)"
          >
            <div
              class="h-1rem sm:h-2rem md:h-3rem w-1rem sm:w-2rem md:w-3rem flex align-items-center"
              aria-hidden="true"
            >
              <app-image-container
                [id]="'ws_products_picklist_' + product.productName + '_logo'"
                [imageUrl]="getImageUrl(product)"
                [defaultLogoType]="'product'"
                styleClass="max-h-1rem sm:max-h-2rem md:max-h-3rem max-w-1rem sm:max-w-2rem md:max-w-3rem tile-view-optional border-round-sm"
              ></app-image-container>
            </div>
            <div class="flex flex-column row-gap-1">
              <div
                [id]="'ws_products_picklist_' + product.productName + '_display_name'"
                class="tile-view-mandatory sm:font-semibold text-sm lg:text-md max-w-10rem xl:max-w-15rem text-responsive"
                [class.danger-action-text]="product?.undeployed"
                role="note"
              >
                {{ product.displayName ?? product.productName }}
              </div>
              <div
                [id]="'ws_products_picklist_' + product.productName + '_product_name'"
                class="tile-view-optional text-xs hidden md:block max-w-10rem xl:max-w-15rem text-responsive"
                role="note"
              >
                {{ product.productName }}
              </div>
            </div>
          </div>
          <div
            class="tile-view-optional col-3 h-3rem p-0 text-sm hidden md:flex justify-content-start align-items-center"
          >
            <div
              [id]="'ws_products_picklist_' + product.productName + '_product_base_url'"
              class="max-w-15rem word-break-all text-ellipsis-2-lines"
              role="note"
            >
              {{ product.baseUrl }}
            </div>
          </div>
          <!-- BADGES -->
          @if (product?.undeployed === true) {
            <div
              [id]="'ws_products_picklist_' + product.productName + '_undeployed'"
              class="card-badge-right badge-1 tile-view-optional danger-action-text sm:text-xl pi pi-ban"
              [attr.aria-label]="'DIALOG.PRODUCTS.UNDEPLOYED' | translate"
              [pTooltip]="'DIALOG.PRODUCTS.UNDEPLOYED' | translate"
              tooltipPosition="top"
              tooltipEvent="hover"
              role="note"
            ></div>
          } @else {
            @if (!product?.exists) {
              <div
                [id]="'ws_products_picklist_' + product.productName + '_not_exist'"
                class="card-badge-right badge-1 tile-view-optional danger-action-text sm:text-xl pi pi-trash"
                [attr.aria-label]="'DIALOG.PRODUCTS.REMOVED' | translate"
                [pTooltip]="'DIALOG.PRODUCTS.REMOVED' | translate"
                tooltipPosition="top"
                tooltipEvent="hover"
                role="note"
              ></div>
            } @else {
              <div
                *ngIf="product?.changedComponents"
                [id]="'ws_products_picklist_' + product.productName + '_changed'"
                class="card-badge-right badge-1 tile-view-optional danger-action-text sm:text-xl pi pi-exclamation-circle"
                [attr.aria-label]="'DIALOG.PRODUCTS.CHANGED_MFE' | translate"
                [pTooltip]="'DIALOG.PRODUCTS.CHANGED_MFE' | translate"
                tooltipPosition="top"
                tooltipEvent="hover"
                role="note"
              ></div>
            }
          }
        </div>
      </ng-template>
    </p-pickList>
    <!-- MESSSAGES on bigger screens -->
    <section class="hidden md:block">
      <p-message
        *ngIf="!exceptionKey && (wpLoading || psLoading)"
        id="ws_products_message_loading"
        severity="info"
        [text]="'ACTIONS.LOADING' | translate"
      ></p-message>
      <p-message
        *ngIf="exceptionKey"
        id="ws_products_message_error"
        severity="error"
        [text]="exceptionKey | translate"
      ></p-message>
    </section>
  </section>

  <!--
    PRODUCT DETAIL
  -->
  <section
    *ngIf="displayDetails && displayedDetailItem"
    class="mt-1 ml-3 pt-2 w-4 hidden md:block card"
    [attr.aria-label]="'DIALOG.PRODUCTS.DETAILS' | translate"
  >
    <!-- 
        Product Header
        Displaying of some meta data: origin (workspace/products store), logo, state
      -->
    <header class="mb-3 w-full flex flex-row flex-wrap gap-2 justify-content-between align-items-start">
      <div class="flex flex-column cursor-default">
        <div class="font-semibold text-primary text-xl max-w-13rem lg:max-w-15rem text-responsive">
          {{ displayedDetailItem.displayName }}
        </div>
        <div class="flex flex-row column-gap-3">
          <div class="flex flex-column" role="note">
            <div class="text-sm max-w-15rem text-responsive">{{ displayedDetailItem.productName }}</div>
            <div class="text-sm max-w-15rem text-responsive">{{ displayedDetailItem.version }}</div>
          </div>
          @if (displayedDetailItem.undeployed) {
            <div
              id="ws_products_detail_header_undeployed"
              class="p-2 text-lg danger-action-text pi pi-ban"
              [attr.aria-label]="'DIALOG.PRODUCTS.UNDEPLOYED' | translate"
              [pTooltip]="'DIALOG.PRODUCTS.UNDEPLOYED' | translate"
              tooltipPosition="top"
              tooltipEvent="hover"
              role="note"
            ></div>
          } @else {
            <div
              *ngIf="displayedDetailItem.changedComponents"
              id="ws_products_detail_header_changed"
              class="p-2 text-lg danger-action-text pi pi-exclamation-circle"
              [attr.aria-label]="'DIALOG.PRODUCTS.CHANGED_MFE' | translate"
              [pTooltip]="'DIALOG.PRODUCTS.CHANGED_MFE' | translate"
              tooltipPosition="top"
              tooltipEvent="hover"
              role="note"
            ></div>
          }
        </div>
      </div>
      <!-- IMAGE -->
      <div class="hidden xl:block">
        <div class="h-2rem md:h-3rem md:h-4rem flex align-items-center" aria-hidden="true">
          <app-image-container
            id="ws_products_detail_logo"
            [imageUrl]="getImageUrl(displayedDetailItem)"
            [defaultLogoType]="'product'"
            styleClass="max-h-2rem md:max-h-3rem md:max-h-4rem max-w-3rem md:max-w-4rem md:max-w-5rem border-round-sm"
          ></app-image-container>
        </div>
      </div>
      <!-- LINKS -->
      <div class="hidden xl:block">
        <div class="flex flex-column">
          <a
            *ocxIfPermission="'WORKSPACE#GOTO_PERMISSION'"
            tabindex="0"
            id="ws_products_detail_product_name_link"
            class="p-2 pi pi-lock cursor-pointer button-icon-only"
            [ngClass]="permissionEndpointExist ? 'cursor-pointer' : 'p-disabled'"
            [routerLink]="[getPermissionEndpointUrl$(displayedDetailItem.productName) | async]"
            [attr.aria-label]="'ACTIONS.NAVIGATION.GOTO_PRODUCT_PERMISSIONS' | translate"
            [pTooltip]="'ACTIONS.NAVIGATION.GOTO_PRODUCT_PERMISSIONS' | translate"
            tooltipPosition="top"
            tooltipEvent="hover"
            role="link"
          >
          </a>
          <a
            *ocxIfPermission="'WORKSPACE#GOTO_APP_STORE'"
            tabindex="0"
            id="ws_products_detail_product_name_link"
            class="p-2 pi pi-cog cursor-pointer button-icon-only"
            [ngClass]="productEndpointExist ? 'cursor-pointer' : 'p-disabled'"
            [routerLink]="[getProductEndpointUrl$(displayedDetailItem.productName) | async]"
            [attr.aria-label]="'ACTIONS.NAVIGATION.GOTO_PRODUCT' | translate"
            [pTooltip]="'ACTIONS.NAVIGATION.GOTO_PRODUCT' | translate"
            tooltipPosition="top"
            tooltipEvent="hover"
            role="link"
          >
          </a>
        </div>
      </div>
    </header>

    <!-- 
        Product Config: Displaying and Editing
      -->
    <form [formGroup]="formGroup">
      <section
        class="flex flex-column row-gap-4 cursor-default"
        [attr.aria-label]="'DIALOG.PRODUCTS.DETAILS_CONFIG' | translate"
      >
        <!-- Editing the product base URL/Path -->
        <span class="p-float-label" controlErrorAnchor>
          <input
            pInputText
            type="text"
            class="w-full text-responsive"
            id="ws_products_detail_display_name"
            formControlName="displayName"
            [attr.aria-label]="'PRODUCT.DISPLAY_NAME' | translate"
            [pTooltip]="'PRODUCT.DISPLAY_NAME.TOOLTIP' | translate"
            tooltipPosition="top"
            tooltipEvent="hover"
          />
          <label class="ocx-required-label" for="ws_products_detail_display_name" aria-hidden="true">
            {{ 'PRODUCT.DISPLAY_NAME' | translate }}
          </label>
        </span>
        <span class="p-float-label" controlErrorAnchor>
          <input
            pInputText
            type="text"
            class="w-full text-responsive"
            id="ws_products_detail_baseurl"
            formControlName="baseUrl"
            [attr.aria-label]="'PRODUCT.BASE_URL' | translate"
            [pTooltip]="'PRODUCT.BASE_URL.TOOLTIP' | translate"
            tooltipPosition="top"
            tooltipEvent="hover"
          />
          <label class="ocx-required-label" for="ws_products_detail_baseurl" aria-hidden="true">
            {{ 'PRODUCT.BASE_URL' | translate }}
          </label>
        </span>

        <!-- Loop over all Microfrontends
               Some of the displayed data are not available in Workspace database.
               Such data are picked up from product store product.
          -->
        <section *ngIf="displayedDetailItem.apps" [attr.aria-label]="'Microfrontends'">
          <dl class="w-full my-0 flex flex-column row-gap-3">
            <dt *ngFor="let app of displayedDetailItem.apps | keyvalue; let i = index" class="w-full">
              <div class="m-auto text-center max-w-20rem">
                <div class="font-bold text-primary text-responsive">{{ app.value.appName }}</div>
                <div class="text-xs">Microfrontend / App</div>
              </div>
              <!-- MODULES -->
              <div class="flex flex-column row-gap-3">
                <dl *ngIf="app.value.modules" class="my-0 text-sm">
                  <div class="mb-1 font-bold">Modules</div>
                  <div
                    *ngIf="app.value.modules && displayedDetailItem.bucket === 'TARGET'"
                    formArrayName="modules"
                    class="flex flex-column row-gap-2"
                  >
                    <dt *ngFor="let mfe of getModuleControls(app.key)">
                      <div [formGroupName]="mfe.value.index" class="ml-2 flex flex-column row-gap-2">
                        <!-- Exposed Module + flags -->
                        <div class="flex flex-row align-items-center column-gap-2">
                          <span
                            [id]="'ws_products_detail_mfe_' + i + '_exposed_module'"
                            class="mr-2 max-w-20rem text-responsive"
                          >
                            {{ mfe.controls['exposedModule'].value }}
                          </span>
                          <!-- BADGES: mfe state -->
                          <div
                            *ngIf="mfe.value.undeployed"
                            [id]="'ws_products_detail_mfe_' + i + '_undeployed'"
                            class="danger-action-text pi pi-ban"
                            [attr.aria-label]="'DIALOG.PRODUCTS.MFES.UNDEPLOYED' | translate"
                            [pTooltip]="'DIALOG.PRODUCTS.MFES.UNDEPLOYED' | translate"
                            tooltipPosition="top"
                            tooltipEvent="hover"
                            role="note"
                          ></div>
                          <div
                            *ngIf="mfe.value.deprecated"
                            [id]="'ws_products_detail_mfe_' + i + '_deprecated'"
                            class="danger-action-text pi pi-exclamation-circle"
                            [attr.aria-label]="'DIALOG.PRODUCTS.MFES.DEPRECATED' | translate"
                            [pTooltip]="'DIALOG.PRODUCTS.MFES.DEPRECATED' | translate"
                            tooltipPosition="top"
                            tooltipEvent="hover"
                            role="note"
                          ></div>
                          <div
                            *ngIf="!mfe.value.id && mfe.value.change === 'create'"
                            [id]="'ws_products_detail_mfe_' + i + '_create'"
                            class="danger-action-text pi pi-plus-circle"
                            [attr.aria-label]="'DIALOG.PRODUCTS.MFES.CREATE' | translate"
                            [pTooltip]="'DIALOG.PRODUCTS.MFES.CREATE' | translate"
                            tooltipPosition="top"
                            tooltipEvent="hover"
                            role="note"
                          ></div>
                          <div
                            *ngIf="mfe.value.id && mfe.value.change === 'delete'"
                            [id]="'ws_products_detail_mfe_' + i + '_remove'"
                            class="danger-action-text pi pi-trash"
                            [attr.aria-label]="'DIALOG.PRODUCTS.MFES.DELETE' | translate"
                            [pTooltip]="'DIALOG.PRODUCTS.MFES.DELETE' | translate"
                            tooltipPosition="top"
                            tooltipEvent="hover"
                            role="note"
                          ></div>
                        </div>
                        <!-- Path Input Control -->
                        <div *ngIf="mfe.value.id || mfe.value.new" class="flex flex-row align-items-start column-gap-3">
                          <div class="flex-grow-1 flex flex-column row-gap-1">
                            <span controlErrorAnchor class="flex-grow-1 p-float-label">
                              <input
                                pInputText
                                type="text"
                                class="w-full text-responsive"
                                [id]="'ws_products_detail_mfe_' + mfe.value.index + '_base_path'"
                                formControlName="basePath"
                                [attr.aria-label]="'PRODUCT.MFE.BASE_PATH' | translate"
                                [pTooltip]="'PRODUCT.MFE.BASE_PATH.TOOLTIP' | translate"
                                tooltipPosition="top"
                                tooltipEvent="hover"
                              />
                              <label
                                class="ocx-required-label"
                                [for]="'ws_products_detail_mfe_' + mfe.value.index + '_base_path'"
                                aria-hidden="true"
                              >
                                {{ 'PRODUCT.MFE.BASE_PATH' | translate }}
                              </label>
                            </span>
                            <label
                              *ngIf="mfe.controls['basePath'].errors?.hasOwnProperty('basePathRequired')"
                              class="control-error"
                              [for]="'ws_products_detail_mfe_' + mfe.value.index + '_base_path'"
                              role="note"
                            >
                              {{ 'VALIDATION.ERRORS.EMPTY_REQUIRED_FIELD' | translate }}
                            </label>
                            <label
                              *ngIf="mfe.controls['basePath'].errors?.hasOwnProperty('basePathsNotUnique')"
                              class="control-error"
                              [for]="'ws_products_detail_mfe_' + mfe.value.index + '_base_path'"
                              role="note"
                            >
                              {{ 'VALIDATION.ERRORS.APP_MODULE.PATH_ALREADY_USED' | translate }}
                            </label>
                          </div>
                          <p-button
                            *ngIf="mfe.value.new && mfe.value.change !== 'create'"
                            [icon]="'pi pi-plus-circle'"
                            [id]="'ws_products_detail_mfe_' + mfe.value.index + '_new'"
                            [disabled]="!mfe.controls['basePath'].valid"
                            (onClick)="mfe.value.change = 'create'; formChanged = true"
                            [ariaLabel]="'DIALOG.PRODUCTS.MFES.NEW' | translate"
                            [pTooltip]="'DIALOG.PRODUCTS.MFES.NEW' | translate"
                            tooltipPosition="top"
                            tooltipEvent="hover"
                          />
                          <p-button
                            *ngIf="mfe.value.id && mfe.value.change !== 'delete'"
                            [icon]="'pi pi-trash'"
                            [id]="'ws_products_detail_mfe_' + mfe.value.index + '_remove'"
                            [disabled]="!mfe.controls['basePath'].valid"
                            (onClick)="mfe.value.change = 'delete'; formChanged = true"
                            [ariaLabel]="'DIALOG.PRODUCTS.MFES.REMOVED' | translate"
                            [pTooltip]="'DIALOG.PRODUCTS.MFES.REMOVED' | translate"
                            tooltipPosition="top"
                            tooltipEvent="hover"
                          />
                        </div>
                        <!-- End points -->
                        <section
                          *ngIf="mfe.value.endpoints && mfe.value.endpoints.length > 0"
                          [attr.aria-label]="'UI Endpoints'"
                        >
                          <div class="mt-2 font-bold">UI Endpoints</div>
                          <div
                            *ngFor="let ep of mfe.value.endpoints; let j = index"
                            [id]="'ws_products_detail_mfe_' + i + '_endpoint_' + j"
                            class="pl-2 max-w-20rem text-responsive"
                          >
                            {{ ep.name }} => {{ ep.path }}
                          </div>
                        </section>
                      </div>
                    </dt>
                  </div>

                  <div *ngIf="app.value.modules && displayedDetailItem.bucket === 'SOURCE'">
                    <dt *ngFor="let smfe of app.value.modules; let i = index" class="flex flex-column row-gap-2">
                      <div class="ml-2 flex flex-row flex-nowrap column-gap-2">
                        <span
                          [id]="'ws_products_detail_component_' + i + '_exposed_module'"
                          class="mr-2 max-w-20rem text-responsive"
                        >
                          {{ smfe.exposedModule }}</span
                        >
                        <div
                          *ngIf="smfe.undeployed"
                          [id]="'ws_products_detail_mfe_' + i + '_deprecated'"
                          class="danger-action-text pi pi-ban"
                          [pTooltip]="'DIALOG.PRODUCTS.MFES.UNDEPLOYED' | translate"
                          tooltipPosition="top"
                          tooltipEvent="hover"
                          role="note"
                        ></div>
                        <div
                          *ngIf="smfe.deprecated"
                          [id]="'ws_products_detail_mfe_' + i + '_deprecated'"
                          class="danger-action-text pi pi-exclamation-circle"
                          [pTooltip]="'DIALOG.PRODUCTS.MFES.DEPRECATED' | translate"
                          tooltipPosition="top"
                          tooltipEvent="hover"
                          role="note"
                        ></div>
                      </div>
                    </dt>
                  </div>
                </dl>
                <!-- COMPONENTS -->
                <dl *ngIf="app.value.components" class="my-0 text-sm">
                  <div class="mb-1 font-bold">Components</div>
                  <dt
                    *ngFor="let item of app.value.components; let i = index"
                    class="ml-2 flex flex-row align-items-center column-gap-2"
                  >
                    <span
                      [id]="'ws_products_detail_component_' + i + '_exposed_module'"
                      class="mr-2 max-w-20rem text-responsive"
                    >
                      {{ item.exposedModule }}</span
                    >
                    <div
                      *ngIf="item.undeployed"
                      [id]="'ws_products_detail_component_' + i + '_undeployed'"
                      class="text-sm danger-action-text pi pi-ban"
                      [pTooltip]="'DIALOG.PRODUCTS.MFES.UNDEPLOYED' | translate"
                      tooltipPosition="top"
                      tooltipEvent="hover"
                      role="note"
                    ></div>
                    <div
                      *ngIf="item.deprecated"
                      [id]="'ws_products_detail_component_' + i + '_deprecated'"
                      class="text-sm danger-action-text pi pi-exclamation-circle"
                      [pTooltip]="'DIALOG.PRODUCTS.MFES.DEPRECATED' | translate"
                      tooltipPosition="top"
                      tooltipEvent="hover"
                      role="note"
                    ></div>
                  </dt>
                </dl>
              </div>
            </dt>
          </dl>
        </section>

        <section
          *ngIf="displayedDetailItem.slots && displayedDetailItem.slots.length > 0"
          [attr.aria-label]="'TABS.WORKSPACE.SLOTS' | translate"
        >
          <dl class="my-0">
            <p-divider align="center" styleClass="mt-0 mb-1">
              <div class="px-3 font-bold text-primary">Slots</div>
            </p-divider>
            <dt
              *ngFor="let slot of displayedDetailItem.slots; let i = index"
              class="ml-2 flex flex-row align-items-center column-gap-3 text-sm"
            >
              <span [id]="'ws_products_detail_slot_' + i + '_name'" class="max-w-20rem text-responsive">
                {{ slot.name }}
              </span>
              <div
                *ngIf="slot.components"
                [id]="'ws_products_detail_slot_' + i + '_components'"
                [attr.aria-label]="'SLOT.COMPONENTS' | translate"
                [pTooltip]="'SLOT.COMPONENTS' | translate"
                tooltipPosition="top"
                tooltipEvent="hover"
                role="note"
              >
                {{ slot.components.length }}
              </div>
              <div
                *ngIf="slot.undeployed"
                [id]="'ws_products_detail_slot_' + i + '_undeployed'"
                class="text-sm danger-action-text pi pi-ban"
                [attr.aria-label]="'DIALOG.SLOT.UNDEPLOYED' | translate"
                [pTooltip]="'DIALOG.SLOT.UNDEPLOYED' | translate"
                tooltipPosition="top"
                tooltipEvent="hover"
                role="note"
              ></div>
              <div
                *ngIf="slot.deprecated"
                [id]="'ws_products_detail_slot_' + i + '_deprecated'"
                class="text-sm danger-action-text pi pi-exclamation-circle"
                [attr.aria-label]="'DIALOG.SLOT.DEPRECATED' | translate"
                [pTooltip]="'DIALOG.SLOT.DEPRECATED' | translate"
                tooltipPosition="top"
                tooltipEvent="hover"
                role="note"
              ></div>
              <div
                *ngIf="!slot.exists"
                [id]="'ws_products_detail_slot_' + i + '_new'"
                class="text-sm danger-action-text pi pi-plus-circle"
                [attr.aria-label]="'DIALOG.PRODUCTS.SLOTS.NEW' | translate"
                [pTooltip]="'DIALOG.PRODUCTS.SLOTS.NEW' | translate"
                tooltipPosition="top"
                tooltipEvent="hover"
                role="note"
              ></div>
            </dt>
          </dl>
        </section>
      </section>

      <footer
        class="mt-4 flex flex-row flex-wrap column-gap-2 row-gap-1"
        [ngClass]="formChanged ? 'justify-content-between' : 'justify-content-end'"
      >
        <div *ngIf="formChanged" class="max-w-5rem danger-action-text text-sm">
          {{ 'DIALOG.PRODUCTS.MFES.CHANGED' | translate }}
        </div>
        <div class="flex flex-row column-gap-2 row-gap-1 justify-content-end">
          <p-button
            id="ws_products_detail_action_close"
            icon="pi pi-times"
            (onClick)="onHideItemDetails()"
            [label]="'ACTIONS.NAVIGATION.CLOSE' | translate"
            [ariaLabel]="'ACTIONS.NAVIGATION.CLOSE' | translate"
            [pTooltip]="'ACTIONS.NAVIGATION.CLOSE.TOOLTIP' | translate"
            tooltipPosition="top"
            tooltipEvent="hover"
          ></p-button>
          <p-button
            *ngIf="hasRegisterPermission && displayedDetailItem.bucket === 'TARGET' && formGroup.valid"
            id="ws_products_detail_action_save"
            icon="pi pi-save"
            (onClick)="onProductSave()"
            [label]="'ACTIONS.SAVE' | translate"
            [ariaLabel]="'ACTIONS.SAVE' | translate"
            [pTooltip]="'ACTIONS.TOOLTIPS.SAVE' | translate"
            tooltipPosition="top"
            tooltipEvent="hover"
          ></p-button>
        </div>
      </footer>
    </form>
  </section>
</div>

<!-- PRODUCT DEREGISTRATION -->
<p-dialog
  [(visible)]="displayDeregisterConfirmation"
  [header]="'DIALOG.PRODUCTS.DEREGISTER' | translate"
  (onHide)="onDeregisterCancellation()"
  [modal]="true"
  [closable]="true"
  [resizable]="false"
  [dismissableMask]="true"
  [style]="{ width: '450px' }"
  styleClass="disable-max-height-preset"
>
  <section
    class="flex column-gap-4 row-gap-1 justify-content-start align-items-center"
    [attr.aria-label]="'DIALOG.PRODUCTS.DEREGISTER' | translate"
  >
    <div class="pi pi-question-circle text-3xl danger-action-text"></div>
    <div class="flex flex-column row-gap-2">
      <div id="ws_products_deregister_message" class="font-bold">
        {{ 'ACTIONS.DELETE.PRODUCT.MESSAGE' | translate }}
      </div>
      <div id="ws_products_deregister_message_info">{{ 'ACTIONS.DELETE.PRODUCT.MESSAGE_INFO' | translate }}</div>
      <div>{{ 'ACTIONS.DELETE.INFO' | translate }}</div>
    </div>
  </section>
  <ng-template pTemplate="footer">
    <footer class="mt-3 flex flex-wrap column-gap-2 row-gap-1 justify-content-end">
      <p-button
        id="ws_products_deregister_action_no"
        icon="pi pi-times"
        (onClick)="onDeregisterCancellation()"
        [label]="'ACTIONS.CONFIRMATION.NO' | translate"
        [ariaLabel]="'ACTIONS.CONFIRMATION.NO' | translate"
        [pTooltip]="'ACTIONS.CONFIRMATION.NO.TOOLTIP' | translate"
        tooltipPosition="top"
        tooltipEvent="hover"
      ></p-button>
      <p-button
        id="ws_products_deregister_action_yes"
        icon="pi pi-check"
        (onClick)="onDeregisterConfirmation()"
        [label]="'ACTIONS.CONFIRMATION.YES' | translate"
        [ariaLabel]="'ACTIONS.CONFIRMATION.YES' | translate"
        [pTooltip]="'ACTIONS.CONFIRMATION.YES.TOOLTIP' | translate"
        tooltipPosition="top"
        tooltipEvent="hover"
      ></p-button>
    </footer>
  </ng-template>
</p-dialog>
