@import 'src/_mixins.scss';

@include make-disabled-form-readable-input;
@include prepare-inputgroup;
@include picklist-zebra-rows;
@include card-badges;
@include danger-action;

:host ::ng-deep {
  .mt-05 {
    margin-top: 0.125rem !important;
  }
  .p-dialog .p-dialog-content {
    padding-top: 1rem;
    padding-bottom: 0;
    .p-inputgroup .p-float-label:first-child {
      width: unset;
    }
    .p-float-label,
    .p-float-label .p-dropdown {
      .p-inputtext {
        padding: 11px 8px 7px 8px;
      }
    }
  }
  .p-picklist {
    .p-picklist-header {
      text-align: center;
      color: var(--primary-text-color);
      background-color: var(--primary-color);
    }
    .p-picklist-filter-container {
      .p-buttonset .p-button {
        min-width: unset;
      }
    }
    .p-picklist-buttons {
      button[icon='pi pi-angle-double-left'],
      button[icon='pi pi-angle-double-right'] {
        display: none !important;
      }
    }
    .p-picklist-list {
      height: 34.7rem;
      &.p-picklist-source,
      &.p-picklist-target {
        &.tile-view li {
          float: left;
          max-width: 100px;
          min-width: fit-content;
          .tile-view-content {
            width: 100%;
          }
          .tile-view-mandatory {
            text-align: center;
            width: min-content;
          }
          .tile-view-optional {
            display: none !important;
          }
        }
      }
      li.p-picklist-item {
        padding: 0.2rem 0.5rem;
        border-bottom: var(--table-header-border);
      }
    }
  }
}
