<p-message
  *ngIf="wpLoading || psLoading"
  id="ws_products_message_loading"
  severity="info"
  styleClass="m-2 p-2"
  [text]="'ACTIONS.LOADING' | translate"
></p-message>
<p-message
  *ngIf="exceptionKey"
  id="ws_products_message_error"
  severity="error"
  styleClass="m-2 p-2"
  [text]="exceptionKey | translate"
></p-message>

<div *ngIf="!exceptionKey" class="p-0 flex flex-row column-gap-2 align-items-start">
  <div class="pt-1">
    <p-pickList
      #picklist
      id="ws_products_picklist"
      [filterBy]="'displayName,classifications'"
      [source]="psProducts"
      [target]="wProducts"
      [showSourceControls]="false"
      [showTargetControls]="false"
      [responsive]="false"
      [metaKeySelection]="true"
      [disabled]="!hasRegisterPermission"
      (onSourceSelect)="onSourceSelect($event)"
      (onTargetSelect)="onTargetSelect($event)"
      (onMoveToSource)="onMoveToSource($event)"
      (onMoveToTarget)="onMoveToTarget($event)"
    >
      <ng-template pTemplate="sourceHeader">
        <div class="p-1 sm:p-2 flex flex-row justify-content-between column-gap-2">
          <div class="flex-grow-1 sm:font-semibold text-sm sm:text-base white-space-nowrap">
            {{ 'DIALOG.PRODUCTS.PS_PRODUCTS' | translate }}: {{ psProducts.length }}
          </div>
          <a
            tabindex="0"
            id="ws_products_picklist_ps_load"
            class="pi pi-refresh cursor-pointer text-white"
            (click)="onLoadPsProducts()"
            [attr.aria-label]="'ACTIONS.SEARCH.RELOAD' | translate"
            [pTooltip]="'ACTIONS.SEARCH.RELOAD' | translate"
            tooltipPosition="top"
            tooltipEvent="hover"
          ></a>
        </div>
      </ng-template>
      <ng-template pTemplate="targetHeader">
        <div class="p-1 sm:p-2 flex flex-row justify-content-between column-gap-2">
          <div class="flex-grow-1 sm:font-semibold text-sm sm:text-base white-space-nowrap">
            {{ 'DIALOG.PRODUCTS.W_PRODUCTS' | translate }}: {{ wProducts.length }}
          </div>
          <a
            tabindex="0"
            id="ws_products_picklist_ws_load"
            class="pi pi-refresh cursor-pointer text-white"
            (click)="onLoadWProducts()"
            [attr.aria-label]="'ACTIONS.SEARCH.RELOAD' | translate"
            [pTooltip]="'ACTIONS.SEARCH.RELOAD' | translate"
            tooltipPosition="top"
            tooltipEvent="hover"
          ></a>
        </div>
      </ng-template>

      <ng-template pTemplate="sourceFilter" let-options="options">
        <div class="m-1 sm:m-2 flex flex-row align-items-center">
          <p-selectButton
            id="ws_products_picklist_ps_filter"
            [options]="viewingModes"
            [(ngModel)]="sourceListViewMode"
            optionLabel="icon"
            styleClass="w-6rem hidden sm:block"
            (onChange)="onSourceViewModeChange($event.value)"
          >
            <ng-template let-item pTemplate="item">
              <span
                [class]="item.icon"
                [pTooltip]="item.titleKey | translate"
                tooltipPosition="top"
                tooltipEvent="hover"
              ></span>
            </ng-template>
          </p-selectButton>
          <div class="p-inputgroup p-picklist-filter">
            <span class="p-inputgroup-addon data-view-control-border"><i class="pi pi-filter"></i></span>
            <input
              id="ws_products_picklist_ps_filter_value"
              class="p-picklist-filter-input p-inputtext p-component"
              [(ngModel)]="sourceFilterValue"
              (keyup)="options.filter(getFilterValue($event))"
              type="text"
              [placeholder]="'DIALOG.DATAVIEW.FILTER' | translate"
              [pTooltip]="'DIALOG.DATAVIEW.FILTER_TOOLTIP' | translate"
              tooltipPosition="top"
              tooltipEvent="hover"
            />
            <a
              *ngIf="sourceFilterValue"
              tabindex="0"
              id="ws_products_picklist_ps_filter_reset"
              class="px-2 p-picklist-filter-icon pi pi-times cursor-pointer"
              (click)="options.reset(); sourceFilterValue = undefined"
            ></a>
          </div>
        </div>
      </ng-template>

      <ng-template pTemplate="targetFilter" let-options="options">
        <div class="m-1 sm:m-2 flex flex-row align-items-center">
          <p-selectButton
            id="ws_products_picklist_ws_filter"
            [options]="viewingModes"
            [(ngModel)]="targetListViewMode"
            optionLabel="icon"
            styleClass="w-6rem hidden sm:block"
            (onChange)="onTargetViewModeChange($event.value)"
          >
            <ng-template let-item pTemplate="item">
              <span
                [class]="item.icon"
                [pTooltip]="item.titleKey | translate"
                tooltipPosition="top"
                tooltipEvent="hover"
              ></span>
            </ng-template>
          </p-selectButton>
          <div class="p-inputgroup p-picklist-filter">
            <span class="p-inputgroup-addon data-view-control-border"><i class="pi pi-filter"></i></span>
            <input
              id="ws_products_picklist_ws_filter_value"
              class="p-picklist-filter-input p-inputtext p-component"
              [(ngModel)]="targetFilterValue"
              (keyup)="options.filter(getFilterValue($event))"
              type="text"
              [placeholder]="'DIALOG.DATAVIEW.FILTER' | translate"
              [pTooltip]="'DIALOG.DATAVIEW.FILTER_TOOLTIP' | translate"
              tooltipPosition="top"
              tooltipEvent="hover"
            />
            <a
              *ngIf="targetFilterValue"
              tabindex="0"
              id="ws_products_picklist_ws_filter_reset"
              class="px-2 p-picklist-filter-icon pi pi-times cursor-pointer"
              (click)="options.reset(); targetFilterValue = undefined"
            ></a>
          </div>
        </div>
      </ng-template>

      <!--
        PRODUCT ITEM in picklist
      -->
      <ng-template let-product pTemplate="item">
        <div class="col-12 sm:h-2rem md:h-3rem p-0 flex flex-wrap align-items-center">
          <div
            class="col-12 md:col-9 p-0 flex flex-row column-gap-2 align-items-center tile-view-content"
            (dblclick)="return($event)"
          >
            <span
              *ngIf="product?.undeployed"
              [id]="'ws_products_picklist_' + product.productName + '_undeployed'"
              class="card-badge-right badge-1 tile-view-optional danger-action-text sm:font-bold sm:text-xl pi pi-ban"
              [pTooltip]="'DIALOG.PRODUCTS.UNDEPLOYED' | translate"
              tooltipPosition="top"
              tooltipEvent="hover"
            ></span>
            <span
              *ngIf="!product?.undeployed && product?.changedComponents"
              [id]="'ws_products_picklist_' + product.productName + '_changed_mfe'"
              class="card-badge-right badge-1 tile-view-optional danger-action-text sm:font-bold sm:text-xl pi pi-exclamation-circle"
              [pTooltip]="'DIALOG.PRODUCTS.CHANGED_MFE' | translate"
              tooltipPosition="top"
              tooltipEvent="hover"
            ></span>
            <app-image-container
              [id]="'ws_products_picklist_' + product.productName + '_logo'"
              [imageUrl]="getImageUrl(product)"
              [small]="true"
              styleClass="w-1rem sm:w-2rem md:w-4rem tile-view-optional "
            ></app-image-container>
            <div class="flex flex-column row-gap-1">
              <div
                [id]="'ws_products_picklist_' + product.productName + '_display_name'"
                class="tile-view-mandatory sm:font-semibold text-sm lg:text-md"
                [class.danger-action-text]="product?.undeployed || product?.changedComponents"
              >
                {{ product.displayName }}
              </div>
              <div
                [id]="'ws_products_picklist_' + product.productName + '_product_name'"
                class="tile-view-optional text-xs hidden md:block"
              >
                {{ product.productName }}
              </div>
            </div>
          </div>
          <div
            [id]="'ws_products_picklist_' + product.productName + '_product_base_url'"
            class="tile-view-optional col-3 p-0 text-sm hidden md:block"
          >
            {{ limitText(product.baseUrl, 15) }}
          </div>
        </div>
      </ng-template>
    </p-pickList>
  </div>

  <!--
    PRODUCT DETAIL
  -->
  <div *ngIf="displayDetails && displayedDetailItem" class="mt-1 ml-3 pt-2 w-4 hidden md:block card">
    <!-- 
           Product Header
           Displaying of some meta data: origin (workspace/products store), logo, state
      -->
    <div class="mb-3 w-full flex flex-row flex-wrap gap-2 justify-content-between align-items-start">
      <div class="flex flex-column">
        <div class="font-semibold text-primary text-xl">{{ displayedDetailItem.displayName }}</div>
        <div class="flex flex-row column-gap-3">
          <div class="flex flex-column">
            <div class="text-sm">{{ displayedDetailItem.productName }}</div>
            <div class="text-sm">{{ displayedDetailItem.version }}</div>
          </div>
          <span
            *ngIf="displayedDetailItem.undeployed"
            id="ws_products_detail_header_undeployed"
            class="p-2 danger-action-text font-bold pi pi-ban"
            [pTooltip]="'DIALOG.PRODUCTS.UNDEPLOYED' | translate"
            tooltipPosition="top"
            tooltipEvent="hover"
          ></span>
          <span
            *ngIf="!displayedDetailItem.undeployed && displayedDetailItem.changedComponents"
            id="ws_products_detail_header_changed_mfe"
            class="p-2 danger-action-text font-bold pi pi-exclamation-circle"
            [pTooltip]="'DIALOG.PRODUCTS.CHANGED_MFE' | translate"
            tooltipPosition="top"
            tooltipEvent="hover"
          ></span>
        </div>
      </div>
      <div class="hidden xl:block">
        <app-image-container
          id="ws_products_detail_logo"
          [imageUrl]="getImageUrl(displayedDetailItem)"
          [small]="true"
          styleClass="pt-1 w-3rem md:w-5rem"
        ></app-image-container>
      </div>
      <div class="hidden xl:block">
        <div class="flex flex-column">
          <a
            *ocxIfPermission="'WORKSPACE#GOTO_PERMISSION'"
            tabindex="0"
            id="ws_products_detail_product_name_link"
            class="p-2 pi pi-lock cursor-pointer button-icon-only"
            (click)="onGoToProductPermission(displayedDetailItem.productName)"
            [attr.aria-label]="'ACTIONS.NAVIGATION.GOTO_PRODUCT_PERMISSIONS' | translate"
            [pTooltip]="'ACTIONS.NAVIGATION.GOTO_PRODUCT_PERMISSIONS' | translate"
            tooltipPosition="top"
            tooltipEvent="hover"
          >
          </a>
          <a
            *ocxIfPermission="'WORKSPACE#GOTO_APP_STORE'"
            tabindex="0"
            id="ws_products_detail_product_name_link"
            class="p-2 pi pi-link cursor-pointer button-icon-only"
            (click)="onGoToProduct(displayedDetailItem.productName)"
            [attr.aria-label]="'ACTIONS.NAVIGATION.GOTO_PRODUCT' | translate"
            [pTooltip]="'ACTIONS.NAVIGATION.GOTO_PRODUCT' | translate"
            tooltipPosition="top"
            tooltipEvent="hover"
          >
          </a>
        </div>
      </div>
    </div>

    <!-- 
           Product Config: Displaying details and Editing access pathes
      -->
    <form [formGroup]="formGroup">
      <div class="flex flex-column row-gap-4">
        <!-- Editing the product base URL/Path -->
        <span class="p-float-label" controlErrorAnchor>
          <input
            pInputText
            type="text"
            class="w-full text-responsive"
            id="ws_products_detail_baseurl"
            formControlName="baseUrl"
            [readonly]="displayedDetailItem.bucket === 'SOURCE'"
            [pTooltip]="'PRODUCT.BASE_URL.TOOLTIP' | translate"
            tooltipPosition="top"
            tooltipEvent="hover"
          />
          <label class="ocx-required-label" for="ws_products_detail_baseurl">
            {{ 'PRODUCT.BASE_URL' | translate }}</label
          >
        </span>

        <!-- Loop over all Microfrontends
               Some of the displayed data are not available in Workspace database.
               Such data are picked up from product store product.
          -->
        <div *ngFor="let app of displayedDetailItem.apps | keyvalue; let i = index">
          <p-divider align="center" styleClass="m-0 p-0">
            <div class="font-bold text-primary text-responsive">{{ app.key }}</div>
            <div class="text-xs">Microfrontend</div>
          </p-divider>

          <div *ngIf="app.value.modules" class="text-sm">
            <div class="mb-1 font-bold">Modules</div>
            <div *ngIf="app.value.modules && displayedDetailItem.bucket === 'TARGET'" formArrayName="modules">
              <div *ngFor="let mfe of moduleControls.controls; let i = index">
                <div
                  [formGroupName]="i"
                  [class.mb-4]="i < moduleControls.controls.length - 2"
                  class="ml-2 flex flex-column row-gap-0"
                >
                  <div class="mb-1 flex flex-row column-gap-2">
                    <span [id]="'ws_products_detail_mfe_' + i + '_exposed_module'" class="mr-2">
                      {{ mfe.controls['exposedModule'].value }}</span
                    >
                    <!-- mfe state -->
                    <span
                      *ngIf="mfe.controls['undeployed'].value"
                      [id]="'ws_products_detail_mfe_' + i + '_undeployed'"
                      class="danger-action-text pi pi-ban"
                      [pTooltip]="'DIALOG.PRODUCTS.MFES.UNDEPLOYED' | translate"
                      tooltipPosition="top"
                      tooltipEvent="hover"
                    >
                    </span>
                    <span
                      *ngIf="mfe.controls['deprecated'].value"
                      [id]="'ws_products_detail_mfe_' + i + '_deprecated'"
                      class="danger-action-text pi pi-exclamation-circle"
                      [pTooltip]="'DIALOG.PRODUCTS.MFES.DEPRECATED' | translate"
                      tooltipPosition="top"
                      tooltipEvent="hover"
                    >
                    </span>
                  </div>
                  <!-- mfe path - used as suffix ot the product base URL -->
                  <span controlErrorAnchor class="mt-2 p-float-label">
                    <input
                      pInputText
                      type="text"
                      class="w-full text-responsive"
                      [id]="'ws_products_detail_mfe_' + i + '_base_path'"
                      formControlName="basePath"
                      [pTooltip]="'PRODUCT.MFE.BASE_PATH.TOOLTIP' | translate"
                      tooltipPosition="top"
                      tooltipEvent="hover"
                    />
                    <label class="ocx-required-label" [for]="'ws_products_detail_mfe_' + i + '_base_path'">
                      {{ 'PRODUCT.MFE.BASE_PATH' | translate }}</label
                    >
                  </span>
                  <!-- mfe end points -->
                  <div *ngIf="mfe.controls['endpoints'] && mfe.controls['endpoints'].value.length > 0">
                    <div class="mt-2 font-bold">UI Endpoints</div>
                    <div
                      *ngFor="let ep of mfe.controls['endpoints'].value; let j = index"
                      [id]="'ws_products_detail_mfe_' + i + '_endpoint_' + j"
                      class="text-responsive"
                    >
                      {{ ep.name }} => {{ ep.path }}
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div *ngIf="app.value.modules && displayedDetailItem.bucket === 'SOURCE'">
              <div *ngFor="let smfe of app.value.modules; let i = index" class="flex flex-column row-gap-2">
                <div class="flex flex-row flex-nowrap column-gap-2">
                  <span [id]="'ws_products_detail_component_' + i + '_exposed_module'" class="mr-2">
                    {{ smfe.exposedModule }}</span
                  >
                  <span
                    *ngIf="smfe.undeployed"
                    [id]="'ws_products_detail_mfe_' + i + '_deprecated'"
                    class="danger-action-text pi pi-ban"
                    [pTooltip]="'DIALOG.PRODUCTS.MFES.UNDEPLOYED' | translate"
                    tooltipPosition="top"
                    tooltipEvent="hover"
                  >
                  </span>
                  <span
                    *ngIf="smfe.deprecated"
                    [id]="'ws_products_detail_mfe_' + i + '_deprecated'"
                    class="danger-action-text pi pi-exclamation-circle"
                    [pTooltip]="'DIALOG.PRODUCTS.MFES.DEPRECATED' | translate"
                    tooltipPosition="top"
                    tooltipEvent="hover"
                  >
                  </span>
                </div>
              </div>
            </div>
          </div>

          <div *ngIf="app.value.components" class="text-sm">
            <div class="mt-3 mb-1 font-bold">Components</div>
            <div
              *ngFor="let item of app.value.components; let i = index"
              class="ml-2 flex flex-row align-items-center column-gap-2"
            >
              <span [id]="'ws_products_detail_component_' + i + '_exposed_module'" class="mr-2 text-responsive">
                {{ item.exposedModule }}</span
              >
              <span
                *ngIf="item.undeployed"
                [id]="'ws_products_detail_component_' + i + '_undeployed'"
                class="danger-action-text pi pi-ban"
                [pTooltip]="'DIALOG.PRODUCTS.MFES.UNDEPLOYED' | translate"
                tooltipPosition="top"
                tooltipEvent="hover"
              >
              </span>
              <span
                *ngIf="item.deprecated"
                [id]="'ws_products_detail_component_' + i + '_deprecated'"
                class="danger-action-text pi pi-exclamation-circle"
                [pTooltip]="'DIALOG.PRODUCTS.MFES.DEPRECATED' | translate"
                tooltipPosition="top"
                tooltipEvent="hover"
              >
              </span>
            </div>
          </div>
        </div>

        <div *ngIf="displayedDetailItem.slots">
          <p-divider align="center" styleClass="mt-0 mb-1">
            <div class="px-3 font-bold text-primary">Slots</div></p-divider
          >
          <div
            *ngFor="let item of displayedDetailItem.slots; let i = index"
            class="ml-2 flex flex-row align-items-center column-gap-3"
          >
            <span [id]="'ws_products_detail_slot_' + i + '_name'" class="text-responsive">{{ item.name }}</span>
            <span
              *ngIf="item.undeployed"
              [id]="'ws_products_detail_slot_' + i + '_undeployed'"
              class="text-sm danger-action-text pi pi-ban"
              [pTooltip]="'DIALOG.SLOT.UNDEPLOYED' | translate"
              tooltipPosition="top"
              tooltipEvent="hover"
            >
            </span>
            <span
              *ngIf="item.deprecated"
              [id]="'ws_products_detail_slot_' + i + '_deprecated'"
              class="text-sm danger-action-text pi pi-exclamation-circle"
              [pTooltip]="'DIALOG.SLOT.DEPRECATED' | translate"
              tooltipPosition="top"
              tooltipEvent="hover"
            >
            </span>
            <a
              *ngIf="item.new"
              tabindex="0"
              [id]="'ws_products_detail_slot_' + i + '_new'"
              class="text-sm danger-action-text pi pi-plus-circle button-icon-only"
              (click)="onAddSlot($event, item)"
              [attr.aria-label]="'DIALOG.SLOT.NEW' | translate"
              [pTooltip]="'DIALOG.SLOT.NEW.TOOLTIP' | translate"
              tooltipPosition="top"
              tooltipEvent="hover"
            >
            </a>
          </div>
        </div>
      </div>

      <div class="mt-4 flex flex-wrap column-gap-2 row-gap-1 justify-content-end">
        <p-button
          id="ws_products_detail_action_close"
          icon="pi pi-times"
          (onClick)="onHideItemDetails()"
          [label]="'ACTIONS.NAVIGATION.CLOSE' | translate"
          [ariaLabel]="'ACTIONS.NAVIGATION.CLOSE' | translate"
          [pTooltip]="'ACTIONS.NAVIGATION.CLOSE.TOOLTIP' | translate"
          tooltipPosition="top"
          tooltipEvent="hover"
        ></p-button>
        <p-button
          *ngIf="hasRegisterPermission && displayedDetailItem.bucket === 'TARGET' && formGroup.valid"
          id="ws_products_detail_action_save"
          icon="pi pi-save"
          (onClick)="onProductSave($event)"
          [label]="'ACTIONS.SAVE' | translate"
          [ariaLabel]="'ACTIONS.SAVE' | translate"
          [pTooltip]="'ACTIONS.TOOLTIPS.SAVE' | translate"
          tooltipPosition="top"
          tooltipEvent="hover"
        ></p-button>
      </div>
    </form>
  </div>
</div>

<!-- PRODUCT DEREGISTRATION -->
<p-dialog
  [(visible)]="displayDeregisterConfirmation"
  [header]="'DIALOG.PRODUCTS.DEREGISTER' | translate"
  (onHide)="onDeregisterCancellation()"
  [modal]="true"
  [closable]="true"
  [resizable]="false"
  [dismissableMask]="true"
  [style]="{ width: '450px' }"
  styleClass="disable-max-height-preset"
>
  <div class="flex column-gap-4 row-gap-1 justify-content-start align-items-center">
    <div class="pi pi-question-circle text-3xl danger-action-text"></div>
    <div class="flex flex-column row-gap-2">
      <div id="ws_products_deregister_message" class="font-bold">
        {{ 'ACTIONS.DELETE.PRODUCT.MESSAGE' | translate }}
      </div>
      <div id="ws_products_deregister_message_info">{{ 'ACTIONS.DELETE.PRODUCT.MESSAGE_INFO' | translate }}</div>
      <div>{{ 'ACTIONS.DELETE.INFO' | translate }}</div>
    </div>
  </div>
  <ng-template pTemplate="footer">
    <div class="mt-3 flex flex-wrap column-gap-2 row-gap-1 justify-content-end">
      <p-button
        id="ws_products_deregister_action_no"
        icon="pi pi-times"
        (onClick)="onDeregisterCancellation()"
        [label]="'ACTIONS.CONFIRMATION.NO' | translate"
        [ariaLabel]="'ACTIONS.CONFIRMATION.NO' | translate"
        [pTooltip]="'ACTIONS.CONFIRMATION.NO.TOOLTIP' | translate"
        tooltipPosition="top"
        tooltipEvent="hover"
      ></p-button>
      <p-button
        id="ws_products_deregister_action_yes"
        icon="pi pi-check"
        (onClick)="onDeregisterConfirmation()"
        [label]="'ACTIONS.CONFIRMATION.YES' | translate"
        [ariaLabel]="'ACTIONS.CONFIRMATION.YES' | translate"
        [pTooltip]="'ACTIONS.CONFIRMATION.YES.TOOLTIP' | translate"
        tooltipPosition="top"
        tooltipEvent="hover"
      ></p-button>
    </div>
  </ng-template>
</p-dialog>
