@import 'src/_mixins.scss';

@include danger-action;
@include prepare-inputgroup;
@include picklist-zebra-rows;

:host ::ng-deep {
  .p-dialog .p-dialog-content {
    padding-top: 1rem;
    padding-bottom: 0;
    .p-inputgroup .p-float-label:first-child {
      width: unset;
    }
    .p-inputtext.slash {
      border-left: 0;
      border-right: 0;
    }
    .p-float-label,
    .p-float-label .p-dropdown {
      .p-inputtext {
        padding: 11px 8px 7px 8px;
      }
    }
  }
  .p-picklist {
    .p-picklist-header {
      text-align: center;
      color: var(--primary-text-color);
      background-color: var(--primary-color);
    }
    .p-picklist-list {
      height: 34.7rem;
      .p-picklist-item {
        padding: 0.2rem 0.5rem;
        border-bottom: var(--table-header-border);
        .product-item-table {
          display: table !important;
          .product-item-row {
            display: table-row !important;
            > * {
              display: table-cell !important;
            }
          }
        }
      }
    }
  }
}
