@import 'src/_ws_mixins.scss';

@include dialog-footer-buttons;

:host ::ng-deep {
  .p-tree {
    .p-tree-wrapper {
      padding-right: 1rem;
    }
    .p-tree-container .p-treenode {
      padding: 0rem;
      &:hover {
        cursor: pointer;
      }
      .p-treenode-content {
        padding: 0 0 !important;
        .p-tree-toggler {
          height: 1.7rem;
          margin-right: 0.1rem;
        }
        &:focus {
          outline: 0 none;
          outline-offset: 0;
          box-shadow: inset 0 0 0 0.1rem var(--primary-color);
        }
      }
    }
    .p-treenode-droppoint-active {
      background-color: var(--primary-color);
    }
  }
  .reduced-field-size {
    height: 2.3rem;
  }
  .lang-not-exists {
    color: var(--danger-button-bg) !important;
  }
  .item-disabled {
    opacity: 0.5;
  }
  .invisible {
    visibility: hidden;
  }
}
