footer-menu
@let menuItems = (menuItems$ | async) ?? [];
@if (menuItems.length > 0) {
  <ul class="m-0 p-0 sm:ml-2 p-panelmenu list-none flex flex-row column-gap-3 row-gap-2 align-items-center">
    @for (item of menuItems; track $index; let i = $index) {
      <li class="p-menuitem flex">
        {{ i }}
        {{ item.id }} {{ item.routerLink }}
        @if (item.routerLink) {
          hallo
          <a
            [id]="'ws_footer_menu_' + item.id + '_link'"
            class="p-2 p-menuitem-link"
            [routerLink]="item.routerLink"
            [target]="item.target"
          >
            {{ item.label }}
          </a>
        } @else if (item.url) {
          huhu
          <a
            [id]="'ws_footer_menu_' + item.id + '_href'"
            class="p-2 p-menuitem-link"
            [attr.href]="item.url"
            [target]="item.target"
          >
            {{ item.label }}
          </a>
        }
      </li>
    }
  </ul>
}
