<div *ngIf="properties" [class]="'p-inputtext theme-color-box flex p-0 w-14rem ' + styleClass">
  <div
    *ngIf="properties.general && properties.topbar"
    class="theme-color"
    [ngStyle]="{
      'background-color': properties.general['primary-color'],
      color: properties.topbar['topbar-text-color']
    }"
    [title]="'PORTAL_IMPORT.THEME_COLOR_PRIMARY' | translate"
  ></div>
  <div
    *ngIf="properties.general && properties.topbar"
    class="theme-color"
    [ngStyle]="{
      'background-color': properties.general['secondary-color'],
      color: properties.topbar['topbar-text-color']
    }"
    [title]="'PORTAL_IMPORT.THEME_COLOR_SECONDARY' | translate"
  ></div>
  <div
    *ngIf="properties.general && properties.topbar"
    class="theme-color"
    [ngStyle]="{ 'background-color': properties.general['text-color'], color: properties.topbar['topbar-text-color'] }"
    [title]="'PORTAL_IMPORT.THEME_COLOR_TEXT' | translate"
  ></div>
  <div
    *ngIf="properties.topbar"
    class="theme-color"
    [ngStyle]="{ 'background-color': properties.topbar['topbar-menu-button-bg-color'] }"
    [title]="'PORTAL_IMPORT.THEME_COLOR_TOP_MENU' | translate"
  ></div>
  <div
    *ngIf="properties.topbar"
    class="theme-color"
    [ngStyle]="{
      'background-color': properties.topbar['topbar-left-bg-color'],
      color: properties.topbar['topbar-text-color']
    }"
    [title]="'PORTAL_IMPORT.THEME_COLOR_TOP_LEFT' | translate"
  ></div>
</div>
