@import 'src/app/_ws-mixins.scss';

@include card-badges;
@include danger-action;
@include picklist-zebra-rows;
@include picklist-hide-double-buttons;
@include correct-select-button;
@include displaying-text-responsive;
@include readable-disabled-form-controls;
@include dialog-footer-buttons;

:host ::ng-deep {
  @media (max-width: 991px) {
    .p-dialog.p-dialog {
      max-height: unset !important;
      height: unset !important;
    }
  }
  .animation-delay-3000 {
    animation-delay: 3000ms !important;
  }
}
