<ocx-portal-page permission="WORKSPACE#VIEW" helpArticleId="PAGE_WORKSPACE_DETAIL" pageName="PAGE_WORKSPACE_DETAIL">
  @let workspace = (workspace$ | async) ?? undefined;
  <ocx-page-header
    [header]="Utils.limitText(workspace?.displayName, 70)"
    [subheader]="'DIALOG.WORKSPACE.HEADER.DETAIL' | translate"
    [actions]="(actions$ | async) ?? []"
    [figureImage]="currentLogoUrl"
    [figureBackground]="!currentLogoUrl"
  >
  </ocx-page-header>

  <ocx-content class="ocx-content">
    @if (loading) {
      <p-message
        id="ws_detail_loading_message"
        severity="info"
        styleClass="m-3"
        [text]="'ACTIONS.LOADING' | translate"
      ></p-message>
    } @else if (exceptionKey) {
      <p-message
        *ngIf="exceptionKey"
        id="ws_detail_error_message"
        severity="error"
        styleClass="m-3"
        [text]="exceptionKey | translate"
      ></p-message>
    }

    <p-tabs [lazy]="false" [(value)]="selectedTabIndex" (valueChange)="onTabChange($event, workspace)">
      <p-tablist>
        <p-tab
          value="0"
          *ocxIfPermission="'WORKSPACE#VIEW'"
          id="ws_detail_props"
          [ariaLabel]="'TABS.WORKSPACE.DETAILS' | translate"
          [pTooltip]="'TABS.WORKSPACE.TOOLTIPS.DETAILS' | translate"
          tooltipPosition="top"
          tooltipEvent="hover"
        >
          {{ 'TABS.WORKSPACE.DETAILS' | translate }}
        </p-tab>
        <p-tab
          value="1"
          *ocxIfPermission="'WORKSPACE_CONTACT#VIEW'"
          id="ws_detail_contact"
          [ariaLabel]="'TABS.WORKSPACE.CONTACT' | translate"
          [pTooltip]="'TABS.WORKSPACE.TOOLTIPS.CONTACT' | translate"
          tooltipPosition="top"
          tooltipEvent="hover"
        >
          {{ 'TABS.WORKSPACE.CONTACT' | translate }}
        </p-tab>
        <p-tab
          value="2"
          *ocxIfPermission="'WORKSPACE_INTERNAL#VIEW'"
          id="ws_detail_intern"
          [ariaLabel]="'INTERNAL.HEADER' | translate"
          [pTooltip]="'INTERNAL.TOOLTIP' | translate"
          tooltipPosition="top"
          tooltipEvent="hover"
        >
          {{ 'INTERNAL.HEADER' | translate }}
        </p-tab>
        <p-tab
          value="3"
          *ocxIfPermission="'WORKSPACE_ROLE#VIEW'"
          id="ws_detail_slots"
          [disabled]="editMode"
          [ariaLabel]="'TABS.WORKSPACE.ROLES' | translate"
          [pTooltip]="'TABS.WORKSPACE.TOOLTIPS.ROLES' | translate"
          tooltipPosition="top"
          tooltipEvent="hover"
        >
          {{ 'TABS.WORKSPACE.ROLES' | translate }}
        </p-tab>
        <p-tab
          value="4"
          *ocxIfPermission="'WORKSPACE_SLOT#VIEW'"
          id="ws_detail_slots"
          [disabled]="editMode"
          [ariaLabel]="'TABS.WORKSPACE.SLOTS' | translate"
          [pTooltip]="'TABS.WORKSPACE.TOOLTIPS.SLOTS' | translate"
          tooltipPosition="top"
          tooltipEvent="hover"
        >
          {{ 'TABS.WORKSPACE.SLOTS' | translate }}
        </p-tab>
        <p-tab
          value="5"
          *ocxIfPermission="'WORKSPACE_PRODUCTS#VIEW'"
          id="ws_detail_product"
          [disabled]="editMode"
          [ariaLabel]="'TABS.WORKSPACE.PRODUCTS' | translate"
          [pTooltip]="'TABS.WORKSPACE.TOOLTIPS.PRODUCTS' | translate"
          tooltipPosition="top"
          tooltipEvent="hover"
        >
          {{ 'TABS.WORKSPACE.PRODUCTS' | translate }}
        </p-tab>
      </p-tablist>
      <p-tabpanels>
        <!-- PROPS -->
        <p-tabpanel value="0">
          <div class="pt-2 pb-4 px-0 sm:px-3">
            <app-workspace-props
              [workspace]="workspace"
              [editMode]="editMode"
              [isLoading]="loading"
              (headerImageUrl)="onUpdateHeaderImageUrl($event)"
            ></app-workspace-props>
          </div>
        </p-tabpanel>
        <p-tabpanel value="1">
          <div class="pt-2 pb-4 px-0 sm:px-3">
            <app-workspace-contact [workspace]="workspace" [editMode]="editMode"></app-workspace-contact>
          </div>
        </p-tabpanel>
        <p-tabpanel value="2">
          <div class="pt-2 pb-4 px-0 sm:px-3">
            <app-workspace-intern
              [workspace]="workspace"
              [editMode]="editMode"
              [dateFormat]="dateFormat"
            ></app-workspace-intern>
          </div>
        </p-tabpanel>
        <p-tabpanel value="3">
          <app-workspace-roles [workspace]="workspaceForRoles"></app-workspace-roles>
        </p-tabpanel>
        <p-tabpanel value="4">
          <app-workspace-slots [workspace]="workspaceForSlots"></app-workspace-slots>
        </p-tabpanel>
        <p-tabpanel value="5">
          <app-products [workspace]="workspaceForProducts" (changed)="onProductChanges()"></app-products>
        </p-tabpanel>
      </p-tabpanels>
    </p-tabs>
  </ocx-content>
</ocx-portal-page>

<!-- DELETE -->
<p-dialog
  #workspaceDelete
  [(visible)]="workspaceDeleteVisible"
  [header]="'DIALOG.WORKSPACE.HEADER.DELETE' | translate"
  [modal]="true"
  [closable]="true"
  [draggable]="true"
  [resizable]="false"
  [dismissableMask]="true"
  [style]="{ 'max-width': '425px' }"
  styleClass="disable-max-height-preset"
>
  <div class="flex column-gap-3 row-gap-1 justify-content-start align-items-center">
    <div class="pi pi-question-circle text-3xl danger-action-text"></div>
    <div class="flex flex-column row-gap-3">
      <p-message
        *ngIf="workspace?.mandatory"
        id="th_delete_reject_mandatory_message"
        severity="info"
        [text]="'ACTIONS.DELETE.WORKSPACE.MESSAGE.REJECT_MANDATORY' | translate"
      ></p-message>
      @if (!workspace?.mandatory) {
        <div class="flex flex-column row-gap-2">
          <div id="ws_delete_message" class="font-bold">
            {{ 'ACTIONS.DELETE.WORKSPACE.MESSAGE.QUESTION' | translate }}
          </div>
          <div>
            <div id="ws_delete_workspace_display_name" class="font-bold text-center danger-action-text">
              {{ workspace?.displayName }}
            </div>
            <div id="ws_delete_workspace_name" class="font-bold text-center danger-action-text text-sm">
              ({{ workspace?.name }})
            </div>
          </div>
          @if (!workspace?.operator) {
            <div>{{ 'ACTIONS.DELETE.INFO' | translate }}</div>
          }
          <p-message
            *ngIf="workspace?.operator"
            id="ws_delete_operator_hint"
            severity="info"
            styleClass="mt-1"
            [text]="'ACTIONS.DELETE.WORKSPACE.MESSAGE.INFO_OPERATOR' | translate"
          ></p-message>
        </div>
      }
    </div>
  </div>

  <ng-template pTemplate="footer">
    <div class="mt-3 flex flex-wrap column-gap-2 row-gap-1 justify-content-end">
      @if (workspace?.mandatory) {
        <p-button
          id="ws_delete_action_close"
          icon="pi pi-times"
          (onClick)="workspaceDeleteVisible = false"
          [label]="'ACTIONS.NAVIGATION.CLOSE' | translate"
          [ariaLabel]="'ACTIONS.NAVIGATION.CLOSE' | translate"
          [pTooltip]="'ACTIONS.NAVIGATION.CLOSE.TOOLTIP' | translate"
          tooltipPosition="top"
          tooltipEvent="hover"
        ></p-button>
      } @else {
        <p-button
          id="ws_delete_action_no"
          icon="pi pi-times"
          (onClick)="workspaceDeleteVisible = false"
          [label]="'ACTIONS.CONFIRMATION.NO' | translate"
          [ariaLabel]="'ACTIONS.CONFIRMATION.NO' | translate"
          [pTooltip]="'ACTIONS.CONFIRMATION.NO.TOOLTIP' | translate"
          tooltipPosition="top"
          tooltipEvent="hover"
        ></p-button>
        <p-button
          id="ws_delete_action_yes"
          icon="pi pi-check"
          (onClick)="onConfirmDeleteWorkspace()"
          [label]="'ACTIONS.CONFIRMATION.YES' | translate"
          [ariaLabel]="'ACTIONS.CONFIRMATION.YES' | translate"
          [pTooltip]="'ACTIONS.CONFIRMATION.YES.TOOLTIP' | translate"
          tooltipPosition="top"
          tooltipEvent="hover"
        ></p-button>
      }
    </div>
  </ng-template>
</p-dialog>

<app-workspace-export
  [(workspaceExportVisible)]="workspaceExportVisible"
  [workspace]="workspace!"
></app-workspace-export>
