<div class="my-3">
  <form [formGroup]="formGroup" errorTailor class="flex flex-wrap align-items-top gap-4">
    <div>
      <span class="p-float-label" controlErrorAnchor>
        <input
          pInputText
          type="text"
          class="w-16rem"
          id="ws_import_preview_workspace_name"
          formControlName="name"
          (keyup)="onModelChange()"
          [attr.aria-label]="'WORKSPACE_IMPORT.WORKSPACE_NAME' | translate"
          [pTooltip]="'WORKSPACE_IMPORT.WORKSPACE_NAME.TOOLTIP' | translate"
          tooltipPosition="top"
          tooltipEvent="hover"
        />
        <label class="ocx-required-label" for="ws_import_preview_workspace_name">
          {{ 'WORKSPACE_IMPORT.WORKSPACE_NAME' | translate }}
        </label>
      </span>
    </div>
    <div>
      <ocx-slot
        *ngIf="isThemeComponentDefined$ | async"
        [name]="slotName"
        [inputs]="{ dataType: 'themes' }"
        [outputs]="{ themes: themesEmitter }"
      >
      </ocx-slot>

      <div *ngIf="(themes$ | async) ?? [importTheme] as themes">
        <span class="p-float-label" controlErrorAnchor>
          <p-dropdown
            id="ws_import_preview_theme"
            formControlName="theme"
            styleClass="w-16rem inputgroup-dropdown-with-link input-field-correction"
            [options]="checkAndExtendThemes(themes)"
            optionLabel="displayName"
            optionValue="name"
            (onChange)="onModelChange()"
            [ariaLabel]="'WORKSPACE.THEME' | translate"
            [pTooltip]="'WORKSPACE_IMPORT.THEME_NAME.TOOLTIP' | translate"
            tooltipPosition="top"
            tooltipEvent="hover"
          >
          </p-dropdown>
          <label class="ocx-required-label" for="ws_import_preview_theme">{{ 'WORKSPACE.THEME' | translate }} </label>
        </span>
      </div>
    </div>
    <div>
      <span class="p-float-label" controlErrorAnchor>
        <input
          pInputText
          type="text"
          class="w-16rem"
          id="ws_import_preview_base_url"
          formControlName="baseUrl"
          (keyup)="onModelChange()"
          [attr.aria-label]="'WORKSPACE.BASE_URL' | translate"
          [pTooltip]="'WORKSPACE_IMPORT.BASE_URL.TOOLTIP' | translate"
          tooltipPosition="top"
          tooltipEvent="hover"
        />
        <label class="ocx-required-label" for="ws_import_preview_base_url">
          {{ 'WORKSPACE.BASE_URL' | translate }}
        </label>
      </span>
    </div>
    <div>
      <span class="p-float-label" controlErrorAnchor>
        <input
          pInputText
          type="text"
          class="w-16rem"
          id="ws_import_preview_display_name"
          formControlName="displayName"
          (keyup)="onModelChange()"
          [attr.aria-label]="'WORKSPACE.DISPLAY_NAME' | translate"
          [pTooltip]="'WORKSPACE_IMPORT.DISPLAY_NAME.TOOLTIP' | translate"
          tooltipPosition="top"
          tooltipEvent="hover"
        />
        <label class="ocx-required-label" for="ws_import_preview_display_name">
          {{ 'WORKSPACE.DISPLAY_NAME' | translate }}
        </label>
      </span>
    </div>
    <div class="flex justify-content-center align-items-center">
      <p-checkbox
        #checkMandatory
        inputId="ws_import_preview_mandatory"
        styleClass="cursor-pointer shadow-none"
        formControlName="mandatory"
        (onChange)="onModelChange()"
        [binary]="true"
        [label]="'INTERNAL.MANDATORY' | translate"
        [ariaLabel]="'INTERNAL.MANDATORY' | translate"
        [pTooltip]="'INTERNAL.TOOLTIPS.MANDATORY' | translate"
        tooltipPosition="top"
        tooltipEvent="hover"
      >
        <!-- simplifies aria appearance-->
        <ng-template pTemplate="icon">
          <span class="pi" [ngClass]="checkMandatory.value ? 'pi-check-square' : 'pi-check'"></span>
        </ng-template>
      </p-checkbox>
    </div>
  </form>
  <!-- Workspace Collections: Menu, Roles, Products -->
  <p-tabView styleClass="mt-4">
    <p-tabPanel
      [header]="'TABS.WORKSPACE.MENU' | translate"
      [attr.aria-label]="'TABS.WORKSPACE.MENU' | translate"
      [tooltip]="'TABS.WORKSPACE.TOOLTIPS.MENU' | translate"
      tooltipPosition="top"
      tooltipEvent="focus|hover"
    >
      <div class="my-1 mx-2 max-h-13rem overflow-auto">
        <p-tree
          styleClass="p-0"
          id="ws_import_preview_menu"
          [value]="menuItems"
          [emptyMessage]="'DIALOG.MENU.MENU_NOT_EXIST' | translate"
        ></p-tree>
      </div>
    </p-tabPanel>
    <p-tabPanel
      [header]="'TABS.WORKSPACE.ROLES' | translate"
      [attr.aria-label]="'TABS.WORKSPACE.ROLES' | translate"
      [tooltip]="'TABS.WORKSPACE.TOOLTIPS.ROLES' | translate"
      tooltipPosition="top"
      tooltipEvent="focus|hover"
    >
      <div class="my-1 mx-2 max-h-10rem overflow-auto">
        <ng-container *ngIf="workspaceRoles.length === 0" id="ws_import_preview_roles_not_exist">
          {{ 'ROLE.ROLES_NOT_EXIST' | translate }}
        </ng-container>
        <ng-container *ngIf="workspaceRoles.length > 0" id="ws_import_preview_roles">
          {{ workspaceRoles.sort(sortByLocale).join(', ') }}
        </ng-container>
      </div>
    </p-tabPanel>
    <p-tabPanel
      [header]="'TABS.WORKSPACE.PRODUCTS' | translate"
      [attr.aria-label]="'TABS.WORKSPACE.PRODUCTS' | translate"
      [tooltip]="'TABS.WORKSPACE.TOOLTIPS.PRODUCTS' | translate"
      tooltipPosition="top"
      tooltipEvent="focus|hover"
    >
      <div class="mt-1 mb-2 mx-2 max-h-10rem overflow-auto">
        <ng-container *ngIf="workspaceProducts.length === 0" id="ws_import_preview_products_not_exist">
          {{ 'DIALOG.PRODUCTS.MESSAGES.NOTHING_REGISTERED' | translate }}
        </ng-container>
        <ng-container *ngIf="workspaceProducts.length > 0" id="ws_import_preview_products">
          {{ workspaceProducts.sort(sortByLocale).join(', ') }}
        </ng-container>
      </div>
      <p-message
        *ngIf="workspaceProducts.length > 0"
        id="ws_import_preview_product_hint"
        severity="info"
        [text]="'WORKSPACE_IMPORT.PRODUCT_HINT' | translate"
      ></p-message>
    </p-tabPanel>
  </p-tabView>
</div>
