<form [formGroup]="formGroup" errorTailor>
  <div class="px-1">
    <div class="flex flex-wrap align-items-center gap-3">
      <div>
        <span class="p-float-label" controlErrorAnchor>
          <input
            pInputText
            type="text"
            id="workspace_import_preview_workspace_name"
            (keyup)="onModelChange()"
            formControlName="workspaceName"
            readonly
          />
          <label class="ocx-required-label" for="workspace_import_preview_workspace_name">
            {{ 'WORKSPACE.NAME' | translate }}
          </label>
        </span>
      </div>
      <div>
        <span class="p-float-label" controlErrorAnchor *ngIf="themeName">
          <input
            pInputText
            type="text"
            id="workspace_import_preview_theme_name"
            [title]="'THEME.TOOLTIPS.NAME' | translate"
            (keyup)="onModelChange()"
            formControlName="themeName"
          />
          <label class="ocx-required-label" for="workspace_import_preview_theme_name">
            {{ 'WORKSPACE.THEME' | translate }}
          </label>
        </span>
        <span class="p-float-label w-16rem" controlErrorAnchor *ngIf="!themeName">
          <p-dropdown
            #inputThemeName
            id="workspace_import_preview_themeName"
            formControlName="themeName"
            styleClass="w-full inputgroup-dropdown-with-link input-field-correction"
            [options]="(themes$ | async) || []"
            (onChange)="onThemeChange($event)"
          >
            [pTooltip]="'WORKSPACE.THEME' | translate" tooltipPosition="top" tooltipEvent="focus" >
          </p-dropdown>
          <label class="ocx-required-label" for="workspace_import_preview_themeName">
            {{ 'WORKSPACE.THEME' | translate }}
          </label>
        </span>
      </div>
      <!-- <app-theme-color-box
        *ngIf="themeProperties"
        id="workspace_import_preview_theme_color_box"
        [properties]="themeProperties"
        styleClass="h-inputtext w-15rem"
      /> -->
      <!-- <p-message
        *ngIf="!themeProperties"
        id="workspace_import_preview_message_theme_not_exists"
        severity="info"
        [text]="'WORKSPACE_IMPORT.VALIDATION_THEME_NOT_EXIST' | translate"
      ></p-message> -->
    </div>

    <div class="mt-4">
      <span class="p-float-label" controlErrorAnchor>
        <input
          pInputText
          type="text"
          id="workspace_import_preview_base_url"
          (keyup)="onModelChange()"
          formControlName="baseUrl"
        />
        <label class="ocx-required-label" for="workspace_import_preview_base_url">
          {{ 'WORKSPACE.BASE_URL' | translate }}
        </label>
      </span>
    </div>

    <p-tabView styleClass="mt-3 mb-2">
      <p-tabPanel [header]="'WORKSPACE_IMPORT.PREVIEW_MENU' | translate">
        <p-tree
          styleClass="py-1 px-0 max-h-25rem overflow-y-auto"
          id="workspace_import_preview_menu"
          [value]="menuItems"
        ></p-tree>
      </p-tabPanel>
      <p-tabPanel [header]="'TABS.WORKSPACE.ROLES' | translate">
        <div class="mt-1 mb-2 mx-3">
          <div *ngIf="workspaceRoles.length === 0">{{ 'ROLE.ROLES_NOT_EXIST' | translate }}</div>
          <div *ngIf="workspaceRoles.length > 0">{{ workspaceRoles.join(', ') }}</div>
        </div>
      </p-tabPanel>
      <!-- <p-tabPanel [header]="'WORKSPACE.TABS.MFES' | translate">
        <div *ngIf="portalMfes.length === 0" class="mt-1 mb-2 mx-3">{{ 'DETAIL.MFES_NOT_EXIST' | translate }}</div>
        <table *ngIf="portalMfes.length > 0">
          <tr *ngFor="let mfe of portalMfes">
            <td class="pb-1 px-4">{{ mfe.mfeId }}</td>
            <td class="pb-1 px-4">{{ mfe.baseUrl }}</td>
          </tr>
        </table>
      </p-tabPanel> -->
    </p-tabView>
  </div>
</form>
