@import 'src/app/_ws-mixins.scss';

@include dialog-modal-dialog-content;
@include dropdown-zebra-rows;

:host ::ng-deep {
  .p-tree {
    border: unset;
    .p-tree-container .p-treenode .p-treenode-content {
      padding: 0 0 !important;
      .p-tree-toggler {
        width: unset;
        height: unset;
        margin-right: 0.2rem;
      }
    }
  }
}
