<form [formGroup]="formGroup" errorTailor>
  <div class="mt-3 flex flex-wrap align-items-top gap-3">
    <div>
      <span class="p-float-label" controlErrorAnchor>
        <input
          pInputText
          type="text"
          class="w-16rem"
          id="workspace_import_preview_workspace_name"
          formControlName="workspaceName"
          (keyup)="onModelChange()"
          [pTooltip]="'WORKSPACE_IMPORT.WORKSPACE_NAME.TOOLTIP' | translate"
          tooltipPosition="top"
          tooltipEvent="hover"
        />
        <label class="ocx-required-label" for="workspace_import_preview_workspace_name">
          {{ 'WORKSPACE_IMPORT.WORKSPACE_NAME' | translate }}
        </label>
      </span>
    </div>
    <div>
      <span class="p-float-label aw-16rem" controlErrorAnchor>
        <p-dropdown
          #inputThemeName
          id="workspace_import_preview_themeName"
          formControlName="themeName"
          styleClass="w-16rem inputgroup-dropdown-with-link input-field-correction"
          [options]="(themes$ | async) || [themeName]"
          (onChange)="onThemeChange($event)"
          [pTooltip]="'WORKSPACE_IMPORT.THEME_NAME.TOOLTIP' | translate"
          tooltipPosition="top"
          tooltipEvent="hover"
        >
        </p-dropdown>
        <label class="ocx-required-label" for="workspace_import_preview_themeName">
          {{ 'WORKSPACE.THEME' | translate }}
        </label>
      </span>
    </div>
    <div>
      <span class="p-float-label" controlErrorAnchor>
        <input
          pInputText
          type="text"
          class="w-16rem"
          id="workspace_import_preview_base_url"
          formControlName="baseUrl"
          (keyup)="onModelChange()"
          [pTooltip]="'WORKSPACE_IMPORT.BASE_URL.TOOLTIP' | translate"
          tooltipPosition="top"
          tooltipEvent="hover"
        />
        <label class="ocx-required-label" for="workspace_import_preview_base_url">
          {{ 'WORKSPACE.BASE_URL' | translate }}
        </label>
      </span>
    </div>
  </div>

  <p-tabView styleClass="mt-4 mb-2">
    <p-tabPanel
      [header]="'TABS.WORKSPACE.MENU' | translate"
      [tooltip]="'TABS.WORKSPACE.TOOLTIPS.MENU' | translate"
      tooltipPosition="top"
      tooltipEvent="focus|hover"
    >
      <div class="mb-1 mx-3">
        <p-tree
          styleClass="py-1 px-0 max-h-25rem overflow-y-auto"
          id="workspace_import_preview_menu"
          [value]="menuItems"
          [emptyMessage]="'DIALOG.MENU.MENU_NOT_EXIST' | translate"
        ></p-tree>
      </div>
    </p-tabPanel>
    <p-tabPanel
      [header]="'TABS.WORKSPACE.ROLES' | translate"
      [tooltip]="'TABS.WORKSPACE.TOOLTIPS.ROLES' | translate"
      tooltipPosition="top"
      tooltipEvent="focus|hover"
    >
      <div class="mt-1 mb-2 mx-3">
        <div *ngIf="workspaceRoles.length === 0">{{ 'ROLE.ROLES_NOT_EXIST' | translate }}</div>
        <div *ngIf="workspaceRoles.length > 0">{{ workspaceRoles.join(', ') }}</div>
      </div>
    </p-tabPanel>
    <p-tabPanel
      [header]="'TABS.WORKSPACE.PRODUCTS' | translate"
      [tooltip]="'TABS.WORKSPACE.TOOLTIPS.PRODUCTS' | translate"
      tooltipPosition="top"
      tooltipEvent="focus|hover"
    >
      <div class="mt-1 mb-2 mx-3">
        <div *ngIf="workspaceProducts.length === 0">{{ 'PRODUCTS.MESSAGES.NOTHING_REGISTERED' | translate }}</div>
        <div *ngIf="workspaceProducts.length > 0">{{ workspaceProducts.join(', ') }}</div>
      </div>
    </p-tabPanel>
  </p-tabView>
</form>
