:host ::ng-deep {
  .p-dataview .p-dataview-header,
  .p-datatable .p-datatable-header {
    padding: 0.2rem 0.2rem 0.9rem 0.75rem;
  }
  .p-dialog .p-dialog-content {
    padding-top: 1rem;
    padding-bottom: 0;
    .p-inputgroup .p-float-label:first-child {
      width: unset;
    }
    .p-inputtext.slash {
      border-left: 0;
      border-right: 0;
    }
    .p-float-label,
    .p-float-label .p-dropdown {
      .p-inputtext {
        padding: 11px 8px 7px 8px;
      }
    }
  }
}
