:host ::ng-deep {
  .p-dataview .p-dataview-header,
  .p-datatable .p-datatable-header {
    padding: 0.2rem 0.2rem 0.9rem 0.75rem;
    .data-view-control-border {
      border-top-left-radius: var(--border-radius);
      border-bottom-left-radius: var(--border-radius);
    }
  }
  .p-dialog .p-dialog-content {
    padding-top: 1rem;
    padding-bottom: 0;
    .p-inputgroup .p-float-label:first-child {
      width: unset;
    }
    .p-inputtext.slash {
      border-left: 0;
      border-right: 0;
    }
    .p-float-label,
    .p-float-label .p-dropdown {
      .p-inputtext {
        padding: 11px 8px 7px 8px;
      }
    }
  }
  .card-badge-right {
    display: inline-block;
    position: absolute;
    opacity: 0.7;
    right: 4px;
    &.badge-1 {
      top: 5px;
    }
    &.badge-2 {
      top: 35px;
    }
    &:hover {
      opacity: 1;
    }
  }
  .pseudo-button-link {
    border-radius: var(--border-radius);
    &:hover {
      color: var(--primary-color-text);
      background: var(--button-hover-bg);
      cursor: pointer;
    }
  }
}
