.angular/**
.husky/**
.docusaurus/
.github/**
.scannerwork/
.dockerignore
.prettierignore
.browserslistrc
.eslintcache
dist/**
helm/**
nginx/**
reports/**
node_modules
LICENSE
CHANGELOG.md
README.md
Dockerfile
*.log
*.sh
src/app/shared/generated/**
src/assets/api
