.angular/**
.husky/**
.docusaurus/
.github/**
.scannerwork/
.prettierignore
.browserslistrc
dist/**
helm/**
nginx/**
reports/**
node_modules
CHANGELOG.md
README.md
Dockerfile
*.log
*.sh
src/app/shared/generated/**
src/app/api/*
src/app/model/*
