<!-- <ng-container *ngIf="activeMode$ | async as activeMode">
  <div [hidden]="isHidden$ | async">
    <ng-container [ngSwitch]="activeMode">
      <ng-container *ngSwitchCase="Mode.SLIM">
        <div style="width: 5rem">
          <p>slim menu</p>
        </div>
      </ng-container>
      <ng-container *ngSwitchCase="Mode.SLIM_PLUS">
        <div style="width: 8rem">
          <p>slim plus menu</p>
        </div>
      </ng-container>
    </ng-container>
  </div>
</ng-container> -->
<div>
  <p>Slim!</p>
</div>
