@let vm =
  {
    activeMode: activeMode$ | async,
    isHidden: isHidden$ | async,
    avatarImageLoaded: avatarImageLoaded$ | async,
    displayName: displayName$ | async,
    menuItems: menuItems$ | async
  };
@if (vm && vm.activeMode && vm.activeMode !== Mode.INACTIVE) {
  <div
    id="ws_slim_user_sidebar_menu"
    class="slim-user-menu"
    [ngClass]="{
      'slim-user-menu-slim': vm.activeMode === Mode.SLIM,
      'slim-user-menu-slim-plus': vm.activeMode === Mode.SLIM_PLUS
    }"
    [hidden]="vm.isHidden"
  >
    <p-accordion>
      <p-accordion-panel value="0">
        <p-accordion-header>
          <!-- no toggle icon -->
          <ng-template #toggleicon> </ng-template>
          <!-- content -->
          <div
            id="ws_slim_user_sidebar_header"
            class="slim-user-menu-header flex flex-column row-gap-1 align-items-center justify-content-center"
            [ngClass]="{
              'slim-user-menu-header-plus': vm.activeMode === Mode.SLIM_PLUS
            }"
            [style]="'height: 3rem;'"
            [pTooltip]="('REMOTES.SLIM_USER_MENU.TOOLTIP' | translate) + '<br/>' + vm.displayName"
            [escape]="false"
            tooltipPosition="right"
            tooltipEvent="both"
          >
            <ocx-slot
              name="onecx-avatar-image"
              [inputs]="{
                id: 'ws_slim_user_sidebar_action_user_avatar_image',
                imageType: 'medium',
                imageStyle: 'max-height: 2.5rem; max-width: 2.5rem; '
              }"
              [outputs]="{ imageLoaded: avatarImageLoadedEmitter }"
            >
            </ocx-slot>
            @if (vm.avatarImageLoaded === undefined) {
              <div class="p-2 slim-user-menu-header-icon pi pi-user"></div>
            }
          </div>
        </p-accordion-header>
        <p-accordion-content>
          @if (vm.menuItems) {
            <ul
              id="ws_slim_user_sidebar_menu_list"
              class="m-0 p-0 pb-2 flex flex-column align-items-center justify-content-center list-none"
            >
              @for (item of vm.menuItems; track item; let i = $index) {
                <li
                  app-slim-menu-item
                  [id]="'ws_slim_user_sidebar_menu_list_item_' + (i + 1)"
                  [item]="item"
                  [index]="i"
                  [activeMode]="vm.activeMode"
                ></li>
              }
            </ul>
          }
        </p-accordion-content>
      </p-accordion-panel>
    </p-accordion>
  </div>
}
