// Overriding styles since user sidebar menu component overrides with ::ng-deep
// and we need to ensure our styles take precedence
::ng-deep {
  .slim-user-menu {
    .p-accordion {
      width: 100%;
    }
  }
}

.slim-user-menu-slim {
  width: 5rem;
}

.slim-user-menu-slim-plus {
  width: 8rem;
}

.slim-user-menu-header {
  width: 100%;
  color: var(--menu-item-text-color, var(--text-secondary-color, #000000));
  background-color: var(--menu-item-bg-color, var(--menu-bg-color), #f7f7f7);
  & :hover,
  & :focus {
    background-color: var(--menu-item-hover-bg-color, #e0e0e0);
  }
}

.slim-user-menu-header-button {
  width: 100%;
  color: var(--menu-item-text-color, var(--text-secondary-color, #000000));
  background-color: var(--menu-item-bg-color, var(--menu-bg-color), #f7f7f7);
}

.slim-user-menu-header-button-icon {
  width: 100%;
  font-size: calc(var(--font-size, var(--font-size-default, 1.25rem)) * 1.5);
}

.slim-user-menu-header-button-text {
  width: 100%;
  overflow-wrap: break-word;
  font-size: var(--font-size);
  display: block;
  text-align: center;
}

.slim-user-menu-header-button-plus {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}
