<div class="surface-section my-2 px-3">
  <div class="flex flex-wrap flex-column row-gap-4 w-12 md:w-10 lg:w-8 xl:w-6">
    <form [formGroup]="formGroup">
      <div class="flex flex-wrap flex-column gap-4 justify-content-between">
        <span class="p-float-label mb-1" controlErrorAnchor>
          <input
            pInputText
            type="text"
            id="workspace_detail_item_companyName"
            class="w-full pt-3 pb-2"
            formControlName="companyName"
            [pTooltip]="'WORKSPACE.COMPANY_NAME' | translate"
            tooltipPosition="top"
            tooltipEvent="hover"
          />
          <label for="workspace_detail_item_companyName">{{ 'WORKSPACE.COMPANY_NAME' | translate }}</label>
        </span>

        <span class="p-float-label mb-1" controlErrorAnchor>
          <input
            pInputText
            type="text"
            id="workspace_detail_item_phoneNumber"
            class="w-full pt-3 pb-2"
            formControlName="phoneNumber"
            [pTooltip]="'WORKSPACE.PHONE_NUMBER' | translate"
            tooltipPosition="top"
            tooltipEvent="hover"
          />
          <label for="workspace_detail_item_phoneNumber">{{ 'WORKSPACE.PHONE_NUMBER' | translate }}</label>
        </span>

        <span class="p-float-label mb-1" controlErrorAnchor>
          <input
            pInputText
            type="text"
            id="workspace_detail_item_street"
            class="w-full pt-3 pb-2"
            formControlName="street"
            [pTooltip]="'WORKSPACE.STREET' | translate"
            tooltipPosition="top"
            tooltipEvent="hover"
          />
          <label for="workspace_detail_item_street">{{ 'WORKSPACE.STREET' | translate }}</label>
        </span>

        <span class="p-float-label mb-1" controlErrorAnchor>
          <input
            pInputText
            type="text"
            id="workspace_detail_item_street_no"
            class="w-full pt-3 pb-2"
            formControlName="streetNo"
            [pTooltip]="'WORKSPACE.STREET_NO' | translate"
            tooltipPosition="top"
            tooltipEvent="hover"
          />
          <label for="workspace_detail_item_street_no">{{ 'WORKSPACE.STREET_NO' | translate }}</label>
        </span>

        <span class="p-float-label mb-1" controlErrorAnchor>
          <input
            pInputText
            type="text"
            id="workspace_detail_item_city"
            class="w-full pt-3 pb-2"
            formControlName="city"
            [pTooltip]="'WORKSPACE.CITY' | translate"
            tooltipPosition="top"
            tooltipEvent="hover"
          />
          <label for="workspace_detail_item_city">{{ 'WORKSPACE.CITY' | translate }}</label>
        </span>

        <span class="p-float-label mb-1" controlErrorAnchor>
          <input
            pInputText
            type="text"
            id="workspace_detail_item_postalCode"
            class="w-full pt-3 pb-2"
            formControlName="postalCode"
            [pTooltip]="'WORKSPACE.POSTAL_CODE' | translate"
            tooltipPosition="top"
            tooltipEvent="hover"
          />
          <label for="workspace_detail_item_postalCode">{{ 'WORKSPACE.POSTAL_CODE' | translate }}</label>
        </span>

        <span class="p-float-label mb-1" controlErrorAnchor>
          <input
            pInputText
            type="text"
            id="workspace_detail_item_country"
            class="w-full pt-3 pb-2"
            formControlName="country"
            [pTooltip]="'WORKSPACE.COUNTRY' | translate"
            tooltipPosition="top"
            tooltipEvent="hover"
          />
          <label for="workspace_detail_item_country">{{ 'WORKSPACE.COUNTRY' | translate }}</label>
        </span>
      </div>
    </form>
  </div>
</div>
