<img
  *ngIf="!displayDefaultLogo"
  [id]="id"
  [class]="'image-object ' + (styleClass ?? '')"
  [ocxSrc]="displayImageUrl"
  (error)="onImageError()"
  [alt]="'DIALOG.LOGO.LABEL' | translate"
  [pTooltip]="title"
  tooltipPosition="top"
  tooltipEvent="hover"
/>
<img
  *ngIf="displayDefaultLogo"
  [id]="id"
  [class]="'image-object ' + (styleClass ?? '')"
  [src]="defaultImageUrl$ | async"
  [alt]="'DIALOG.LOGO.PLACEHOLDER' | translate"
  [pTooltip]="title"
  tooltipPosition="top"
  tooltipEvent="hover"
/>
