<img
  *ngIf="!displayDefaultLogo"
  [id]="id"
  [class]="'image-object image-' + (small ? 'sm' : 'lg') + ' sm:image-lg ' + (styleClass ? styleClass : '')"
  [ocxSrc]="displayImageUrl"
  (error)="onImageError()"
  [alt]="'DIALOG.LOGO.LABEL' | translate"
  [pTooltip]="title"
  tooltipPosition="top"
  tooltipEvent="hover"
/>
<img
  *ngIf="displayDefaultLogo"
  [id]="id"
  [class]="'image-object image-' + (small ? 'sm' : 'lg') + ' sm:image-lg ' + (styleClass ? styleClass : '')"
  [src]="defaultImageUrl$ | async"
  [alt]="'DIALOG.LOGO.PLACEHOLDER' | translate"
  [pTooltip]="title"
  tooltipPosition="top"
  tooltipEvent="hover"
/>
