<div class="flex flex-wrap flex-column row-gap-4 my-3 w-12">
  <div class="flex flex-wrap gap-4">
    <div class="w-12 sm:w-3">
      <span class="p-float-label">
        <input
          pInputText
          type="text"
          readonly
          id="ws_menu_intern_field_creationDate"
          class="w-full pt-3 pb-2 text-responsive"
          [value]="menuItem?.creationDate | date: dateFormat"
          [pTooltip]="'INTERNAL.TOOLTIPS.CREATION_DATE' | translate"
          tooltipPosition="top"
          tooltipEvent="focus"
        />
        <label for="ws_menu_intern_field_creationDate">{{ 'INTERNAL.CREATION_DATE' | translate }}</label>
      </span>
    </div>
    <div class="w-12 sm:w-7">
      <span class="p-float-label">
        <input
          pInputText
          type="text"
          readonly
          id="ws_menu_intern_field_creationUser"
          class="w-full pt-3 pb-2 text-responsive"
          [value]="menuItem?.creationUser"
          [pTooltip]="'INTERNAL.TOOLTIPS.CREATION_USER' | translate"
          tooltipPosition="top"
          tooltipEvent="focus"
        />
        <label for="ws_menu_intern_field_creationUser">{{ 'INTERNAL.CREATION_USER' | translate }}</label>
      </span>
    </div>
  </div>

  <div class="flex flex-wrap gap-4">
    <div class="w-12 sm:w-3">
      <span class="p-float-label">
        <input
          pInputText
          type="text"
          readonly
          id="ws_menu_intern_field_modificationDate"
          class="w-full pt-3 pb-2 text-responsive"
          [value]="menuItem?.modificationDate | date: dateFormat"
          [pTooltip]="'INTERNAL.TOOLTIPS.MODIFICATION_DATE' | translate"
          tooltipPosition="top"
          tooltipEvent="focus"
        />
        <label for="ws_menu_intern_field_modificationDate">{{ 'INTERNAL.MODIFICATION_DATE' | translate }}</label>
      </span>
    </div>

    <div class="w-12 sm:w-7">
      <span class="p-float-label">
        <input
          pInputText
          type="text"
          readonly
          id="ws_menu_intern_field_modificationUser"
          class="w-full pt-3 pb-2 text-responsive"
          [value]="menuItem?.modificationUser"
          [pTooltip]="'INTERNAL.TOOLTIPS.MODIFICATION_USER' | translate"
          tooltipPosition="top"
          tooltipEvent="focus"
        />
        <label for="ws_menu_intern_field_modificationUser">{{ 'INTERNAL.MODIFICATION_USER' | translate }}</label>
      </span>
    </div>
  </div>
</div>
