@import 'src/_mixins.scss';

@include danger-action;
@include correct-data-view-control;

:host ::ng-deep {
  .p-dialog .p-dialog-content {
    padding-bottom: 0;
    overflow-y: hidden;
  }

  .p-tree .p-tree-container .p-treenode .p-treenode-content {
    padding: 0 0 !important;
    .p-tree-toggler {
      margin-right: 0.1rem;
    }
  }
  .p-treetable {
    .p-treetable-header {
      padding: 1rem; // var(--table-header-padding);
    }
    .p-treetable-wrapper {
      padding: var(--data-view-content-padding);
    }
    table {
      width: unset;
      .p-treetable-thead > tr {
        > th {
          padding: 0.5rem 0.7rem;
          font-weight: var(--table-header-cell-font-weight);
        }
        > th:first-of-type {
          background-color: var(--table-body-row-bg);
          border-color: transparent;
        }
      }
      .p-treetable-tbody > tr {
        > td {
          padding: 0 0.3rem;
          align-items: center !important;
          .p-treetable-toggler {
            margin-right: unset;
          }
          button.p-button {
            &.p-button-icon-only {
              width: unset !important;
            }
            &.p-button-rounded {
              height: unset !important;
            }
            &[disabled] {
              opacity: 0.6;
            }
          }
        }
        > td:first-of-type {
          padding: 0.1rem 3rem 0.1rem 0.1rem;
          display: flex !important;
          border-style: dotted;
        }
        > td:nth-of-type(2) {
          padding: 0 0.8rem;
        }
      }
    }
  }
  .p-button.p-button-icon-only {
    padding: 0.3rem;
    &.p-button-rounded {
      height: unset;
    }
  }
  .input-field-correction .p-inputtext {
    padding-top: 1rem !important;
    padding-bottom: 0.5rem !important;
    &.p-dropdown-label {
      white-space: nowrap;
    }
  }
  .p-dropdown-panel .p-dropdown-items .p-dropdown-item {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    min-height: 2rem;
  }

  .p-dialog.p-dialog {
    height: auto !important;
  }

  .checkbox-label {
    color: var(--emphasis-medium);
    transition-duration: var(--transition-duration);
  }

  .p-fileupload {
    .p-fileupload-buttonbar,
    .p-fileupload-content {
      background-color: var(--surface-100) !important;
    }
    .p-fileupload-content {
      padding: 0.5rem;
      .p-fileupload-row {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        gap: 0;
        > div {
          width: unset;
          &:first-child {
            display: none;
          }
        }
      }
    }
  }

  .p-tabview-panel {
    margin-top: 0.7rem;
  }
  .invisible {
    visibility: hidden;
  }
  .button-min-height {
    min-height: 33.2px;
  }

  @media screen and (max-width: 276px) {
    .xs\:hidden {
      display: none !important;
    }
  }

  @media (max-width: 367px) {
    .hidden-xs {
      display: none !important;
    }
  }
  @media (max-width: 567px) {
    .hidden-sm {
      display: none !important;
    }
  }
  @media (max-width: 768px) {
    .hidden-md {
      display: none !important;
    }
  }
  @media (max-width: 992px) {
    .hidden-lg {
      display: none !important;
    }
  }
  @media (min-width: 1200px) {
    .hidden-xl {
      display: none !important;
    }
  }
  /*
  @media (max-width: 767px) {
    .hidden-xs {
      display: none !important;
    }
  }
  @media (min-width: 768px) and (max-width: 991px) {
    .hidden-sm {
      display: none !important;
    }
  }
  @media (min-width: 992px) and (max-width: 1199px) {
    .hidden-md {
      display: none !important;
    }
  }
  @media (min-width: 1200px) {
    .hidden-lg {
      display: none !important;
    }
  }
*/
}
