@import 'src/_mixins.scss';

@include invisible;
@include danger-action;
@include correct-data-view-control;
@include table-inline-buttons;

:host ::ng-deep {
  .p-dialog .p-dialog-content {
    padding-bottom: 0;
    overflow-y: hidden;
  }
  .p-dialog.p-dialog {
    height: auto !important;
  }

  .p-treetable {
    .p-treetable-header {
      padding: 1rem; // var(--table-header-padding);
    }
    .p-treetable-wrapper {
      padding: var(--data-view-content-padding);
    }
    table {
      width: unset;
      .p-treetable-thead > tr {
        > th {
          padding: 0.5rem 0.7rem;
          font-weight: var(--table-header-cell-font-weight);
        }
        > th:first-of-type {
          background-color: var(--table-body-row-bg);
          border-color: transparent;
          .p-button-text {
            width: unset !important;
          }
        }
      }
      .p-treetable-tbody > tr {
        > td {
          padding: 0 0.3rem;
          align-items: center !important;
          .p-treetable-toggler {
            margin-right: unset;
          }
        }
        > td:first-of-type {
          padding: 0.1rem 3rem 0.1rem 0.1rem;
          display: flex !important;
          border-style: dotted;
        }
        > td:nth-of-type(2) {
          padding: 0 0.8rem;
        }
      }
    }
  }
  .p-button.p-button-icon-only {
    padding: 0.3rem;
  }

  .p-tabview-panel {
    margin-top: 0.7rem;
  }
  .button-min-height {
    min-height: 33.2px;
  }

  @media screen and (max-width: 276px) {
    .xs\:hidden {
      display: none !important;
    }
  }

  @media (max-width: 367px) {
    .hidden-xs {
      display: none !important;
    }
  }
  @media (max-width: 567px) {
    .hidden-sm {
      display: none !important;
    }
  }
  @media (max-width: 768px) {
    .hidden-md {
      display: none !important;
    }
  }
  @media (max-width: 992px) {
    .hidden-lg {
      display: none !important;
    }
  }
  @media (min-width: 1200px) {
    .hidden-xl {
      display: none !important;
    }
  }
}
