<ocx-portal-page permission="MENU#VIEW" helpArticleId="PAGE_MENU_DETAIL" pageName="PAGE_MENU_DETAIL">
  <ocx-page-header
    *ngIf="workspace"
    [header]="
      workspace.displayName ? limitText(workspace.displayName, 70) + ': ' + ('DIALOG.MENU.LABEL' | translate) : ''
    "
    [subheader]="'DIALOG.MENU.SUBHEADER' | translate"
    [actions]="(actions$ | async) ?? []"
    [figureImage]="currentLogoUrl"
    [figureBackground]="!currentLogoUrl"
  >
  </ocx-page-header>

  <ocx-page-content>
    <!-- on loading and preparing data -->
    <div *ngIf="loading" class="card flex flex-wrap justify-content-start align-items-center">
      <p-message
        severity="info"
        styleClass="p-2"
        icon="pi pi-spin pi-spinner"
        [text]="'ACTIONS.LOADING' | translate"
      ></p-message>
    </div>
    <!-- if menu does NOT exist -->
    <div
      *ngIf="menuNodes.length === 0 && !loading"
      class="px-3 card flex flex-wrap justify-content-between align-items-center"
    >
      <p-message severity="info" styleClass="p-2" [text]="'DIALOG.MENU.MENU_NOT_EXIST' | translate"></p-message>
      <p-button
        id="ws_menu_create_menu"
        icon="pi pi-plus"
        (onClick)="onCreateMenu($event)"
        [label]="'ACTIONS.CREATE.MENU' | translate"
      ></p-button>
    </div>

    <!-- if menu exist -->
    <p-treeTable
      *ngIf="menuNodes.length > 0"
      #menuTree
      styleClass="px-2"
      id="ws_menu_table"
      [columns]="wRoles"
      [value]="menuNodes"
      [globalFilterFields]="['name', 'url']"
      (onNodeCollapse)="onHierarchyViewChange($event)"
      (onNodeExpand)="onHierarchyViewChange($event)"
    >
      <ng-template pTemplate="caption" class="p-0">
        <div class="flex flex-wrap justify-content-between align-items-center gap-2">
          <div *ngIf="menuItems" class="flex flex-wrap gap-2">
            <p-button
              *ocxIfPermission="'MENU#DRAG_DROP'"
              icon="pi pi-sort"
              id="ws_menu_table_header_reorder"
              (onClick)="onDisplayMenuPreview()"
              [label]="'DIALOG.MENU.HEADER.TREE_MODAL' | translate"
              [attr.aria-label]="'DIALOG.MENU.HEADER.TREE_MODAL' | translate"
              [pTooltip]="'DIALOG.MENU.HEADER.TREE_MODAL.TOOLTIP' | translate"
              tooltipPosition="top"
              tooltipEvent="hover"
            ></p-button>
          </div>
          <div class="p-inputgroup w-13rem sm:w-17rem md:w-20rem">
            <span class="p-inputgroup-addon pi pi-filter"> </span>
            <span class="p-float-label">
              <input
                #menuTreeFilter
                pInputText
                type="text"
                id="ws_menu_table_header_filter"
                class="py-0 text-responsive"
                (input)="menuTree.filterGlobal($any($event.target).value, 'contains')"
                [pTooltip]="
                  ('DIALOG.DATAVIEW.FILTER_BY' | translate) +
                  ('MENU_ITEM.MENU_NAME' | translate) +
                  ', ' +
                  ('MENU_ITEM.URL' | translate)
                "
                tooltipPosition="top"
                tooltipEvent="hover"
              />
              <label for="ws_menu_table_header_filter"> {{ 'DIALOG.DATAVIEW.FILTER_PLACEHOLDER' | translate }} </label>
            </span>
            <a
              id="ws_menu_table_header_filter_clear"
              class="p-inputgroup-addon bg-primary cursor-pointer pi pi-filter-slash"
              tabindex="0"
              (keydown.space)="onClearFilterMenuTable()"
              (click)="onClearFilterMenuTable()"
              [attr.aria-label]="'DIALOG.DATAVIEW.FILTER_CLEAR' | translate"
              [pTooltip]="'DIALOG.DATAVIEW.FILTER_CLEAR' | translate"
              tooltipPosition="top"
              tooltipEvent="hover"
            >
            </a>
          </div>
          <p-button
            id="ws_menu_table_reload_button"
            styleClass="h-full button-min-height"
            icon="pi pi-refresh"
            (onClick)="onReload()"
            [attr.aria-label]="'ACTIONS.SEARCH.RELOAD' | translate"
            [pTooltip]="'ACTIONS.SEARCH.RELOAD' | translate"
            tooltipPosition="top"
            tooltipEvent="hover"
          ></p-button>
        </div>
      </ng-template>

      <ng-template pTemplate="header" let-columns>
        <tr>
          <th id="ws_menu_table_header_dummy1" class="text-left border-transparent">
            <p-toggleButton
              inputId="ws_menu_table_header_tree_toggle"
              styleClass="data-view-control"
              [(ngModel)]="treeExpanded"
              [onLabel]="'ACTIONS.TREE.COLLAPSE_ALL' | translate"
              [offLabel]="'ACTIONS.TREE.EXPAND_ALL' | translate"
              (onChange)="onToggleTreeViewMode($event)"
              [attr.aria-label]="'ACTIONS.TREE.EXPAND_ALL.TOOLTIP' | translate"
              [pTooltip]="'ACTIONS.TREE.EXPAND_ALL.TOOLTIP' | translate"
              tooltipPosition="top"
              tooltipEvent="hover"
            />
          </th>
          <th
            id="ws_menu_table_header_dummy2"
            class="text-left border-transparent"
            [attr.colspan]="displayRoles ? 1 + wRoles.length : 5"
          >
            <p-toggleButton
              inputid="ws_menu_table_header_context"
              styleClass="data-view-control"
              [onLabel]="'DIALOG.MENU.HEADER.DETAILS' | translate"
              [offLabel]="'DIALOG.MENU.HEADER.ROLES' | translate"
              [(ngModel)]="menuContextValue"
              (onChange)="onMenuContextChange($event)"
              [attr.aria-label]="'DIALOG.MENU.HEADER.DETAILS_N_ROLES.TOOLTIP' | translate"
              [pTooltip]="'DIALOG.MENU.HEADER.DETAILS_N_ROLES.TOOLTIP' | translate"
              tooltipPosition="top"
              tooltipEvent="hover"
            />
            <!--div class="slim-selectbutton filter-selectbutton">
                <p-selectButton
                  inputid="ws_menu_table_header_context"
                  styleClass="data-view-control"
                  [options]="menuContextItems"
                  [(ngModel)]="menuContextValue"
                  (onChange)="onMenuContextChange($event)"
                >
                  <ng-template let-item pTemplate="item">
                    <span [pTooltip]="item.label + '.TOOLTIP' | translate" tooltipPosition="top" tooltipEvent="hover">
                      {{ item.label | translate }}
                    </span>
                  </ng-template>
                </p-selectButton>
              </div-->
          </th>
        </tr>
        <tr>
          <th id="ws_menu_table_header_dummy2"></th>
          <ng-container *ngIf="!displayRoles">
            <th id="ws_menu_table_header_actions" class="text-center px-4 hidden-xs border-primary border-bottom-2">
              {{ 'ACTIONS.LABEL' | translate }}
            </th>
            <th
              id="ws_menu_table_header_i18n"
              class="text-center hidden-md border-primary border-bottom-2"
              [pTooltip]="'DIALOG.MENU.TREE.I18N.TOOLTIP' | translate"
              tooltipPosition="top"
              tooltipEvent="hover"
            >
              {{ 'DIALOG.MENU.TREE.I18N' | translate }}
            </th>
            <th
              id="ws_menu_table_header_url"
              class="hidden-sm border-primary border-bottom-2"
              [pTooltip]="'DIALOG.MENU.TREE.URL.TOOLTIP' | translate"
              tooltipPosition="top"
              tooltipEvent="hover"
            >
              {{ 'MENU_ITEM.URL' | translate }}
            </th>
          </ng-container>

          <!-- ROLES (actually managed by IDM) -->
          <ng-container *ngIf="displayRoles">
            <th
              *ngIf="wRoles.length === 0"
              id="ws_menu_table_header_roles_dummy"
              class="px-8 text-center font-italic border-primary border-bottom-2"
            >
              {{ 'DIALOG.MENU.HEADER.ROLES.NOT_EXIST' | translate }}
            </th>
            <th
              *ngFor="let role of columns"
              id="ws_menu_table_header_roles"
              class="px-2 text-center border-primary border-bottom-2"
            >
              <div class="flex flex-column justify-content-between">
                <div [pTooltip]="role.description ? role.description : ''" tooltipPosition="top" tooltipEvent="hover">
                  {{ role.name }}
                </div>
              </div>
            </th>
          </ng-container>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-rowNode let-rowData="rowData" let-columns="columns">
        <tr [id]="'ws_menu_table_row_' + rowData.key">
          <td class="white-space-nowrap">
            <p-treeTableToggler [rowNode]="rowNode"></p-treeTableToggler>
            <span *ngIf="rowData.badge" class="pi pi-{{ rowData.badge }} pr-2"></span>
            <span *ngIf="!rowData.badge" class="pi pi-folder pr-2 invisible"></span>
            <span [id]="'ws_menu__table_row_' + rowData.key + '_name'">{{ rowData.name }}</span>
          </td>
          <!-- manage the item -->
          <ng-container *ngIf="!displayRoles">
            <td class="white-space-nowrap hidden-xs">
              <div class="flex gap-1">
                <button
                  pbutton
                  [id]="'portal_menu_table_row_' + rowData.key + '_disabled'"
                  class="p-button-rounded p-button-text p-button p-component p-button-icon-only"
                  (click)="onToggleDisable($event, rowData)"
                  [attr.aria-label]="'MENU_ITEM.' + (rowData['disabled'] ? 'DISABLED' : 'ENABLED') | translate"
                  [pTooltip]="'MENU_ITEM.' + (rowData['disabled'] ? 'DISABLED' : 'ENABLED') | translate"
                  tooltipPosition="top"
                  tooltipEvent="hover"
                >
                  <span
                    class="text-red-500 font-medium p-button-icon pi pi-check-circle"
                    [class.pi-check-circle]="!rowData['disabled']"
                    [class.pi-minus-circle]="rowData['disabled']"
                    [class.text-green-500]="!rowData['disabled']"
                    [class.text-red-500]="rowData['disabled']"
                    aria-hidden="true"
                  ></span>
                </button>
                <button
                  pbutton
                  type="button"
                  [id]="'ws_menu__table_row_' + rowData.key + '_goto_details'"
                  class="p-button-rounded p-button-text p-button p-component p-button-icon-only"
                  (click)="onGotoDetails($event, rowData)"
                  [attr.aria-label]="'DIALOG.MENU.ACTION.DETAILS' | translate"
                  [pTooltip]="'DIALOG.MENU.ACTION.DETAILS' | translate"
                  tooltipPosition="top"
                  tooltipEvent="hover"
                >
                  <span
                    class="text-primary font-medium p-button-icon pi pi-eye"
                    [class.pi-eye]="!myPermissions.includes('MENU#EDIT')"
                    [class.pi-pencil]="myPermissions.includes('MENU#EDIT')"
                    aria-hidden="true"
                  ></span>
                </button>
                <button
                  *ocxIfPermission="'MENU#EDIT'"
                  pbutton
                  type="button"
                  [id]="'ws_menu__table_row_' + rowData.key + '_goto_new'"
                  class="p-button-rounded p-button-text p-button p-component p-button-icon-only"
                  (click)="onCreateMenu($event, rowData)"
                  [attr.aria-label]="'ACTIONS.CREATE.MENU' | translate"
                  [pTooltip]="'ACTIONS.CREATE.MENU.TOOLTIP' | translate"
                  tooltipPosition="top"
                  tooltipEvent="hover"
                >
                  <span class="text-primary font-medium p-button-icon pi pi-plus-circle" aria-hidden="true"></span>
                </button>
                <button
                  *ocxIfPermission="'MENU#DELETE'"
                  pbutton
                  type="button"
                  [id]="'ws_menu__table_row_' + rowData.key + '_delete'"
                  class="p-button-rounded p-button-text p-button p-component p-button-icon-only"
                  (click)="onDeleteMenu($event, rowData)"
                  [attr.aria-label]="'ACTIONS.DELETE.MENU' | translate"
                  [pTooltip]="'ACTIONS.DELETE.MENU' | translate"
                  tooltipPosition="top"
                  tooltipEvent="hover"
                >
                  <span class="danger-action-text font-medium p-button-icon pi pi-trash" aria-hidden="true"></span>
                </button>
              </div>
            </td>
            <td class="text-center hidden-md">
              <span
                *ngIf="!isObjectEmpty(rowData.i18n)"
                [id]="'ws_menu__table_row_' + rowData.key + '_i18n'"
                class="pi pi-check"
                [pTooltip]="'DIALOG.MENU.TREE.I18N.ROW.TOOLTIP' | translate"
                tooltipPosition="top"
                tooltipEvent="hover"
              ></span>
            </td>
            <td class="hidden-sm">
              <a
                *ngIf="rowData.gotoUrl"
                [id]="'ws_menu__table_row_' + rowData.key + '_url'"
                class="text-primary font-italic cursor-pointer pr-3"
                [href]="rowData.gotoUrl"
                target="_blank"
                (click)="$event.stopPropagation()"
                [attr.aria-label]="('ACTIONS.NAVIGATION.OPEN_IN_NEW_TAB' | translate) + ': ' + rowData.gotoUrl"
                [pTooltip]="('ACTIONS.NAVIGATION.OPEN_IN_NEW_TAB' | translate) + ': ' + rowData.gotoUrl"
                tooltipPosition="top"
                tooltipEvent="hover"
              >
                {{ rowData.url }}
              </a>
            </td>
          </ng-container>
          <!-- ASSIGNMENTS -->
          <ng-container *ngIf="displayRoles">
            <td
              *ngFor="let role of columns"
              class="text-center"
              [id]="'menu_detail_tree_table_data_' + role.name + '_' + rowData.key"
            >
              <!-- display only -->
              <span
                *ngIf="!rowData.roles[role.id] && rowData.rolesInherited[role.id]"
                class="pi pi-circle-fill text-primary opacity-40 text-lg"
                [pTooltip]="'DIALOG.MENU.ASSIGNMENT.OK_INHERITED' | translate"
                tooltipPosition="top"
                tooltipEvent="hover"
              >
              </span>
              <div *ngIf="!myPermissions.includes('MENU#GRANT')">
                <span
                  *ngIf="rowData.roles[role.id]"
                  class="pi pi-circle-fill text-primary text-lg"
                  [pTooltip]="'DIALOG.MENU.ASSIGNMENT.OK' | translate"
                  tooltipPosition="top"
                  tooltipEvent="hover"
                >
                </span>
                <span
                  *ngIf="!rowData.roles[role.id] && !rowData.rolesInherited[role.id]"
                  class="pi pi-circle text-primary text-lg"
                  [pTooltip]="'DIALOG.MENU.ASSIGNMENT.NOK' | translate"
                  tooltipPosition="top"
                  tooltipEvent="hover"
                >
                </span>
              </div>
              <!-- manipulation -->
              <div *ngIf="myPermissions.includes('MENU#GRANT')">
                <a
                  *ngIf="rowData.roles[role.id]"
                  tabindex="0"
                  class="pi pi-circle-fill text-primary text-lg cursor-pointer"
                  (click)="onRevokePermission(rowData, role.id, rowData.roles[role.id])"
                  [attr.aria-label]="
                    ('DIALOG.MENU.ASSIGNMENT.OK' | translate) +
                    ' - ' +
                    ('DIALOG.MENU.ASSIGNMENT.CHANGEABLE' | translate)
                  "
                  [pTooltip]="
                    ('DIALOG.MENU.ASSIGNMENT.OK' | translate) +
                    ' - ' +
                    ('DIALOG.MENU.ASSIGNMENT.CHANGEABLE' | translate)
                  "
                  tooltipPosition="top"
                  tooltipEvent="hover"
                >
                </a>
                <a
                  *ngIf="!rowData.roles[role.id] && !rowData.rolesInherited[role.id]"
                  tabindex="0"
                  class="pi pi-circle text-primary text-lg cursor-pointer"
                  (click)="onGrantPermission(rowData, role.id)"
                  [attr.aria-label]="
                    ('DIALOG.MENU.ASSIGNMENT.NOK' | translate) +
                    ' - ' +
                    ('DIALOG.MENU.ASSIGNMENT.CHANGEABLE' | translate)
                  "
                  [pTooltip]="
                    ('DIALOG.MENU.ASSIGNMENT.NOK' | translate) +
                    ' - ' +
                    ('DIALOG.MENU.ASSIGNMENT.CHANGEABLE' | translate)
                  "
                  tooltipPosition="top"
                  tooltipEvent="hover"
                >
                </a>
              </div></td
          ></ng-container>
        </tr>
      </ng-template>
    </p-treeTable>
  </ocx-page-content>
</ocx-portal-page>

<!--
  DETAIL + DELETE
-->
<app-menu-detail
  [workspaceId]="workspace?.id"
  [menuItemOrg]="menuItem"
  [menuItems]="menuItems"
  [parentItems]="parentItems"
  [changeMode]="changeMode"
  [displayDetailDialog]="displayMenuDetail"
  [displayDeleteDialog]="displayMenuDelete"
  (dataChanged)="onMenuItemChanged($event)"
></app-menu-detail>

<!-- 
  PREVIEW + REORDER 
-->
<app-menu-preview
  *ngIf="menuItems"
  [menuItems]="menuItems"
  [displayDialog]="displayMenuPreview"
  (hideDialog)="onHideMenuPreview()"
  (reorderEmitter)="onUpdateMenuStructure($event)"
>
</app-menu-preview>

<!-- 
  IMPORT 
-->
<app-menu-import
  [workspaceName]="workspaceName"
  [displayDialog]="displayMenuImport"
  (hideDialog)="onHideMenuImport()"
  (importEmitter)="onReload()"
>
</app-menu-import>
