@import 'src/app/_ws-mixins.scss';

@include invisible;
@include danger-action;
@include displaying-text-responsive;
@include correct-select-button;
@include search-criteria-select-button-slim;
@include correct-data-view-control;
@include table-inline-buttons;

:host ::ng-deep {
  .p-treetable-tbody {
    tr[aria-level='2'],
    tr[aria-level='4'],
    tr[aria-level='6'] {
      td {
        background-color: var(--table-body-row-even-bg);
      }
    }
  }

  .p-dialog .p-dialog-content {
    padding-bottom: 0;
    overflow-y: hidden;
  }

  .p-togglebutton.p-button:not(.p-disabled):not(.p-highlight) {
    text-align: center;
    padding: 0.5rem 0.8rem;
    font-weight: var(--font-weight);
    color: var(--primary-text-color);
    background: var(--primary-color);
    &:hover {
      background: var(--button-hover-bg);
    }
    .p-button-label,
    .p-button-icon-left,
    .p-button-icon-right {
      color: var(--primary-text-color);
    }
  }

  .p-treetable {
    .p-treetable-header {
      padding: 1rem 0.5rem; // var(--table-header-padding);
    }
    table {
      width: unset;
      .p-treetable-thead {
        tr th.role-name {
          word-break: break-all;
          min-width: 60px;
        }
        tr th:last-of-type {
          border-right: none !important;
        }
      }
      .p-treetable-tbody {
        tr:last-of-type td {
          border-bottom: none !important;
        }
        tr {
          td {
            .p-treetable-toggler {
              margin-right: unset;
              height: unset;
              width: unset;
              padding: 0.5rem; // must be the same size like table-inline-buttons!
            }
            &:nth-of-type(2) {
              padding: 0 0.3rem;
            }
            &:last-of-type {
              border-right: none !important;
            }
          }
        }
      }
    }
  }

  .p-tabview-panel {
    margin-top: 0.7rem;
  }
  .button-min-height {
    min-height: 33.2px;
  }

  @media screen and (max-width: 276px) {
    .xs\:hidden {
      display: none !important;
    }
  }

  @media (max-width: 367px) {
    .hidden-xs {
      display: none !important;
    }
  }
  @media (max-width: 567px) {
    .hidden-sm {
      display: none !important;
    }
  }
  @media (max-width: 768px) {
    .hidden-md {
      display: none !important;
    }
  }
  @media (max-width: 992px) {
    .hidden-lg {
      display: none !important;
    }
  }
  @media (min-width: 1200px) {
    .hidden-xl {
      display: none !important;
    }
  }
}
