<ocx-portal-page permission="MENU#VIEW" helpArticleId="PAGE_MENU_DETAIL" pageName="PAGE_MENU_DETAIL">
  <ocx-page-header
    *ngIf="workspace$ | async as workspace"
    [header]="
      workspace?.displayName
        ? Utils.limitText(workspace.displayName, 50) + ': ' + ('DIALOG.MENU.LABEL' | translate)
        : ''
    "
    [subheader]="'DIALOG.MENU.SUBHEADER' | translate"
    [actions]="(actions$ | async) ?? []"
    [figureImage]="currentLogoUrl"
    [figureBackground]="!currentLogoUrl"
  >
  </ocx-page-header>
  <ocx-page-header *ngIf="!workspace" [subheader]="'DIALOG.MENU.SUBHEADER' | translate"> </ocx-page-header>

  <ocx-page-content>
    <p-message *ngIf="exceptionKey" severity="error" styleClass="m-3" [text]="exceptionKey | translate"></p-message>

    <p-treeTable
      #menuTree
      *ngIf="!exceptionKey"
      id="ws_menu_table"
      styleClass="px-2 sm:px-3 mb-3"
      [value]="menuNodes"
      [columns]="wRolesFiltered"
      (onFilter)="onTreeFilterChange($event)"
      [globalFilterFields]="['name', 'url']"
      (onNodeCollapse)="onHierarchyViewChange($event)"
      (onNodeExpand)="onHierarchyViewChange($event)"
    >
      <!-- TREE MANAGEMENT -->
      <ng-template pTemplate="caption" class="p-0">
        @let filterEmptyStyle = { 'background-color': 'var(--emphasis-lower)', opacity: 'var(--disabled-opacity)' };

        <!-- ACTIONS: REORDER, FILTER, LINKS -->
        <section
          class="flex flex-wrap justify-content-between align-items-center row-gap-1 column-gap-2 md:column-gap-4"
          [attr.aria-label]="'DIALOG.MENU.SECTIONS.ACTIONS' | translate"
        >
          <div *ocxIfNotPermission="'MENU#DRAG_DROP'" class="hidden sm:block"></div>
          <p-button
            *ocxIfPermission="'MENU#DRAG_DROP'"
            icon="pi pi-sort"
            id="ws_menu_table_header_reorder"
            [disabled]="menuItems?.length === 0"
            (onClick)="onDisplayMenuPreview()"
            [disabled]="menuNodes.length === 0"
            [label]="'DIALOG.MENU.HEADER.TREE_MODAL' | translate"
            [ariaLabel]="'DIALOG.MENU.HEADER.TREE_MODAL' | translate"
            [pTooltip]="'DIALOG.MENU.HEADER.TREE_MODAL.TOOLTIP' | translate"
            tooltipPosition="top"
            tooltipEvent="hover"
          />
          <!-- FILTER -->
          <div class="p-inputgroup w-13rem sm:w-17rem md:w-20rem">
            <span class="p-inputgroup-addon pi pi-filter" aria-hidden="true"> </span>
            <span class="p-float-label">
              @let tooltipText =
                ('DIALOG.DATAVIEW.FILTER_OF' | translate) +
                ('MENU_ITEM.MENU_NAME' | translate) +
                ', ' +
                ('MENU_ITEM.URL' | translate);
              <input
                #menuTreeFilter
                pInputText
                type="text"
                id="ws_menu_table_header_menu_filter"
                class="py-0 text-responsive"
                [ngClass]="{ 'p-disabled': menuItems?.length === 0 }"
                (input)="menuTree.filterGlobal($any($event.target).value, 'contains')"
                [ariaLabel]="tooltipText"
                [pTooltip]="tooltipText"
                tooltipPosition="top"
                tooltipEvent="hover"
              />
              <label
                for="ws_menu_table_header_menu_filter"
                [ngStyle]="menuItems?.length === 0 ? { color: 'var(--emphasis-low)' } : null"
              >
                {{ 'DIALOG.DATAVIEW.FILTER_PLACEHOLDER' | translate }}
              </label>
            </span>
            <button
              id="ws_menu_table_header_filter_clear"
              class="p-inputgroup-addon cursor-pointer pi pi-filter-slash"
              [ngClass]="{ 'bg-primary': menuTreeFilter.value !== '', 'p-disabled': menuTreeFilter.value === '' }"
              [ngStyle]="menuTreeFilter.value === '' ? filterEmptyStyle : null"
              (keydown.space)="onTreeFilterClear(menuTree, menuTreeFilter)"
              (click)="onTreeFilterClear(menuTree, menuTreeFilter)"
              [attr.aria-label]="'DIALOG.DATAVIEW.FILTER_CLEAR' | translate"
              [pTooltip]="'DIALOG.DATAVIEW.FILTER_CLEAR' | translate"
              tooltipPosition="top"
              tooltipEvent="hover"
            ></button>
          </div>
          <!-- ACTIONS & LINKS -->
          <section
            class="hidden sm:flex flex-wrap justify-content-between align-items-center gap-2"
            [attr.aria-label]="'DIALOG.MENU.SECTIONS.LINKS' | translate"
          >
            <p-button
              *ocxIfPermission="'WORKSPACE_ROLE#VIEW'"
              id="ws_menu_table_action_goto_roles"
              styleClass="button-min-height"
              icon="pi pi-cog"
              [routerLink]="['../']"
              fragment="roles"
              [ariaLabel]="'ACTIONS.NAVIGATION.GOTO_WORKSPACE_ROLES' | translate"
              [pTooltip]="'ACTIONS.NAVIGATION.GOTO_WORKSPACE_ROLES' | translate"
              tooltipPosition="top"
              tooltipEvent="hover"
            />
            <p-button
              *ocxIfPermission="'WORKSPACE#GOTO_PERMISSION'"
              id="ws_menu_table_action_goto_permissions"
              styleClass="button-min-height"
              icon="pi pi-lock"
              [disabled]="!permissionEndpointExist"
              [routerLink]="permissionUrl"
              [ariaLabel]="'ACTIONS.NAVIGATION.GOTO_WORKSPACE_PERMISSIONS' | translate"
              [pTooltip]="'ACTIONS.NAVIGATION.GOTO_WORKSPACE_PERMISSIONS' | translate"
              tooltipPosition="top"
              tooltipEvent="hover"
            />
            <p-button
              id="ws_menu_table_action_reload"
              styleClass="button-min-height"
              [icon]="'pi ' + (loadingMenu ? 'pi-spin pi-spinner' : 'pi-refresh')"
              [disabled]="loadingMenu"
              (onClick)="onReload()"
              [ariaLabel]="'DIALOG.MENU.ACTION.RELOAD' | translate"
              [pTooltip]="'DIALOG.MENU.ACTION.RELOAD' | translate"
              tooltipPosition="top"
              tooltipEvent="hover"
            />
          </section>
        </section>
        <!-- DISPLAY OPTIONS -->
        <section
          class="mt-2 md:mt-3 flex flex-wrap justify-content-start align-items-center row-gap-1 column-gap-5"
          [attr.aria-label]="'DIALOG.MENU.SECTIONS.OPTIONS' | translate"
        >
          <div class="sm:my-2 slim-selectbutton search-criteria-selectbutton">
            <p-selectButton
              inputid="ws_menu_table_header_row_switch_content"
              styleClass="white-space-nowrap hidden-xs"
              [options]="(treeTableExpandSwitchItems$ | async) ?? []"
              [(ngModel)]="treeTableExpandSwitchValue"
              [disabled]="treeFilteredRows === 0"
              [allowEmpty]="false"
              (onChange)="onToggleTreeViewMode($event)"
            >
              <ng-template let-item pTemplate>
                <span
                  [id]="'ws_menu_table_header_row_switch_expand_' + item.value"
                  [pTooltip]="item.tooltip"
                  tooltipPosition="top"
                  tooltipEvent="hover"
                >
                  {{ item.label }}
                </span>
              </ng-template>
            </p-selectButton>
          </div>
          <div class="sm:my-2 slim-selectbutton search-criteria-selectbutton">
            <p-selectButton
              inputid="ws_menu_table_header_row_1_switch_tree_label"
              styleClass="flex flex-wrap row-gap-1"
              [options]="treeNodeLabelSwitchItems"
              [(ngModel)]="treeNodeLabelSwitchValue"
              [disabled]="treeFilteredRows === 0"
              [allowEmpty]="false"
              (onChange)="onTreeNodeLabelSwitchChange($event)"
              [ariaLabel]="'DIALOG.MENU.HEADER.DISPLAYED_ITEM' | translate"
              [pTooltip]="'DIALOG.MENU.HEADER.DISPLAYED_ITEM' | translate"
              tooltipPosition="top"
              tooltipEvent="hover"
            >
              <ng-template let-item pTemplate="item">{{ item.label }} </ng-template>
            </p-selectButton>
          </div>
          <div class="sm:my-2 slim-selectbutton search-criteria-selectbutton">
            <p-selectButton
              inputid="ws_menu_table_header_row_1_switch_content"
              styleClass="white-space-nowrap hidden-xs"
              [options]="(treeTableContentSwitchItems$ | async) ?? []"
              [(ngModel)]="treeTableContentSwitchValue"
              [disabled]="treeFilteredRows === 0"
              [allowEmpty]="false"
              (onChange)="onToggleTreeTableContent($event)"
            >
              <ng-template let-item pTemplate>
                <span
                  [id]="'ws_menu_table_header_row_1_switch_content_' + item.value"
                  [pTooltip]="item.tooltip"
                  tooltipPosition="top"
                  tooltipEvent="hover"
                >
                  {{ item.label }}
                </span>
              </ng-template>
            </p-selectButton>
          </div>
          <!-- role filter -->
          <div
            *ngIf="displayRoles && wRoles.length > 3 && treeFilteredRows > 0"
            class="mt-1 sm:mt-0 p-inputgroup w-13rem sm:w-17rem md:w-20rem"
          >
            <span class="p-float-label">
              <input
                #roleNameFilter
                pInputText
                id="ws_menu_table_header_role_filter"
                class="data-view-control-border text-responsive"
                (input)="onRoleNameFilterChange(roleNameFilter.value)"
                [ariaLabel]="'DIALOG.MENU.ROLE.FILTER.DISPLAY_ROLES' | translate"
                [pTooltip]="'DIALOG.MENU.ROLE.FILTER.DISPLAY_ROLES.TOOLTIP' | translate"
                tooltipPosition="top"
                tooltipEvent="hover"
              />
              <label for="ws_menu_table_header_role_filter" aria-hidden="true">
                {{ 'DIALOG.MENU.ROLE.FILTER.DISPLAY_ROLES' | translate }}
              </label>
            </span>
            <button
              id="ws_menu_table_header_role_filter_clear"
              class="p-inputgroup-addon bg-primary pseudo-button pi pi-filter-slash"
              [ngClass]="{ 'bg-primary': roleNameFilter.value !== '', 'p-disabled': roleNameFilter.value === '' }"
              [ngStyle]="roleNameFilter.value === '' ? filterEmptyStyle : null"
              (click)="roleNameFilter.value = ''; onRoleNameFilterChange('')"
              [attr.aria-label]="'DIALOG.MENU.ROLE.FILTER.CLEAR' | translate"
              [pTooltip]="'DIALOG.MENU.ROLE.FILTER.CLEAR' | translate"
              tooltipPosition="top"
              tooltipEvent="hover"
            ></button>
          </div>
        </section>
      </ng-template>

      <!-- TABLE HEADER -->
      <ng-template pTemplate="header" let-columns>
        <tr id="ws_menu_table_header_row">
          <!-- HEADER ROW: DETAIL Columns -->
          @if (!displayRoles && !loadingMenu) {
            <th
              id="ws_menu_table_header_row_1"
              class="p-0 text-right vertical-align-bottom border-transparent border-bottom-2 menu-name"
            >
              <!-- empty -->
            </th>
            <th
              *ngFor="let col of treeDetailColumns"
              [id]="'ws_menu_table_header_detail_' + col.name"
              class="p-2 pb-1 text-center vertical-align-bottom white-space-nowrap border-bottom-2"
              [ngClass]="col.css"
              [pTooltip]="col.tooltipKey | translate"
              tooltipPosition="top"
              tooltipEvent="hover"
            >
              <div class="p-1 border-round-sm border-none">{{ col.headerKey | translate }}</div>
            </th>
          }
          <!-- HEADER ROW: ROLE Columns, filtered -->
          @if (displayRoles) {
            <!-- ROLE FILTER actions -->
            <th
              id="ws_menu_table_header_row_role_filter"
              class="p-0 text-right vertical-align-bottom border-transparent border-bottom-2 menu-name"
            >
              @if (!loadingRoles && columns.length > 0) {
                @if (roleColumnFilterValue.length === 0) {
                  <p-button
                    type="button"
                    pRipple
                    [text]="true"
                    [plain]="true"
                    [rounded]="true"
                    [icon]="'pi pi-filter'"
                    [id]="'ws_menu_table_header_roles_action_filter'"
                    [ariaLabel]="'DIALOG.MENU.ROLE.FILTER' | translate"
                    [pTooltip]="'DIALOG.MENU.ROLE.FILTER' | translate"
                    tooltipPosition="top"
                    tooltipEvent="hover"
                  />
                } @else {
                  <p-button
                    type="button"
                    pRipple
                    [text]="true"
                    [plain]="true"
                    [rounded]="true"
                    [icon]="'pi pi-filter-slash'"
                    [id]="'ws_menu_table_header_roles_action_filter_clear'"
                    (onClick)="onRoleColumnFilterReset()"
                    [attr.aria-label]="'DIALOG.MENU.ROLE.FILTER.CLEAR' | translate"
                    [pTooltip]="'DIALOG.MENU.ROLE.FILTER.CLEAR' | translate"
                    tooltipPosition="top"
                    tooltipEvent="hover"
                  />
                }
              }
            </th>
            <!-- ROLE MESSAGES -->
            @if (columns.length === 0) {
              <th id="ws_menu_table_header_row_role_messages" class="p-1 pt-0 border-bottom-2 border-transparent">
                @if (loadingRoles) {
                  <p-message severity="info" [text]="'DIALOG.MENU.HEADER.ROLES.LOADING' | translate"></p-message>
                } @else {
                  @if (wRoles.length === 0) {
                    <p-message severity="info" [text]="'DIALOG.MENU.HEADER.ROLES.NOT_EXIST' | translate"></p-message>
                  } @else {
                    <p-message severity="info" [text]="'DIALOG.MENU.HEADER.ROLES.NOT_MATCHING' | translate"></p-message>
                  }
                }
              </th>
            } @else {
              <!-- ROLE COLUMNS - filtered columns => no match = no columns -->
              <th
                *ngFor="let role of columns"
                [id]="'ws_menu_table_header_row_role_' + role.name"
                class="pt-2 pb-1 px-1 hidden-xs text-center border-bottom-2 border-right-1 role-name"
              >
                <button
                  [id]="'ws_menu_table_header_roles_' + role.name"
                  class="p-1 text-base cursor-pointer border-round-sm border-none"
                  [class.clicked]="roleColumnFilterValue.includes(role.name)"
                  (keydown.space)="onRoleColumnFilterChange(role.name)"
                  (click)="onRoleColumnFilterChange(role.name)"
                  [attr.aria-label]="'DIALOG.MENU.ROLE.FILTER.NAME' | translate"
                  [pTooltip]="'DIALOG.MENU.ROLE.FILTER.NAME' | translate"
                  tooltipPosition="top"
                  tooltipEvent="hover"
                >
                  {{ role.name }}
                </button>
              </th>
            }
          }
        </tr>
      </ng-template>

      <!-- TABLE BODY -->
      <ng-template pTemplate="body" let-rowNode let-rowData="rowData" let-columns="columns">
        <tr
          *ngIf="!loadingMenu"
          [ttRow]="rowNode"
          [id]="'ws_menu_table_row_' + rowData.key"
          [attr.level]="rowData.level"
        >
          <!-- MENU ITEM -->
          <td class="p-1 pr-4">
            <div class="flex flex-row flex-nowrap column-gap-1 align-items-center">
              <p-treeTableToggler [rowNode]="rowNode"></p-treeTableToggler>
              <div *ngIf="rowData.badge" class="pi pi-{{ rowData.badge }} pr-2" aria-hidden="true"></div>
              <div *ngIf="!rowData.badge" class="pi pi-folder pr-2 invisible" aria-hidden="true"></div>
              <div [id]="'ws_menu_table_row_' + rowData.key + '_name'" class="max-w-11rem text-ellipsis-2-lines">
                {{ rowNode.node.label }}
              </div>
            </div>
          </td>
          <!-- DETAILS -->
          <ng-container *ngIf="!displayRoles">
            <!-- DETAILS: actions -->
            <td class="py-1 px-2 hidden-xs border-right-1 text-center white-space-nowrap">
              <p-button
                *ocxIfPermission="'MENU#EDIT'"
                type="button"
                pRipple
                [text]="true"
                [plain]="true"
                [rounded]="true"
                [icon]="'pi pi-' + (rowData['disabled'] ? 'minus' : 'check') + '-circle'"
                [severity]="rowData['disabled'] ? 'danger' : 'success'"
                [id]="'ws_menu_table_row_' + rowData.key + '_disabled'"
                (onClick)="onToggleDisable($event, rowData)"
                [ariaLabel]="'MENU_ITEM.' + (rowData['disabled'] ? 'DISABLED' : 'ENABLED') | translate"
                [pTooltip]="'MENU_ITEM.' + (rowData['disabled'] ? 'DISABLED' : 'ENABLED') | translate"
                tooltipPosition="top"
                tooltipEvent="hover"
              />
              @let editAllowed = myPermissions.includes('MENU#EDIT');
              <p-button
                type="button"
                pRipple
                [text]="true"
                [plain]="true"
                [rounded]="true"
                [icon]="'pi pi-' + (editAllowed ? 'pencil' : 'eye')"
                [id]="'ws_menu_table_row_' + rowData.key + '_action_goto_details'"
                (onClick)="onGotoDetails($event, rowData)"
                [ariaLabel]="'DIALOG.MENU.ACTION.' + (editAllowed ? 'EDIT' : 'VIEW') | translate"
                [pTooltip]="'DIALOG.MENU.ACTION.' + (editAllowed ? 'EDIT' : 'VIEW') | translate"
                tooltipPosition="top"
                tooltipEvent="hover"
              />
              <p-button
                *ocxIfPermission="'MENU#EDIT'"
                type="button"
                pRipple
                [text]="true"
                [plain]="true"
                [rounded]="true"
                [icon]="'pi pi-plus-circle'"
                [id]="'ws_menu_table_row_' + rowData.key + '_action_goto_new'"
                (onClick)="onCreateMenu(rowData)"
                [ariaLabel]="'ACTIONS.CREATE.MENU' | translate"
                [pTooltip]="'ACTIONS.CREATE.MENU.TOOLTIP' | translate"
                tooltipPosition="top"
                tooltipEvent="hover"
              />
              <p-button
                *ocxIfPermission="'MENU#DELETE'"
                type="button"
                pRipple
                [text]="true"
                [plain]="true"
                [rounded]="true"
                [icon]="'pi pi-trash'"
                severity="danger"
                [id]="'ws_menu_table_row_' + rowData.key + '_action_delete'"
                (onClick)="onDeleteMenu($event, rowData)"
                [ariaLabel]="'ACTIONS.DELETE.MENU.HEADER' | translate"
                [pTooltip]="'ACTIONS.DELETE.MENU.HEADER' | translate"
                tooltipPosition="top"
                tooltipEvent="hover"
              />
            </td>
            <td class="p-2 text-center hidden-md">
              <div
                *ngIf="!isObjectEmpty(rowData.i18n)"
                [id]="'ws_menu_table_row_' + rowData.key + '_i18n'"
                class="white-space-nowrap text-responsive max-w-4rem"
                [pTooltip]="'DIALOG.MENU.TREE.I18N.ROW.TOOLTIP' | translate"
                tooltipPosition="top"
                tooltipEvent="hover"
              >
                {{ Object.keys(rowData.i18n).sort(Utils.sortByLocale).join(', ') }}
              </div>
            </td>
            <td class="p-2 text-center hidden-md">
              <div
                *ngIf="rowData.external"
                [id]="'ws_menu_table_row_' + rowData.key + '_external'"
                class="pi pi-external-link"
                [attr.aria-label]="'MENU_ITEM.EXTERN' | translate"
                [pTooltip]="'MENU_ITEM.EXTERN' | translate"
                tooltipPosition="top"
                tooltipEvent="hover"
              ></div>
            </td>
            <td class="p-2 text-center hidden-md">
              <div
                *ngIf="rowData.target === '_blank'"
                [id]="'ws_menu_table_row_' + rowData.key + '_target'"
                class="pi pi-tablet"
                [attr.aria-label]="'MENU_ITEM.TARGET' | translate"
                [pTooltip]="'MENU_ITEM.TARGET' | translate"
                tooltipPosition="top"
                tooltipEvent="hover"
              ></div>
            </td>
            <td class="py-1 px-2 hidden-sm">
              @let gotoTabKey = 'ACTIONS.NAVIGATION.' + (rowData.target === '_blank' ? 'OPEN' : 'OPEN_IN_NEW_TAB');
              <a
                *ngIf="rowData.gotoUrl"
                [id]="'ws_menu_table_row_' + rowData.key + '_url'"
                class="pr-3 text-primary font-italic cursor-pointer block max-w-15rem md:max-w-20rem lg:max-w-30rem xl:max-w-full text-ellipsis-2-lines"
                [href]="rowData.gotoUrl"
                [target]="rowData.target"
                (click)="$event.stopPropagation()"
                [attr.aria-label]="(gotoTabKey | translate) + ': ' + rowData.gotoUrl"
                [pTooltip]="(gotoTabKey | translate) + ': ' + rowData.gotoUrl"
                tooltipPosition="top"
                tooltipEvent="hover"
              >
                {{ rowData.url }}
              </a>
            </td>
          </ng-container>

          <!-- ROLE ASSIGNMENTS -->
          <ng-container *ngIf="displayRoles && columns.length > 0">
            <td
              *ngFor="let role of columns"
              class="p-0 hidden-xs text-center border-right-1"
              [id]="'ws_menu_table_role_' + role.name + '_' + rowData.key"
            >
              <!-- display only -->
              <div *ngIf="!myPermissions.includes('MENU#GRANT')">
                <div
                  *ngIf="rowData.roles[role.id]"
                  [id]="'ws_menu_table_role_' + role.name + '_' + rowData.key + '_assigned'"
                  class="p-2 pi pi-circle-fill text-primary"
                  [attr.aria-label]="('DIALOG.MENU.ASSIGNMENT.OK' | translate) + role.name + ' + ' + rowData.key"
                  [pTooltip]="('DIALOG.MENU.ASSIGNMENT.OK' | translate) + role.name + ' + ' + rowData.key"
                  tooltipPosition="top"
                  tooltipEvent="hover"
                ></div>
                <div
                  *ngIf="!rowData.roles[role.id]"
                  [id]="'ws_menu_table_role_' + role.name + '_' + rowData.key + '_not_assigned'"
                  class="p-2 pi pi-circle text-primary"
                  [attr.aria-label]="('DIALOG.MENU.ASSIGNMENT.NOK' | translate) + role.name + ' + ' + rowData.key"
                  [pTooltip]="('DIALOG.MENU.ASSIGNMENT.NOK' | translate) + role.name + ' + ' + rowData.key"
                  tooltipPosition="top"
                  tooltipEvent="hover"
                ></div>
              </div>
              <!-- manipulation -->
              <div *ngIf="myPermissions.includes('MENU#GRANT')">
                <p-button
                  *ngIf="rowData.roles[role.id]"
                  type="button"
                  pRipple
                  [text]="true"
                  [plain]="true"
                  [rounded]="true"
                  [icon]="'pi pi-circle-fill'"
                  [id]="'ws_menu_table_role_' + role.name + '_' + rowData.key + '_action_revoke'"
                  (onClick)="onRevokePermission(rowData, role.id, rowData.roles[role.id])"
                  [ariaLabel]="('DIALOG.MENU.ASSIGNMENT.REVOKE_ROLE' | translate) + role.name + ' + ' + rowData.key"
                  [pTooltip]="('DIALOG.MENU.ASSIGNMENT.REVOKE_ROLE' | translate) + role.name + ' + ' + rowData.key"
                  tooltipPosition="top"
                  tooltipEvent="hover"
                />
                <p-button
                  *ngIf="!rowData.roles[role.id]"
                  type="button"
                  pRipple
                  [text]="true"
                  [plain]="true"
                  [rounded]="true"
                  [icon]="'pi pi-circle'"
                  [id]="'ws_menu_table_role_' + role.name + '_' + rowData.key + '_action_grant'"
                  (onClick)="onGrantPermission(rowNode, rowData, role.id)"
                  [ariaLabel]="('DIALOG.MENU.ASSIGNMENT.GRANT_ROLE' | translate) + role.name + ' + ' + rowData.key"
                  [pTooltip]="('DIALOG.MENU.ASSIGNMENT.GRANT_ROLE' | translate) + role.name + ' + ' + rowData.key"
                  tooltipPosition="top"
                  tooltipEvent="hover"
                />
              </div>
            </td>
          </ng-container>
        </tr>
      </ng-template>

      <ng-template pTemplate="footer">
        <!-- MESSAGES -->
        <section class="pt-3" [attr.aria-label]="'DIALOG.MENU.SECTIONS.MESSAGES' | translate">
          @if (loading) {
            <!-- waiting for results -->
            <p-message severity="info" [text]="'ACTIONS.LOADING' | translate"></p-message>
          } @else {
            @if (loadingMenu) {
              <p-message severity="info" [text]="'DIALOG.MENU.ACTION.LOAD' | translate"></p-message>
            } @else {
              <!-- role column filter is NOT active: no data == no menu in general -->
              <p-message
                *ngIf="menuNodes.length === 0 && roleColumnFilterValue.length === 0"
                severity="info"
                [text]="'ACTIONS.SEARCH.NO_DATA' | translate"
              ></p-message>
              <p-message
                *ngIf="treeFilteredRows === 0"
                severity="info"
                [text]="'ACTIONS.SEARCH.FILTER.NOT_MATCHING' | translate"
              ></p-message>
            }
          }
        </section>
      </ng-template>
    </p-treeTable>
  </ocx-page-content>
</ocx-portal-page>

<!--
  DETAIL + DELETE
-->
<app-menu-detail
  [workspaceId]="workspace?.id"
  [menuItemOrg]="menuItem"
  [menuItems]="menuItems"
  [parentItems]="parentItems"
  [changeMode]="changeMode"
  [displayDetailDialog]="displayMenuDetail"
  [displayDeleteDialog]="displayMenuDelete"
  (dataChanged)="onMenuItemChanged($event)"
></app-menu-detail>

<!-- 
  PREVIEW + REORDER 
-->
<app-menu-preview
  *ngIf="menuItems"
  [menuItems]="menuItems"
  [displayDialog]="displayMenuPreview"
  (hideDialog)="onHideMenuPreview()"
  (reorderEmitter)="onUpdateMenuStructure($event)"
>
</app-menu-preview>

<!-- 
  IMPORT 
-->
<app-menu-import
  [workspaceName]="workspaceName"
  [displayDialog]="displayMenuImport"
  (hideDialog)="onImportMenuHide()"
  (importEmitter)="onReload()"
>
</app-menu-import>
