<ocx-portal-page permission="MENU#VIEW" helpArticleId="PAGE_MENU_DETAIL" pageName="PAGE_MENU_DETAIL">
  <ocx-page-header
    *ngIf="workspace"
    [header]="
      workspace.displayName ? limitText(workspace.displayName, 70) + ': ' + ('DIALOG.MENU.LABEL' | translate) : ''
    "
    [subheader]="'DIALOG.MENU.SUBHEADER' | translate"
    [actions]="(actions$ | async) ?? []"
    [figureImage]="currentLogoUrl"
    [figureBackground]="!currentLogoUrl"
  >
  </ocx-page-header>

  <ocx-page-content>
    <!-- Loading and preparing menu -->
    <div *ngIf="loading" class="card">
      <p-message severity="info" styleClass="p-2" [text]="'ACTIONS.LOADING' | translate"></p-message>
    </div>
    <!-- Menu does NOT exist -->
    <div
      *ngIf="!loading && menuNodes.length === 0"
      class="px-3 card flex flex-wrap justify-content-between align-items-center"
    >
      <p-message severity="info" styleClass="p-2" [text]="'DIALOG.MENU.MENU_NOT_EXIST' | translate"></p-message>
      <p-button
        id="ws_menu_action_create"
        icon="pi pi-plus"
        (onClick)="onCreateMenu($event)"
        [label]="'ACTIONS.CREATE.MENU' | translate"
      ></p-button>
    </div>

    <!-- Menu exist -->
    <!--
      [style]="{ height: '600px' }"
      [scrollable]="true"
      scrollHeight="flex"
      [tableStyle]="{ 'min-width': '70vw' }"
      [frozenColumns]="treeFrozenColumns"
    -->
    <p-treeTable
      *ngIf="menuNodes.length > 0"
      #menuTree
      id="ws_menu_table"
      styleClass="px-2 sm:px-3 mb-3"
      [columns]="wRoles"
      [value]="menuNodes"
      [globalFilterFields]="['name', 'url']"
      (onNodeCollapse)="onHierarchyViewChange($event)"
      (onNodeExpand)="onHierarchyViewChange($event)"
    >
      <!-- TABLE FILTER + SORT -->
      <ng-template pTemplate="caption" class="p-0">
        <div class="flex flex-wrap justify-content-between align-items-center gap-2">
          <div *ngIf="menuItems">
            <p-button
              *ocxIfPermission="'MENU#DRAG_DROP'"
              icon="pi pi-sort"
              id="ws_menu_table_header_reorder"
              (onClick)="onDisplayMenuPreview()"
              [label]="'DIALOG.MENU.HEADER.TREE_MODAL' | translate"
              [attr.aria-label]="'DIALOG.MENU.HEADER.TREE_MODAL' | translate"
              [pTooltip]="'DIALOG.MENU.HEADER.TREE_MODAL.TOOLTIP' | translate"
              tooltipPosition="top"
              tooltipEvent="hover"
            ></p-button>
          </div>
          <div class="p-inputgroup w-13rem sm:w-17rem md:w-20rem">
            <span class="p-inputgroup-addon pi pi-filter"> </span>
            <span class="p-float-label">
              <input
                #menuTreeFilter
                pInputText
                type="text"
                id="ws_menu_table_header_filter"
                class="py-0 text-responsive"
                (input)="menuTree.filterGlobal($any($event.target).value, 'contains')"
                [pTooltip]="
                  ('DIALOG.DATAVIEW.FILTER_BY' | translate) +
                  ('MENU_ITEM.MENU_NAME' | translate) +
                  ', ' +
                  ('MENU_ITEM.URL' | translate)
                "
                tooltipPosition="top"
                tooltipEvent="hover"
              />
              <label for="ws_menu_table_header_filter"> {{ 'DIALOG.DATAVIEW.FILTER_PLACEHOLDER' | translate }} </label>
            </span>
            <a
              id="ws_menu_table_header_filter_clear"
              class="p-inputgroup-addon bg-primary cursor-pointer pi pi-filter-slash"
              tabindex="0"
              (keydown.space)="onClearFilterMenuTable()"
              (click)="onClearFilterMenuTable()"
              [attr.aria-label]="'DIALOG.DATAVIEW.FILTER_CLEAR' | translate"
              [pTooltip]="'DIALOG.DATAVIEW.FILTER_CLEAR' | translate"
              tooltipPosition="top"
              tooltipEvent="hover"
            >
            </a>
          </div>
          <div class="flex flex-wrap justify-content-between align-items-center gap-2">
            <p-button
              *ocxIfPermission="'WORKSPACE_ROLE#VIEW'"
              id="ws_menu_table_action_goto_roles"
              styleClass="h-full button-min-height"
              icon="pi pi-cog"
              [routerLink]="['../']"
              fragment="roles"
              [attr.aria-label]="'ACTIONS.NAVIGATION.GOTO_WORKSPACE_ROLES' | translate"
              [pTooltip]="'ACTIONS.NAVIGATION.GOTO_WORKSPACE_ROLES' | translate"
              tooltipPosition="top"
              tooltipEvent="hover"
            ></p-button>
            <p-button
              *ocxIfPermission="'WORKSPACE#GOTO_PERMISSION'"
              id="ws_menu_table_action_goto_permissions"
              styleClass="h-full button-min-height"
              icon="pi pi-lock"
              (onClick)="onGoToWorkspacePermission()"
              [attr.aria-label]="'ACTIONS.NAVIGATION.GOTO_WORKSPACE_PERMISSIONS' | translate"
              [pTooltip]="'ACTIONS.NAVIGATION.GOTO_WORKSPACE_PERMISSIONS' | translate"
              tooltipPosition="top"
              tooltipEvent="hover"
            ></p-button>
            <p-button
              id="ws_menu_table_action_reload"
              styleClass="h-full button-min-height"
              icon="pi pi-refresh"
              (onClick)="onReload()"
              [attr.aria-label]="'ACTIONS.SEARCH.RELOAD' | translate"
              [pTooltip]="'ACTIONS.SEARCH.RELOAD' | translate"
              tooltipPosition="top"
              tooltipEvent="hover"
            ></p-button>
          </div>
        </div>
      </ng-template>

      <!-- TABLE HEADER -->
      <ng-template pTemplate="header" let-columns>
        <tr id="ws_menu_table_header_row_1">
          <th class="py-2 px-2 vertical-align-top text-left border-transparent">
            <div class="slim-selectbutton filter-selectbutton">
              <p-selectButton
                inputid="ws_menu_table_header_row_1_switch_tree_label"
                styleClass="data-view-control flex flex-nowrap"
                [options]="treeNodeLabelSwitchItems"
                [(ngModel)]="treeNodeLabelSwitchValue"
                (onChange)="onTreeNodeLabelSwitchChange($event)"
                [pTooltip]="'DIALOG.MENU.HEADER.DISPLAYED_ITEM' | translate"
                tooltipPosition="top"
                tooltipEvent="hover"
              >
                <ng-template let-item pTemplate="item"> {{ item.label }} </ng-template>
              </p-selectButton>
            </div>
          </th>
          <th
            class="py-2 px-2 pl-4 vertical-align-top text-left border-transparent"
            [attr.colspan]="displayRoles ? 1 + columns.length : 6"
          >
            <p-toggleButton
              inputid="ws_menu_table_header_row_1_switch_details_n_roles"
              styleClass="data-view-control hidden-xs"
              [onLabel]="'DIALOG.MENU.HEADER.DETAILS' | translate"
              [offLabel]="'DIALOG.MENU.HEADER.ROLES' | translate"
              [(ngModel)]="treeTableContentValue"
              (onChange)="onToggleTreeTableContent($event)"
              [attr.aria-label]="'DIALOG.MENU.HEADER.DETAILS_N_ROLES.TOOLTIP' | translate"
              [pTooltip]="'DIALOG.MENU.HEADER.DETAILS_N_ROLES.TOOLTIP' | translate"
              tooltipPosition="top"
              tooltipEvent="hover"
            />
          </th>
        </tr>
        <tr id="ws_menu_table_header_row_2">
          <th class="p-2 pt-0 vertical-align-bottom border-transparent border-bottom-2">
            <p-toggleButton
              inputId="ws_menu_table_header_tree_toggle"
              styleClass="data-view-control white-space-nowrap"
              [(ngModel)]="treeExpanded"
              [onLabel]="'ACTIONS.TREE.COLLAPSE_ALL' | translate"
              [offLabel]="'ACTIONS.TREE.EXPAND_ALL' | translate"
              (onChange)="onToggleTreeViewMode($event)"
              [attr.aria-label]="'ACTIONS.TREE.EXPAND_ALL.TOOLTIP' | translate"
              [pTooltip]="'ACTIONS.TREE.EXPAND_ALL.TOOLTIP' | translate"
              tooltipPosition="top"
              tooltipEvent="hover"
            />
          </th>
          <ng-container *ngIf="!displayRoles">
            <th
              *ngFor="let col of treeDetailColumns"
              id="ws_menu_table_header_actions"
              class="px-2 py-1 text-center vertical-align-bottom white-space-nowrap border-bottom-2"
              [ngClass]="col.css"
              [pTooltip]="col.tooltipKey | translate"
              tooltipPosition="top"
              tooltipEvent="hover"
            >
              {{ col.headerKey | translate }}
            </th>
          </ng-container>

          <!-- ROLES (workspace roles) -->
          <ng-container *ngIf="displayRoles">
            <th
              *ngIf="columns.length === 0"
              id="ws_menu_table_header_roles_dummy"
              class="pt-2 pb-0 px-2 vertical-align-bottom border-transparent"
            >
              <p-message
                severity="info"
                styleClass="p-2"
                [text]="'DIALOG.MENU.HEADER.ROLES.NOT_EXIST' | translate"
              ></p-message>
            </th>
            <th
              *ngFor="let role of columns"
              id="ws_menu_table_header_roles"
              class="px-2 py-1 vertical-align-bottom hidden-xs text-center border-bottom-2 border-right-1"
              [pTooltip]="role.description ? role.description : ''"
              tooltipPosition="top"
              tooltipEvent="hover"
            >
              {{ role.name }}
            </th>
          </ng-container>
        </tr>
      </ng-template>

      <!-- BODY -->
      <ng-template pTemplate="frozenbody" let-rowNode let-rowData="rowData">
        <tr [ttRow]="rowNode" [id]="'ws_menu_table_row_' + rowData.key">
          <td class="p-0 pr-4">
            <div class="flex flex-row flex-nowrap column-gap-1 align-items-center">
              <p-treeTableToggler [rowNode]="rowNode"></p-treeTableToggler>
              <span *ngIf="rowData.badge" class="pi pi-{{ rowData.badge }} pr-2"></span>
              <span *ngIf="!rowData.badge" class="pi pi-folder pr-2 invisible"></span>
              <span [id]="'ws_menu_table_row_' + rowData.key + '_name'" class="white-space-nowrap">
                {{ rowNode.node.label }}</span
              >
            </div>
          </td>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-rowNode let-rowData="rowData" let-columns="columns">
        <tr [ttRow]="rowNode" [id]="'ws_menu_table_row_' + rowData.key">
          <td class="p-0 pr-4">
            <div class="flex flex-row flex-nowrap column-gap-1 align-items-center">
              <p-treeTableToggler [rowNode]="rowNode"></p-treeTableToggler>
              <span *ngIf="rowData.badge" class="pi pi-{{ rowData.badge }} pr-2"></span>
              <span *ngIf="!rowData.badge" class="pi pi-folder pr-2 invisible"></span>
              <span [id]="'ws_menu_table_row_' + rowData.key + '_name'" class="white-space-nowrap">
                {{ rowNode.node.label }}</span
              >
            </div>
          </td>
          <!-- menu item actions -->
          <ng-container *ngIf="!displayRoles">
            <td class="p-0 hidden-xs">
              <div class="flex flex-row flex-nowrap column-gap-0 align-items-center">
                <button
                  pbutton
                  [id]="'ws_menu_table_row_' + rowData.key + '_disabled'"
                  class="p-button-rounded p-button-text p-button p-component p-button-icon-only"
                  (click)="onToggleDisable($event, rowData)"
                  [attr.aria-label]="'MENU_ITEM.' + (rowData['disabled'] ? 'DISABLED' : 'ENABLED') | translate"
                  [pTooltip]="'MENU_ITEM.' + (rowData['disabled'] ? 'DISABLED' : 'ENABLED') | translate"
                  tooltipPosition="top"
                  tooltipEvent="hover"
                >
                  <span
                    class="text-red-500 font-medium p-button-icon pi pi-check-circle"
                    [class.pi-check-circle]="!rowData['disabled']"
                    [class.pi-minus-circle]="rowData['disabled']"
                    [class.text-green-500]="!rowData['disabled']"
                    [class.text-red-500]="rowData['disabled']"
                    aria-hidden="true"
                  ></span>
                </button>
                <button
                  pbutton
                  type="button"
                  [id]="'ws_menu_table_row_' + rowData.key + '_goto_details'"
                  class="p-button-rounded p-button-text p-button p-component p-button-icon-only"
                  (click)="onGotoDetails($event, rowData)"
                  [attr.aria-label]="'DIALOG.MENU.ACTION.DETAILS' | translate"
                  [pTooltip]="'DIALOG.MENU.ACTION.DETAILS' | translate"
                  tooltipPosition="top"
                  tooltipEvent="hover"
                >
                  <span
                    class="text-primary font-medium p-button-icon pi pi-eye"
                    [class.pi-eye]="!myPermissions.includes('MENU#EDIT')"
                    [class.pi-pencil]="myPermissions.includes('MENU#EDIT')"
                    aria-hidden="true"
                  ></span>
                </button>
                <button
                  *ocxIfPermission="'MENU#EDIT'"
                  pbutton
                  type="button"
                  [id]="'ws_menu_table_row_' + rowData.key + '_goto_new'"
                  class="p-button-rounded p-button-text p-button p-component p-button-icon-only"
                  (click)="onCreateMenu($event, rowData)"
                  [attr.aria-label]="'ACTIONS.CREATE.MENU' | translate"
                  [pTooltip]="'ACTIONS.CREATE.MENU.TOOLTIP' | translate"
                  tooltipPosition="top"
                  tooltipEvent="hover"
                >
                  <span class="text-primary font-medium p-button-icon pi pi-plus-circle" aria-hidden="true"></span>
                </button>
                <button
                  *ocxIfPermission="'MENU#DELETE'"
                  pbutton
                  type="button"
                  [id]="'ws_menu_table_row_' + rowData.key + '_delete'"
                  class="p-button-rounded p-button-text p-button p-component p-button-icon-only"
                  (click)="onDeleteMenu($event, rowData)"
                  [attr.aria-label]="'ACTIONS.DELETE.MENU' | translate"
                  [pTooltip]="'ACTIONS.DELETE.MENU' | translate"
                  tooltipPosition="top"
                  tooltipEvent="hover"
                >
                  <span class="danger-action-text font-medium p-button-icon pi pi-trash" aria-hidden="true"></span>
                </button>
              </div>
            </td>
            <td class="p-2 text-center hidden-md">
              <span
                *ngIf="!isObjectEmpty(rowData.i18n)"
                [id]="'ws_menu_table_row_' + rowData.key + '_i18n'"
                class="white-space-nowrap"
                [pTooltip]="'DIALOG.MENU.TREE.I18N.ROW.TOOLTIP' | translate"
                tooltipPosition="top"
                tooltipEvent="hover"
                >{{ Object.keys(rowData.i18n).join(', ') }}</span
              >
            </td>
            <td class="p-2 text-center hidden-md">
              <span
                *ngIf="rowData.external"
                [id]="'ws_menu_table_row_' + rowData.key + '_extern'"
                class="pi pi-sign-out"
                [attr.aria-label]="'MENU_ITEM.EXTERN' | translate"
                [pTooltip]="'MENU_ITEM.EXTERN' | translate"
                tooltipPosition="top"
                tooltipEvent="hover"
              ></span>
            </td>
            <td class="p-2 hidden-sm">
              <a
                *ngIf="rowData.gotoUrl"
                [id]="'ws_menu_table_row_' + rowData.key + '_url'"
                class="pr-3 text-primary font-italic cursor-pointer"
                [href]="rowData.gotoUrl"
                target="_blank"
                (click)="$event.stopPropagation()"
                [attr.aria-label]="('ACTIONS.NAVIGATION.OPEN_IN_NEW_TAB' | translate) + ': ' + rowData.gotoUrl"
                [pTooltip]="('ACTIONS.NAVIGATION.OPEN_IN_NEW_TAB' | translate) + ': ' + rowData.gotoUrl"
                tooltipPosition="top"
                tooltipEvent="hover"
              >
                {{ rowData.url }}
              </a>
            </td>
          </ng-container>

          <!-- ROLE ASSIGNMENTS -->
          <ng-container *ngIf="displayRoles">
            <td
              *ngFor="let role of columns"
              class="p-0 hidden-xs text-center border-right-1"
              [id]="'ws_menu_table_role_' + role.name + '_' + rowData.key"
            >
              <!-- display only -->
              <div *ngIf="!myPermissions.includes('MENU#GRANT')">
                <span
                  *ngIf="rowData.roles[role.id]"
                  [id]="'ws_menu_table_role_' + role.name + '_' + rowData.key + '_assigned'"
                  class="p-2 pi pi-circle-fill text-primary text-lg"
                  [attr.aria-label]="('DIALOG.MENU.ASSIGNMENT.OK' | translate) + role.name + ' + ' + rowData.key"
                  [pTooltip]="('DIALOG.MENU.ASSIGNMENT.OK' | translate) + role.name + ' + ' + rowData.key"
                  tooltipPosition="top"
                  tooltipEvent="hover"
                >
                </span>
                <span
                  *ngIf="!rowData.roles[role.id]"
                  [id]="'ws_menu_table_role_' + role.name + '_' + rowData.key + '_not_assigned'"
                  class="p-2 pi pi-circle text-primary text-lg"
                  [attr.aria-label]="('DIALOG.MENU.ASSIGNMENT.NOK' | translate) + role.name + ' + ' + rowData.key"
                  [pTooltip]="('DIALOG.MENU.ASSIGNMENT.NOK' | translate) + role.name + ' + ' + rowData.key"
                  tooltipPosition="top"
                  tooltipEvent="hover"
                >
                </span>
              </div>
              <!-- manipulation -->
              <div *ngIf="myPermissions.includes('MENU#GRANT')">
                <button
                  *ngIf="rowData.roles[role.id]"
                  pbutton
                  type="button"
                  [id]="'ws_menu_table_role_' + role.name + '_' + rowData.key + '_action_revoke'"
                  class="p-button-rounded p-button-text p-button p-component p-button-icon-only"
                  (click)="onRevokePermission(rowData, role.id, rowData.roles[role.id])"
                  [attr.aria-label]="
                    ('DIALOG.MENU.ASSIGNMENT.REVOKE_ROLE' | translate) + role.name + ' + ' + rowData.key
                  "
                  [pTooltip]="('DIALOG.MENU.ASSIGNMENT.REVOKE_ROLE' | translate) + role.name + ' + ' + rowData.key"
                  tooltipPosition="top"
                  tooltipEvent="hover"
                >
                  <span class="text-primary font-medium p-button-icon pi pi-circle-fill" aria-hidden="true"></span>
                </button>
                <button
                  *ngIf="!rowData.roles[role.id]"
                  pbutton
                  type="button"
                  [id]="'ws_menu_table_role_' + role.name + '_' + rowData.key + '_action_grant'"
                  class="p-button-rounded p-button-text p-button p-component p-button-icon-only"
                  (click)="onGrantPermission(rowNode, rowData, role.id)"
                  [attr.aria-label]="
                    ('DIALOG.MENU.ASSIGNMENT.GRANT_ROLE' | translate) + role.name + ' + ' + rowData.key
                  "
                  [pTooltip]="('DIALOG.MENU.ASSIGNMENT.GRANT_ROLE' | translate) + role.name + ' + ' + rowData.key"
                  tooltipPosition="top"
                  tooltipEvent="hover"
                >
                  <span class="text-primary font-medium p-button-icon pi pi-circle" aria-hidden="true"></span>
                </button>
              </div>
            </td>
          </ng-container>
        </tr>
      </ng-template>
    </p-treeTable>
  </ocx-page-content>
</ocx-portal-page>

<!--
  DETAIL + DELETE
-->
<app-menu-detail
  [workspaceId]="workspace?.id"
  [menuItemOrg]="menuItem"
  [menuItems]="menuItems"
  [parentItems]="parentItems"
  [changeMode]="changeMode"
  [displayDetailDialog]="displayMenuDetail"
  [displayDeleteDialog]="displayMenuDelete"
  (dataChanged)="onMenuItemChanged($event)"
></app-menu-detail>

<!-- 
  PREVIEW + REORDER 
-->
<app-menu-preview
  *ngIf="menuItems"
  [menuItems]="menuItems"
  [displayDialog]="displayMenuPreview"
  (hideDialog)="onHideMenuPreview()"
  (reorderEmitter)="onUpdateMenuStructure($event)"
>
</app-menu-preview>

<!-- 
  IMPORT 
-->
<app-menu-import
  [workspaceName]="workspaceName"
  [displayDialog]="displayMenuImport"
  (hideDialog)="onHideMenuImport()"
  (importEmitter)="onReload()"
>
</app-menu-import>
