<div class="mt-3 flex flex-wrap align-items-top gap-4">
  <div>
    <span class="p-float-label">
      <input
        pInputText
        type="text"
        class="w-16rem"
        id="ws_import_confirm_workspace_name"
        [(ngModel)]="workspaceName"
        [disabled]="true"
        [attr.aria-label]="'WORKSPACE_IMPORT.WORKSPACE_NAME' | translate"
        [pTooltip]="'WORKSPACE_IMPORT.WORKSPACE_NAME.TOOLTIP' | translate"
        tooltipPosition="top"
        tooltipEvent="hover"
      />
      <label for="ws_import_confirm_workspace_name" aria-hidden="true"
        >{{ 'WORKSPACE_IMPORT.WORKSPACE_NAME' | translate }}</label
      >
    </span>
  </div>
  <div>
    <span class="p-float-label">
      <input
        pInputText
        type="text"
        class="w-16rem"
        id="ws_import_confirm_theme_name"
        [(ngModel)]="themeName"
        [disabled]="true"
        [attr.aria-label]="'WORKSPACE.THEME' | translate"
        [pTooltip]="'WORKSPACE_IMPORT.THEME_NAME.TOOLTIP' | translate"
        tooltipPosition="top"
        tooltipEvent="hover"
      />
      <label for="ws_import_confirm_theme_name" aria-hidden="true">{{ 'WORKSPACE.THEME' | translate }}</label>
    </span>
  </div>
  <div>
    <span class="p-float-label">
      <input
        pInputText
        type="text"
        class="w-16rem"
        id="ws_import_confirm_base_url"
        [(ngModel)]="baseUrl"
        [disabled]="true"
        [attr.aria-label]="'WORKSPACE.BASE_URL' | translate"
        [pTooltip]="'WORKSPACE_IMPORT.BASE_URL.TOOLTIP' | translate"
        tooltipPosition="top"
        tooltipEvent="hover"
      />
      <label for="ws_import_confirm_base_url" aria-hidden="true">{{ 'WORKSPACE.BASE_URL' | translate }}</label>
    </span>
  </div>
  <div>
    <span class="p-float-label">
      <input
        pInputText
        type="text"
        class="w-16rem"
        id="ws_import_confirm_display_name"
        [(ngModel)]="displayName"
        [disabled]="true"
        [attr.aria-label]="'WORKSPACE.DISPLAY_NAME' | translate"
        [pTooltip]="'WORKSPACE_IMPORT.DISPLAY_NAME.TOOLTIP' | translate"
        tooltipPosition="top"
        tooltipEvent="hover"
      />
      <label for="ws_import_confirm_display_name" aria-hidden="true">{{ 'WORKSPACE.DISPLAY_NAME' | translate }}</label>
    </span>
  </div>
</div>

<div class="mt-4 flex flex-wrap align-items-center row-gap-2 mt-1 mb-4">
  <p-message
    *ngIf="workspaceNameExists"
    id="ws_import_confirm_message_workspace_exists"
    severity="error"
    [text]="'WORKSPACE_IMPORT.VALIDATION.WORKSPACE.EXISTS_MESSAGE' | translate"
  ></p-message>
  <p-message
    *ngIf="baseUrlExists"
    id="ws_import_confirm_message_base_url_exists"
    severity="error"
    [text]="'WORKSPACE_IMPORT.VALIDATION.BASE_URL.EXISTS_MESSAGE' | translate"
  ></p-message>
  <p-message
    *ngIf="baseUrlIsMissing"
    id="ws_import_confirm_message_base_url_missing"
    severity="error"
    [text]="'WORKSPACE_IMPORT.VALIDATION.BASE_URL.MISSING' | translate"
  ></p-message>
  <p-message
    *ngIf="importResponse"
    id="ws_import_confirm_message_import_error"
    severity="error"
    [text]="'WORKSPACE_IMPORT.RESPONSE.ERROR' | translate"
  ></p-message>
</div>
