<p-dialog
  [header]="'DIALOG.ROLE.HEADER.' + changeMode | translate"
  [(visible)]="displayDetailDialog"
  (onHide)="onClose()"
  [modal]="true"
  [closable]="true"
  [resizable]="false"
  [dismissableMask]="true"
  [style]="{ width: '450px' }"
  styleClass="disable-max-height-preset"
>
  <form [formGroup]="formGroupRole" errorTailor>
    <div class="flex flex-wrap flex-column gap-4 justify-content-between">
      <p-message
        *ngIf="role?.isIamRole && !role?.isWorkspaceRole"
        id="ws_role_create_info"
        severity="info"
        [text]="'DIALOG.ROLE.ORIGIN.IAM.VIEW' | translate"
      ></p-message>
      <p-message
        *ngIf="!role?.isIamRole && role?.isWorkspaceRole"
        id="ws_role_create_info"
        severity="info"
        [text]="'DIALOG.ROLE.ORIGIN.WORKSPACE.EDIT' | translate"
      ></p-message>
      <p-message
        *ngIf="role?.isIamRole && role?.isWorkspaceRole"
        id="ws_role_create_info"
        severity="info"
        [text]="'DIALOG.ROLE.ORIGIN.IAM.WORKSPACE.EDIT' | translate"
      ></p-message>

      <div class="mt-1">
        <span class="p-float-label" controlErrorAnchor>
          <input
            pInputText
            type="text"
            class="w-full"
            id="ws_role_create_field_name"
            formControlName="name"
            [pTooltip]="'ROLE.NAME.TOOLTIP' | translate"
            tooltipPosition="top"
            tooltipEvent="hover"
          />
          <label class="ocx-required-label" for="ws_role_create_field_name">{{ 'ROLE.NAME' | translate }} </label>
        </span>
      </div>
      <div>
        <span class="p-float-label">
          <input
            pInputText
            type="text"
            class="w-full"
            id="ws_role_create_field_description"
            formControlName="description"
            [pTooltip]="'ROLE.DESCRIPTION.TOOLTIP' | translate"
            tooltipPosition="top"
            tooltipEvent="hover"
          />
          <label for="ws_role_create_field_description">{{ 'ROLE.DESCRIPTION' | translate }} </label>
        </span>
      </div>
    </div>
  </form>
  <ng-template pTemplate="footer">
    <div class="flex flex-wrap column-gap-2 row-gap-1 justify-content-end">
      <p-button
        *ngIf="changeMode === 'VIEW'"
        id="ws_role_create_button_close"
        icon="pi pi-times"
        (onClick)="onClose()"
        [label]="'ACTIONS.NAVIGATION.CLOSE' | translate"
        [ariaLabel]="'ACTIONS.NAVIGATION.CLOSE' | translate"
        [pTooltip]="'ACTIONS.NAVIGATION.CLOSE.TOOLTIP' | translate"
        tooltipPosition="top"
        tooltipEvent="hover"
      ></p-button>
      <p-button
        *ngIf="changeMode !== 'VIEW'"
        id="ws_role_create_button_cancel"
        icon="pi pi-times"
        (onClick)="onClose()"
        [label]="'ACTIONS.CANCEL' | translate"
        [ariaLabel]="'ACTIONS.CANCEL' | translate"
        [pTooltip]="'ACTIONS.TOOLTIPS.CANCEL' | translate"
        tooltipPosition="top"
        tooltipEvent="hover"
      ></p-button>
      <p-button
        *ngIf="changeMode !== 'VIEW'"
        id="ws_role_create_button_save"
        icon="pi pi-save"
        (onClick)="onSaveRole()"
        [disabled]="!formGroupRole.valid"
        [label]="'ACTIONS.SAVE' | translate"
        [ariaLabel]="'ACTIONS.SAVE' | translate"
        [pTooltip]="'ACTIONS.TOOLTIPS.SAVE' | translate"
        tooltipPosition="top"
        tooltipEvent="hover"
      ></p-button>
    </div>
  </ng-template>
</p-dialog>

<!-- DELETE ROLE -->
<p-dialog
  [header]="'DIALOG.ROLE.HEADER.DELETE' | translate"
  [(visible)]="displayDeleteDialog"
  (onHide)="onClose()"
  [modal]="true"
  [closable]="true"
  [draggable]="true"
  [resizable]="false"
  [dismissableMask]="true"
  [style]="{ width: '450px' }"
  styleClass="disable-max-height-preset"
>
  <div class="flex column-gap-4 row-gap-1 justify-content-start align-items-center">
    <div class="pi pi-question-circle text-3xl danger-action-text"></div>
    <div class="flex flex-column row-gap-2">
      <div id="ws_role_delete_message" class="font-bold">{{ 'ACTIONS.DELETE.ROLE.MESSAGE' | translate }}</div>
      <div id="ws_role_delete_role_name" class="font-bold text-center danger-action-text">{{ role?.name }}</div>
      <div id="ws_role_delete_message_info">{{ 'ACTIONS.DELETE.ROLE.MESSAGE_INFO' | translate }}</div>
      <div>{{ 'ACTIONS.DELETE.INFO' | translate }}</div>
    </div>
  </div>
  <ng-template pTemplate="footer">
    <div class="flex flex-wrap column-gap-2 row-gap-1 justify-content-end">
      <p-button
        id="ws_role_delete_action_no"
        icon="pi pi-times"
        (onClick)="onClose()"
        [label]="'ACTIONS.CONFIRMATION.NO' | translate"
        [ariaLabel]="'ACTIONS.CONFIRMATION.NO' | translate"
        [pTooltip]="'ACTIONS.CONFIRMATION.NO.TOOLTIP' | translate"
        tooltipPosition="top"
        tooltipEvent="hover"
      ></p-button>
      <p-button
        id="ws_role_delete_action_yes"
        icon="pi pi-check"
        (onClick)="onDeleteRoleConfirmation()"
        [label]="'ACTIONS.CONFIRMATION.YES' | translate"
        [ariaLabel]="'ACTIONS.CONFIRMATION.YES' | translate"
        [pTooltip]="'ACTIONS.CONFIRMATION.YES.TOOLTIP' | translate"
        tooltipPosition="top"
        tooltipEvent="hover"
      ></p-button>
    </div>
  </ng-template>
</p-dialog>
