.user-sidebar-menu-item {
  cursor: pointer;
  &:hover {
    background-color: var(--hover-bg-color);
    transition: background-color var(--transition-duration);
  }
}

::ng-deep {
  .p-panelmenu-panel {
    box-shadow: none !important;
  }
  .p-accordion {
    .p-accordion-tab {
      box-shadow: none !important;
      &:not(.p-accordion-tab-active) .p-accordion-toggle-icon,
      &.p-accordion-tab-active .p-accordion-toggle-icon {
        transform: none;
      }
    }
    .p-accordion-content {
      padding: 0 !important;
    }
  }
}
