::ng-deep {
  .p-panelmenu {
    .p-panelmenu-panel {
      box-shadow: none !important;
    }
    .p-panelmenu-header .p-panelmenu-header-action {
      &:hover {
        background-color: var(--menu-item-hover-bg-color);
        transition: background-color var(--transition-duration);
      }
    }
    .p-toggleable-content .p-panelmenu-content {
      padding-top: 0;
    }
  }

  .p-accordion {
    .p-accordion-tab {
      box-shadow: none !important;
      &:not(.p-accordion-tab-active) .p-accordion-toggle-icon,
      &.p-accordion-tab-active .p-accordion-toggle-icon {
        transform: none;
        margin-right: 1.5rem;
      }
    }
    .p-accordion-header {
      .p-accordion-header-link .p-accordion-toggle-icon {
        margin-right: 1.5rem !important;
      }
      &:not(.p-disabled) {
        .p-accordion-header-link {
          color: var(--menu-item-text-color) !important;
        }
        &:not(.p-highlight):hover {
          .p-accordion-header-link {
            color: var(--menu-item-text-color) !important;
            background-color: var(--menu-item-hover-bg-color) !important;
            transition: background-color var(--transition-duration);
          }
        }
      }
      .p-accordion-header-link {
        padding: unset !important;
        color: var(--menu-item-text-color);
        .with-image {
          padding: var(--menuitem-padding);
        }
        .without-image {
          padding: var(--panelmenu-header-padding);
        }
      }
    }
    .p-accordion-content {
      padding: 0 !important;
    }
  }
}

@import './../../shared/sidebar-panelmenu.scss';
