<p-accordion [activeIndex]="null" expandIcon="pi pi-chevron-right" collapseIcon="pi pi-chevron-down">
  <p-accordionTab>
    <ng-template pTemplate="header">
      <div class="flex flex-row align-items-center">
        <ocx-slot
          name="onecx-avatar-image"
          [inputs]="{ imageStyleClass: 'h-3rem w-3rem' }"
          [outputs]="{ imageLoaded: avatarImageLoadedEmitter }"
        ></ocx-slot>
        <span *ngIf="avatarImageLoaded === undefined" class="font-bold text-lg pi pi-user"></span>
        <span *ngIf="displayName$ | async as name" class="mx-3 flex flex-column row-gap-1">
          <span
            id="ws_user_sidebar_display_name"
            class="font-bold"
            [ngClass]="name.length > 30 ? 'text-sm' : ''"
            [ngStyle]="{ 'word-break': name.length > 30 ? 'break-all' : 'normal' }"
          >
            {{ name }}
          </span>
          <span *ngIf="organization$ | async as orgId" id="ws_user_sidebar_orgid" class="text-sm">{{ orgId }}</span>
        </span>
      </div>
    </ng-template>
    <ng-template pTemplate="content">
      <p-panelMenu *ngIf="userMenu$ | async as menu" [model]="menu" styleClass="shadow-none"></p-panelMenu>
    </ng-template>
  </p-accordionTab>
</p-accordion>
<hr class="m-0" />
