@use 'src/app/shared/sidebar-panelmenu.scss' as *;
/* User Sidebar (vertical) Menu Component Styles
   The outside of the menu is covered via Accordion.
*/
::ng-deep {
  .p-accordion {
    width: 17rem;
    display: block;
    .p-accordionheader {
      padding: 0.7rem;
      &:not(.p-highlight):hover {
        .p-accordion-header-link {
          color: var(--menu-item-text-color) !important;
          background-color: var(--menu-item-hover-bg-color) !important;
          transition: background-color var(--transition-duration);
        }
      }
    }
    .p-accordioncontent-content {
      padding: 0;
      /* The menu item list is located within the accordion content. */
    }

    .p-accordionpanel:not(.p-disabled) {
      > .p-accordionheader {
        border-radius: 0;
      }
      &.p-accordionpanel-active > .p-accordionheader {
        background: var(--menu-item-bg-color);
        color: var(--menu-item-text-color);
      }
      &.p-accordionpanel-active > .p-accordionheader:hover,
      &:not(.p-accordionpanel-active) > .p-accordionheader:hover {
        background: var(--menu-item-hover-bg-color);
        color: var(--menu-item-text-color);
      }
    }
  }
}
