<!-- <ng-template #loading> <ocx-loading></ocx-loading></ng-template>
<div *ngIf="mfeRList.length === 0" class="px-3 flex flex-wrap justify-content-between align-items-center">
  <p-message
    severity="info"
    styleClass="p-2"
    [text]="'PORTAL.MFES.MESSAGES.NOTHING_REGISTERED' | translate"
  ></p-message>
  <button
    *ocxIfPermission="'WORKSPACE_MFE#REGISTER'"
    pButton
    icon="pi pi-plus"
    [disabled]="editMode"
    [label]="'PORTAL.MFES.REGISTER' | translate"
    [title]="'PORTAL.MFES.REGISTER.TOOLTIP' | translate"
    (click)="displayRegisterDialog = true"
  ></button>
</div>

<p-table
  *ngIf="mfeRList.length > 0"
  #mfeRTable
  [value]="mfeRList"
  [columns]="mfeRColumns"
  dataKey="id"
  styleClass="p-datatable-striped"
  [loading]="mfeLoading"
  [globalFilterFields]="['displayName', 'appId', 'baseUrl', 'remoteBaseUrl']"
  [scrollable]="true"
  [paginator]="true"
  [rows]="10"
  [rowsPerPageOptions]="[10, 25, 50]"
  [alwaysShowPaginator]="true"
  paginatorPosition="bottom"
  [showCurrentPageReport]="true"
  [currentPageReportTemplate]="
    mfeRTablePageReport ? ('GENERAL.PAGE_REPORT_TEMPLATE_' + mfeRTablePageReport | translate) : ''
  "
  (onPage)="onPaginationMfeRTable()"
>
  <ng-template pTemplate="caption" class="p-0">
    <div class="flex flex-wrap justify-content-between row-gap-1">
      <div class="w-1rem"></div>
      <div class="p-inputgroup w-20rem">
        <span class="p-inputgroup-addon pi pi-filter"> </span>
        <span class="p-float-label">
          <input
            #mfeRTableFilterInput
            pInputText
            type="text"
            class="py-0"
            id="pm_detail_mfe_table_filter"
            (input)="mfeRTable.filterGlobal($any($event.target).value, 'contains')"
            [title]="('GENERAL.TOOLTIPS.FILTER' | translate) + mfeRTableFilterColumns"
          />
          <label for="pm_detail_mfe_table_filter"> {{ 'GENERAL.FILTER_PLACEHOLDER' | translate }} </label>
        </span>
        <span
          id="pm_detail_mfe_table_filter_clear"
          class="p-inputgroup-addon bg-primary cursor-pointer pi pi-filter-slash"
          (click)="onClearFilterMfeRTable()"
          [title]="'GENERAL.TOOLTIPS.FILTER_CLEAR' | translate"
        >
        </span>
      </div>
      <button
        *ocxIfPermission="'WORKSPACE_MFE#REGISTER'"
        pButton
        icon="pi pi-plus"
        [disabled]="editMode"
        [label]="'PORTAL.MFES.REGISTER' | translate"
        [title]="'PORTAL.MFES.REGISTER.TOOLTIP' | translate"
        (click)="displayRegisterDialog = true"
      ></button>
    </div>
  </ng-template>

  <ng-template pTemplate="header" let-columns>
    <tr>
      <th
        id="pm_detail_mfe_table_header_row_number"
        class="w-4rem text-center"
        [title]="'GENERAL.TOOLTIPS.ROW_NUMBER' | translate"
      >
        #
      </th>
      <th
        *ngFor="let col of columns"
        [id]="'pm_detail_mfe_table_header_' + col.field"
        [pSortableColumn]="col.noSort ? null : col.field"
        [class.text-center]="',actions,'.indexOf(',' + col.field + ',') > -1"
        [title]="'PORTAL.MFE.TOOLTIPS.' + col.header | translate"
      >
        <ng-container *ngIf="col.noSort"> {{ 'PORTAL.MFE.' + col.header | translate }} </ng-container>
        <ng-container *ngIf="!col.noSort">
          {{ 'PORTAL.MFE.' + col.header | translate }}
          <p-sortIcon [field]="col.field"></p-sortIcon>
        </ng-container>
      </th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-row="rowIndex" let-mfe let-columns="columns">
    <tr [id]="'pm_detail_mfe_table_table_row_' + row">
      <td class="text-center">{{ row + 1 }}</td>
      <td
        *ngFor="let col of columns"
        [id]="'pm_detail_mfe_table_row_' + row + '_' + col.field"
        [class.text-center]="',actions,'.indexOf(',' + col.field + ',') > -1"
        [class.p-0]="col.field === 'actions'"
        [class.white-space-nowrap]="col.field === 'actions'"
      >
        <ng-container *ngIf="col.isSpecial && col.field === 'baseUrl'">
          <a
            [href]="mfe[col.field]"
            [id]="'pm_detail_mfe_table_row_' + row + '_' + col.field"
            (click)="$event.stopPropagation()"
            target="_blank"
            class="text-primary"
            [title]="'ACTIONS.NAVIGATION.OPEN_IN_NEW_TAB' | translate"
          >
            {{ mfe[col.field] }}
          </a>
        </ng-container>
        <ng-container *ngIf="col.isSpecial && col.field === 'remoteBaseUrl'">
          <div class="flex flex-column justify-content-between gap-1">
            <a
              *ngIf="mfeMap.has(mfe.mfeId)"
              [id]="'pm_detail_mfe_table_row_' + row + '_' + col.field"
              [href]="mfe.remoteBaseUrl"
              (click)="$event.stopPropagation()"
              target="_blank"
              class="text-primary font-italic cursor-pointer"
              [title]="'ACTIONS.NAVIGATION.OPEN_IN_NEW_TAB' | translate"
            >
              {{ mfe.remoteBaseUrl }}
            </a>
            <div *ngIf="mfeMap.has(mfe.mfeId)" class="font-italic">{{ mfe.remoteName }} : {{ mfe.moduleType }}</div>
            <p-message
              *ngIf="!mfeMap.has(mfe.mfeId)"
              severity="warn"
              styleClass="p-2"
              [text]="'PORTAL.MFES.MESSAGES.MFE_DOES_NOT_EXIST' | translate"
            ></p-message>
          </div>
        </ng-container>
        <ng-container *ngIf="col.isSpecial && col.field === 'actions'">
          <button
            *ocxIfPermission="'WORKSPACE_MFE#DEREGISTER'"
            pbutton
            type="button"
            [id]="'pm_detail_mfe_table_row_' + row + '_action_deregister'"
            (click)="onDeregister(mfe)"
            [title]="'PORTAL.MFE.TOOLTIPS.DEREGISTER' | translate"
            class="p-button-rounded p-button-text p-button p-component p-button-icon-only"
          >
            <span class="font-medium p-button-icon pi pi-trash danger-action-text" aria-hidden="true"></span>
          </button>
        </ng-container>
        <ng-container *ngIf="!col.isSpecial"> {{ mfe[col.field] }} </ng-container>
      </td>
    </tr>
  </ng-template>
</p-table> -->

<!-- <p-dialog
  [header]="'PORTAL.MFES.REGISTER.HEADER' | translate"
  [(visible)]="displayRegisterDialog"
  [breakpoints]="{ '1300px': '60vw', '1000px': '70vw', '800px': '80vw', '600px': '100vw' }"
  styleClass="portal-mfe-registration"
  [style]="{ width: '40vw' }"
  [modal]="true"
  [draggable]="true"
  [resizable]="true"
  [contentStyle]="{ overflow: 'visible' }"
>
  <div class="w-full">
    <form>
      <div class="field p-fluid">
        <div class="p-inputgroup">
          <span class="p-float-label">
            <input pInputText readonly type="text" id="baseUrl" [value]="portalDetail.baseUrl" />
            <label for="baseUrl" class="">Portal Base URL</label>
          </span>
          <input pInputText readonly type="text" class="slash w-2rem" value="/" />
          <span class="p-float-label">
            <input pInputText type="text" id="baseUrlExtension" [formControl]="baseUrlFC" />
            <label for="baseUrlExtension"> {{ 'PORTAL.MFES.MFE_MODULE_PATH' | translate }} </label>
          </span>
        </div>
        <div class="text-sm mt-1 mx-1">
          {{ 'PORTAL.MFES.MFE_FORWARD' | translate }}
          <b>{{ portalDetail.baseUrl }}/account</b>
          {{ 'PORTAL.MFES.MFE_FORWARD_1' | translate }}
          <b>{{ portalDetail.baseUrl }}/account/profile</b>
          {{ 'PORTAL.MFES.MFE_FORWARD_2' | translate }}
          <b>{{ portalDetail.baseUrl }}/account/settings</b>
        </div>
      </div>

      <div class="field p-fluid mt-3">
        <span class="p-float-label" [title]="'PORTAL.MFES.AVAILABLE_MFES.TOOLTIP' | translate">
          <p-dropdown
            #mfeDropdown
            id="mfeDropdown"
            [options]="mfeAList"
            optionValue="id"
            dataKey="value"
            [formControl]="mfeIdFC"
            [required]="true"
            ngDefaultControl
            (onChange)="onSelectMfe($event)"
          >
            <ng-template pTemplate="selectedItem">
              <div class="flex flex-column">
                <div class="font-bold mb-1">{{ mfeMap.get(mfeDropdown.value)?.displayName }}</div>
                <div class="text-sm font-italic">
                  {{ mfeMap.get(mfeDropdown.value)?.exposedModule }} : {{ mfeMap.get(mfeDropdown.value)?.moduleType }}
                </div>
                <div class="text-sm font-italic">{{ mfeMap.get(mfeDropdown.value)?.remoteEntry }}</div>
              </div>
            </ng-template>
            <ng-template let-mfeItem pTemplate="item">
              <div class="flex flex-column">
                <div class="font-bold">{{ mfeItem.displayName }}</div>
                <div class="text-sm font-italic">
                  {{ mfeItem.exposedModule }} : {{ mfeMap.get(mfeDropdown.value)?.moduleType }}
                </div>
                <div class="text-sm font-italic">{{ mfeItem.remoteEntry }}</div>
              </div>
            </ng-template>
          </p-dropdown>
          <label for="mfeDropdown"> {{ 'PORTAL.MFES.AVAILABLE_MFES' | translate }} </label>
        </span>
        <div class="text-sm mt-1 mx-1">{{ selectedMfe?.note }}</div>
      </div>
    </form>
  </div>
  <ng-template pTemplate="footer">
    <div class="flex flex-wrap gap-2 justify-content-end">
      <p-button
        icon="pi pi-times"
        styleClass="m-0"
        (click)="onCloseDialog()"
        [label]="'ACTIONS.CANCEL' | translate"
        [title]="'ACTIONS.TOOLTIPS.CANCEL_WITHOUT_SAVE' | translate"
      ></p-button>
      <p-button
        *ocxIfPermission="'WORKSPACE_MFE#REGISTER'"
        icon="pi pi-save"
        styleClass="m-0"
        (onClick)="onRegisterMfe()"
        [loading]="apiLoading"
        [disabled]="!baseUrlFC.valid || !mfeIdFC.valid"
        [label]="'PORTAL.MFES.MFE_REGISTER' | translate"
        [title]="'ACTIONS.TOOLTIPS.SAVE' | translate"
      ></p-button>
    </div>
  </ng-template>
</p-dialog> -->

<!-- DEREGISTER MFE MODULE -->
<!-- <p-dialog
  [(visible)]="displayDeregisterDialog"
  [header]="'PORTAL.MFE.DEREGISTER.HEADER' | translate"
  [modal]="true"
  [closable]="true"
  [resizable]="false"
  [dismissableMask]="true"
  [style]="{ 'max-width': '425px' }"
>
  <div class="flex column-gap-3 row-gap-1 justify-content-start align-items-center">
    <div class="pi pi-question-circle text-3xl danger-action-text"></div>
    <div>
      <div>{{ ('PORTAL.MFE.DEREGISTER.MESSAGE' | translate).replace('{{ITEM}}', selectedMfe?.displayName) }}</div>
      <div class="mt-2">{{ 'ACTIONS.DELETE.MESSAGE_INFO' | translate }}</div>
    </div>
  </div>
  <ng-template pTemplate="footer">
    <div class="flex flex-wrap column-gap-2 row-gap-1 justify-content-end">
      <button
        pButton
        autofocus
        type="button"
        class="m-0"
        icon="pi pi-times"
        iconPos="left"
        [label]="'ACTIONS.CONFIRMATION.NO' | translate"
        (click)="displayDeregisterDialog = false"
      ></button>
      <button
        pButton
        type="button"
        class="m-0"
        icon="pi pi-check"
        iconPos="left"
        [label]="'ACTIONS.CONFIRMATION.YES' | translate"
        (click)="deregisterMfe()"
      ></button>
    </div>
  </ng-template>
</p-dialog> -->
