::ng-deep {
  .p-menubar .p-submenu-list {
    padding: 0.5rem 0rem !important;
  }

  /* no borders */
  .layout-menubar-horizontal-main-menu {
    padding: 0 !important;
    border: none !important;
    background: none !important;

    .p-menubar-root-list {
      margin: 0;
      padding: 0;
      border: none !important;
      outline: none !important;
      text-decoration: none;
      list-style-type: none;
      > .p-menuitem {
        .p-menuitem-text {
          white-space: nowrap;
        }
      }
    }

    /* topbar menu items */
    &.p-menubar .p-menubar-root-list > .p-menuitem {
      > .p-menuitem-content {
        .p-menuitem-link {
          .p-menuitem-text,
          .p-menuitem-icon,
          .p-submenu-icon {
            color: var(--topbar-item-text-color);
          }
          &:not(.p-disabled):hover {
            background: var(--topbar-item-text-hover-bg-color);
            transition: background-color var(--p-transition-duration);
          }
        }
      }
    }

    /* topbar submenu items */
    &.p-menubar .p-submenu-list > .p-menuitem {
      > .p-menuitem-content {
        .p-menuitem-link {
          .p-menuitem-text,
          .p-menuitem-icon,
          .p-submenu-icon {
            color: var(--menu-item-text-color);
          }
          &:not(.p-disabled):hover {
            background-color: var(--menu-item-hover-bg-color);
            transition: background-color var(--p-transition-duration);
          }
        }
      }
    }
  }
}
