::ng-deep .layout-menubar-horizontal-main-menu .p-menubar-root-list > .p-menuitem {
  .p-menuitem-text {
    white-space: nowrap;
  }
}
/*
::ng-deep {

  .p-menubar .p-menuitem-link:not(.p-disabled):hover {
    background-color: var(--menu-item-hover-bg-color);
    transition: background-color var(--p-transition-duration);
  }
  .p-menubar .p-menuitem-link {
    color: var(--menu-item-text-color) !important;
  }
}
*/
::ng-deep {
  .p-menubar .p-submenu-list {
    padding: 0.5rem !important;
  }

  .layout-menubar-horizontal-main-menu {
    background: none !important;
    border: none !important;
    padding: 0 !important;

    /* topbar main items */
    &.p-menubar .p-menubar-root-list > .p-menuitem {
      > .p-menuitem-content {
        .p-menuitem-link {
          .p-menuitem-text,
          .p-menuitem-icon,
          .p-submenu-icon {
            color: var(--topbar-item-text-color);
          }
          &:not(.p-disabled):hover {
            background: var(--topbar-item-text-hover-bg-color);
            transition: background-color var(--p-transition-duration);
          }
        }
      }
    }

    &.p-menubar .p-submenu-list > .p-menuitem {
      > .p-menuitem-content {
        .p-menuitem-link {
          .p-menuitem-text,
          .p-menuitem-icon,
          .p-submenu-icon {
            color: var(--menu-item-text-color);
          }
          &:not(.p-disabled):hover {
            background-color: var(--menu-item-hover-bg-color);
            transition: background-color var(--p-transition-duration);
          }
        }
      }
    }
  }
}
