:host ::ng-deep {
  .p-2x {
    padding: 0.928rem; // 2.5 * 0.25rem
  }

  .p-panelmenu {
    width: 17rem;
    gap: 0;
    .p-panelmenu-panel {
      box-shadow: none;
      border-style: none;
      border-radius: 0;
      padding: 0;
    }

    .p-panelmenu-header-content,
    .p-panelmenu-item-content {
      border-radius: 0;
    }
    /* overwrite general style from "body a" */
    .ocx-vertical-menu-item {
      color: var(--menu-item-text-color);
    }

    /* markup the active menu item with specific background and text color */
    .ocx-vertical-menu-active-item {
      &:not(.p-focus) {
        > .p-panelmenu-header-content,
        .p-panelmenu-item-content {
          &:not(:hover) {
            .ocx-vertical-menu-item {
              background-color: var(--menu-active-item-bg-color);
              color: var(--menu-active-item-text-color);
            }
          }
        }
      }
    }
  }
}
