<div class="surface-section w-full my-3">
  <div class="flex flex-wrap flex-column row-gap-4 my-3 w-12 sm:w-10 md:w-8 lg:w-6 xl:w-6">
    <div class="w-12 px-3">
      <span class="p-float-label mb-1">
        <input
          pInputText
          type="text"
          readonly
          id="workspace_detail_item_name"
          class="w-full pt-3 pb-2"
          [value]="workspace.name"
          [pTooltip]="'WORKSPACE.TOOLTIPS.NAME' | translate"
          tooltipPosition="bottom"
          tooltipEvent="hover"
        />
        <label for="workspace_detail_item_name">{{ 'WORKSPACE.NAME' | translate }}</label>
      </span>
    </div>

    <div class="flex flex-wrap row-gap-4">
      <div class="w-12 sm:w-6 px-3">
        <span class="p-float-label mb-1">
          <input
            pInputText
            type="text"
            readonly
            id="workspace_detail_item_creationDate"
            class="w-full pt-3 pb-2"
            [value]="workspace.creationDate | date : dateFormat"
            [pTooltip]="'INTERNAL.TOOLTIPS.CREATION_DATE' | translate"
            tooltipPosition="bottom"
            tooltipEvent="hover"
          />
          <label for="workspace_detail_item_creationDate">{{ 'INTERNAL.CREATION_DATE' | translate }}</label>
        </span>
      </div>

      <div class="w-12 sm:w-6 px-3">
        <span class="p-float-label mb-1">
          <input
            pInputText
            type="text"
            readonly
            id="workspace_detail_item_creationUser"
            class="w-full pt-3 pb-2"
            [value]="workspace.creationUser"
            [pTooltip]="'INTERNAL.TOOLTIPS.CREATION_USER' | translate"
            tooltipPosition="bottom"
            tooltipEvent="hover"
          />
          <label for="workspace_detail_item_creationUser">{{ 'INTERNAL.CREATION_USER' | translate }}</label>
        </span>
      </div>
    </div>

    <div class="flex flex-wrap row-gap-4">
      <div class="w-12 sm:w-6 px-3">
        <span class="p-float-label mb-1">
          <input
            pInputText
            type="text"
            readonly
            id="workspace_detail_item_modificationDate"
            class="w-full pt-3 pb-2"
            [value]="workspace.modificationDate | date : dateFormat"
            [pTooltip]="'INTERNAL.TOOLTIPS.MODIFICATION_DATE' | translate"
            tooltipPosition="bottom"
            tooltipEvent="hover"
          />
          <label for="workspace_detail_item_modificationDate">{{ 'INTERNAL.MODIFICATION_DATE' | translate }}</label>
        </span>
      </div>

      <div class="w-12 sm:w-6 px-3">
        <span class="p-float-label mb-1">
          <input
            pInputText
            type="text"
            readonly
            id="workspace_detail_item_modificationUser"
            class="w-full pt-3 pb-2"
            [value]="workspace.modificationUser"
            [pTooltip]="'INTERNAL.TOOLTIPS.MODIFICATION_USER' | translate"
            tooltipPosition="bottom"
            tooltipEvent="hover"
          />
          <label for="workspace_detail_item_modificationUser">{{ 'INTERNAL.MODIFICATION_USER' | translate }}</label>
        </span>
      </div>
    </div>

    <div class="flex flex-wrap row-gap-4">
      <div class="w-12 sm:w-6 px-3 flex align-items-center">
        <p-checkbox
          type="text"
          [readonly]="true"
          inputId="workspace_detail_item_operator"
          [(ngModel)]="operator"
          [binary]="true"
          [styleClass]="'cursor-auto shadow-none'"
          [label]="'INTERNAL.OPERATOR' | translate"
          [pTooltip]="'INTERNAL.TOOLTIPS.OPERATOR' | translate"
          tooltipPosition="bottom"
          tooltipEvent="hover"
        ></p-checkbox>
      </div>
      <div class="w-12 sm:w-6 px-3 flex align-items-center">
        <p-checkbox
          type="text"
          [readonly]="true"
          inputId="workspace_detail_item_mandatory"
          [(ngModel)]="mandatory"
          [binary]="true"
          [styleClass]="'cursor-auto shadow-none'"
          [label]="'INTERNAL.MANDATORY' | translate"
          [pTooltip]="'INTERNAL.TOOLTIPS.MANDATORY' | translate"
          tooltipPosition="bottom"
          tooltipEvent="hover"
        ></p-checkbox>
      </div>
    </div>
  </div>
</div>
