.slim-vertical-menu-list-slim {
  width: 4rem;
}
.slim-vertical-menu-list-slim-plus {
  width: 7rem;
}

/* for scrolling the menu without visible scrollbar */
.slim-vertical-menu-parent {
  max-height: calc(100% - 4rem);
  overflow-y: scroll; /* Add the ability to scroll the y axis */

  /* Hide the scrollbar for Internet Explorer, Edge and Firefox */
  -ms-overflow-style: none; /* Internet Explorer and Edge */
  scrollbar-width: none; /* Firefox */

  /* Hide the scrollbar for Chrome, Safari and Opera */
  &::-webkit-scrollbar {
    display: none;
  }
}
