<p-dialog
  [(visible)]="workspaceExportVisible"
  [header]="'DIALOG.WORKSPACE.HEADER.EXPORT' | translate"
  [modal]="true"
  [resizable]="true"
  [draggable]="true"
  [dismissableMask]="true"
  [style]="{ width: '400px' }"
  styleClass="disable-max-height-preset"
>
  <div class="flex flex-row flex-nowrap column-gap-4 row-gap-1 justify-content-start align-items-center">
    <div class="pi pi-download text-3xl"></div>
    <div class="flex flex-column row-gap-3 mt-2">
      <div>{{ 'ACTIONS.EXPORT.WORKSPACE' | translate }}</div>
      <p-checkbox
        type="text"
        [readonly]="false"
        inputId="ws_detail_export_menu"
        [(ngModel)]="exportMenu"
        [binary]="true"
        styleClass="cursor-auto shadow-none ml-3"
        [label]="'WORKSPACE_EXPORT.MENU' | translate"
        [ariaLabel]="'WORKSPACE_EXPORT.MENU' | translate"
        [pTooltip]="'WORKSPACE_EXPORT.MENU_TOOLTIP' | translate"
        tooltipPosition="top"
        tooltipEvent="hover"
      ></p-checkbox>
    </div>
  </div>
  <ng-template pTemplate="footer">
    <div class="flex flex-wrap column-gap-2 row-gap-1 justify-content-end">
      <p-button
        id="ws_export_action_no"
        icon="pi pi-times"
        (onClick)="onClose()"
        [label]="'ACTIONS.CONFIRMATION.NO' | translate"
        [ariaLabel]="'ACTIONS.CONFIRMATION.NO' | translate"
        [pTooltip]="'ACTIONS.CONFIRMATION.NO.TOOLTIP' | translate"
        tooltipPosition="top"
        tooltipEvent="hover"
      ></p-button>
      <p-button
        id="ws_export_action_yes"
        icon="pi pi-check"
        (onClick)="onConfirmExportWorkspace()"
        [label]="'ACTIONS.CONFIRMATION.YES' | translate"
        [ariaLabel]="'ACTIONS.CONFIRMATION.YES' | translate"
        [pTooltip]="'ACTIONS.CONFIRMATION.YES.TOOLTIP' | translate"
        tooltipPosition="top"
        tooltipEvent="hover"
      ></p-button>
    </div>
  </ng-template>
</p-dialog>
