<p-dataView
  id="workspace_detail_slots_dataview"
  [value]="wSlots"
  [paginator]="true"
  [alwaysShowPaginator]="true"
  [rowsPerPageOptions]="[24, 48, 96]"
  [rows]="24"
  [layout]="'grid'"
  [filterBy]="filterBy"
  [sortField]="sortField"
  [sortOrder]="sortOrder"
>
  <ng-template pTemplate="header">
    <div class="flex flex-wrap align-items-center">
      <ocx-data-view-controls
        class="flex-grow-1"
        [supportedViews]="['grid']"
        [initialViewMode]="'grid'"
        [filterValue]="filterValue"
        [enableFiltering]="true"
        (filterChange)="onFilterChange($event)"
        [filterColumns]="['SLOT.NAME' | translate]"
        [enableSorting]="true"
        [sortingOptions]="[{ label: 'SLOT.NAME' | translate, value: 'name' }]"
        [defaultSortOption]="sortField"
        [defaultSortDirection]="sortOrder === 1"
        (sortChange)="onSortChange($event)"
        (sortDirectionChange)="onSortDirChange($event)"
        [translations]="dataViewControlsTranslations"
      >
      </ocx-data-view-controls>
      <div class="ml-3 flex column-gap-2">
        <p-button
          *ocxIfPermission="'WORKSPACE_SLOT#VIEW'"
          type="button"
          id="workspace_slots_header_reload"
          styleClass="h-full"
          [title]="'ACTIONS.SEARCH.RELOAD' | translate"
          (onClick)="onReload()"
          icon="pi pi-refresh"
        >
        </p-button>
      </div>
    </div>
  </ng-template>
  <ng-template let-slot let-idx="rowIndex" pTemplate="gridItem">
    <div class="col-12 sm:col-6 md:col-4 lg:col-4 xl:col-3 p-3">
      <div
        [id]="'workspace_detail_slots_data_idx_' + idx"
        class="card relative py-2 px-3"
        [ngClass]="{ 'hover:bg-gray-200 cursor-pointer': !slot.new }"
        (click)="onSlotDetail($event, slot)"
      >
        <span
          *ngIf="hasCreatePermission && slot.new"
          [id]="'workspace_detail_slots_' + idx + '_new'"
          class="card-badge-right badge-1 p-1 pi pi-plus pseudo-button-link"
          [title]="'DIALOG.SLOT.NEW.TOOLTIP' | translate"
          (click)="onAddSlot($event, slot)"
        ></span>
        <span
          *ngIf="hasDeletePermission && !slot.new && slot.components.length === 0"
          [id]="'workspace_detail_roles_data_item_' + idx + '_delete'"
          [title]="'ACTIONS.DELETE.SLOT' | translate"
          class="card-badge-left badge-2-1 p-1 pi pi-trash pseudo-button-link"
          (click)="onDeleteSlot($event, slot)"
        ></span>
        <span
          *ngIf="slot.changes"
          [id]="'workspace_detail_slots_' + idx + '_changed'"
          class="card-badge-right badge-1 pi pi-exclamation-circle danger-action-text text-lg"
          [title]="'DIALOG.SLOT.CHANGED' | translate"
        ></span>
        <span
          *ngIf="slot.components"
          [id]="'workspace_detail_slots_data_item_' + idx + '_components'"
          [title]="'SLOT.COMPONENTS' | translate"
          class="card-badge-right badge-2-1 p-1 text-primary"
          >{{ slot.components.length }}</span
        >
        <div class="h-2-5rem flex flex-column justify-content-center text-center">
          <div class="font-bold" [title]="'Name: ' + slot.name">{{ limitText(slot.name, 30) }}</div>
        </div>
      </div>
    </div>
  </ng-template>
</p-dataView>

<app-workspace-slot-detail
  [workspace]="workspace"
  [slotOrg]="slot"
  [psComponentsOrg]="psComponents"
  [changeMode]="changeMode"
  [displayDetailDialog]="showSlotDetailDialog"
  [displayDeleteDialog]="showSlotDeleteDialog"
  (detailClosed)="onSlotDetailClosed($event)"
  (changed)="onSlotDetailChanged($event)"
></app-workspace-slot-detail>
