<p-message
  *ngIf="exceptionKey"
  id="ws_slots_message_error"
  severity="error"
  styleClass="m-2"
  [text]="exceptionKey | translate"
></p-message>

<p-dataView
  *ngIf="!exceptionKey"
  id="ws_slots_dataview"
  [value]="wSlots"
  [emptyMessage]="'ACTIONS.SEARCH.NO_DATA' | translate"
  [paginator]="true"
  [alwaysShowPaginator]="true"
  [rowsPerPageOptions]="[20, 60, 100]"
  [rows]="20"
  [layout]="'grid'"
  [filterBy]="filterBy"
  [sortField]="sortField"
  [sortOrder]="sortOrder"
  [showCurrentPageReport]="true"
  currentPageReportTemplate="{first} - {last} {{ 'ACTIONS.SEARCH.OF' | translate }} {totalRecords}"
>
  <ng-template pTemplate="header">
    <div class="flex flex-wrap align-items-center column-gap-4 row-gap-1">
      <p-message
        *ngIf="wpLoading || sLoading"
        id="ws_slots_message_loading"
        severity="info"
        styleClass="m-2 p-2"
        [text]="'ACTIONS.LOADING' | translate"
      ></p-message>

      <!-- Quick Filter -->
      <nav
        *ngIf="!(wpLoading || sLoading)"
        class="slim-selectbutton search-criteria-selectbutton"
        [attr.aria-label]="'DIALOG.SLOT.QUICK_FILTER.TOOLTIP' | translate"
        [pTooltip]="'DIALOG.SLOT.QUICK_FILTER.TOOLTIP' | translate"
        tooltipPosition="top"
        tooltipEvent="hover"
      >
        <p-selectButton
          inputid="ws_roles_quick_filter"
          [options]="(quickFilterOptions$ | async) ?? []"
          [(ngModel)]="quickFilterValue"
          (onChange)="onQuickFilterChange($event)"
          [allowEmpty]="false"
          [ariaLabel]="'DIALOG.SLOT.QUICK_FILTER.LABEL' | translate"
          [pTooltip]="'DIALOG.SLOT.QUICK_FILTER.TOOLTIP' | translate"
          tooltipPosition="top"
          tooltipEvent="hover"
        >
          <ng-template let-item pTemplate>
            <span [id]="'ws_detail_slots_quick_filter_' + item.value"> {{ item.label }}</span>
          </ng-template>
        </p-selectButton>
        <div
          class="p-selectbutton-subtitle flex flex-row flex-nowrap column-gap-3 opacity-90"
          [attr.aria-label]="'DIALOG.SLOT.QUICK_FILTER.SELECTED' | translate"
          role="note"
        >
          <span>{{ 'DIALOG.SLOT.QUICK_FILTER.LABEL' | translate }}: </span>
          <span>{{ 'DIALOG.SLOT.QUICK_FILTER.' + quickFilterValue + '.TOOLTIP' | translate }} </span>
        </div>
      </nav>
      <!-- Filter & Sorting -->
      <ocx-data-view-controls
        class="flex-grow-1"
        [supportedViews]="['grid']"
        [initialViewMode]="'grid'"
        [filterValue]="filterValue"
        [enableFiltering]="true"
        (filterChange)="onFilterChange($event)"
        [filterColumns]="['SLOT.NAME' | translate]"
        [enableSorting]="true"
        [sortingOptions]="[{ label: 'SLOT.NAME' | translate, value: 'name' }]"
        [defaultSortOption]="sortField"
        [defaultSortDirection]="sortOrder === 1"
        (sortChange)="onSortChange($event)"
        (sortDirectionChange)="onSortDirChange($event)"
        [translations]="(dataViewControlsTranslations$ | async) ?? {}"
      >
      </ocx-data-view-controls>
      <!-- Additional Actions -->
      <nav
        class="pl-1 flex flex-wrap align-items-center column-gap-2 row-gap-1"
        [attr.aria-label]="'ACTIONS.NAVIGATION.RELATED_TOPICS' | translate"
      >
        <p-button
          *ocxIfPermission="'WORKSPACE#GOTO_APP_STORE'"
          id="ws_slots_header_action_slot_link"
          styleClass="h-full"
          icon="pi pi-cog"
          (onClick)="onGoToProductSlots()"
          [ariaLabel]="'ACTIONS.NAVIGATION.GOTO_PRODUCT_SLOTS' | translate"
          [pTooltip]="'ACTIONS.NAVIGATION.GOTO_PRODUCT_SLOTS' | translate"
          tooltipPosition="top"
          tooltipEvent="hover"
        >
        </p-button>
        <p-button
          *ocxIfPermission="'WORKSPACE_SLOT#VIEW'"
          id="ws_slots_header_action_reload"
          styleClass="h-full"
          icon="pi pi-refresh"
          (onClick)="onReload()"
          [ariaLabel]="'ACTIONS.SEARCH.RELOAD' | translate"
          [pTooltip]="'ACTIONS.SEARCH.RELOAD' | translate"
          tooltipPosition="top"
          tooltipEvent="hover"
        >
        </p-button>
      </nav>
    </div>
  </ng-template>

  <!-- GRID -->
  <ng-template let-slots pTemplate="gridItem">
    <section
      class="grid grid-nogutter"
      [attr.aria-label]="('DIALOG.SEARCH.RESULTS' | translate) + ': ' + ('TABS.WORKSPACE.SLOTS' | translate)"
    >
      <article
        *ngFor="let slot of slots; index as i"
        class="col-6 md:col-4 lg:col-4 xl:col-3 p-2 md:p-3"
        [attr.aria-label]="slot.name"
      >
        <a
          [id]="'ws_slots_grid_data_row_' + i + '_action_detail'"
          [attr.slotid]="slot.id"
          class="block card relative py-1 px-4 p-button p-button-text"
          [ngClass]="{ 'hover:bg-gray-200 cursor-pointer p-button-info': !slot.new, 'p-button-info': slot.new }"
          (click)="onSlotDetail($event, slot)"
          [attr.aria-label]="'DIALOG.SLOT.HEADER.' + (hasEditPermission ? 'EDIT' : 'VIEW') | translate"
        >
          <!-- right badges -->
          <button
            *ngIf="slot.new && hasCreatePermission"
            [id]="'ws_slots_grid_data_row_' + i + '_action_new'"
            class="card-badge-right badge-1 p-1 pi pi-plus bg-transparent border-none button-icon-only"
            (click)="onAddSlot($event, slot)"
            [attr.aria-label]="'DIALOG.SLOT.CREATE.TOOLTIP' | translate"
            [pTooltip]="'DIALOG.SLOT.CREATE.TOOLTIP' | translate"
            tooltipPosition="top"
            tooltipEvent="hover"
          ></button>
          <button
            *ngIf="!slot.new && hasDeletePermission && slot.components.length === 0"
            [id]="'ws_slots_grid_data_row_' + i + '_action_delete'"
            class="card-badge-right badge-1 p-1 pi pi-trash bg-transparent border-none button-icon-only"
            (click)="onSlotDelete($event, slot)"
            [attr.aria-label]="'ACTIONS.DELETE.SLOT.LABEL' | translate"
            [pTooltip]="'ACTIONS.DELETE.SLOT.LABEL' | translate"
            tooltipPosition="top"
            tooltipEvent="hover"
          ></button>
          <div
            *ngIf="!slot.new && hasDeletePermission && slot.components.length > 0"
            [id]="'ws_slots_grid_data_row_' + i + '_action_delete_blocked'"
            class="card-badge-right badge-1 p-1 pi pi-trash cursor-auto"
            [attr.aria-label]="'ACTIONS.DELETE.SLOT.LABEL.COMPONENTS' | translate"
            [pTooltip]="'ACTIONS.DELETE.SLOT.LABEL.COMPONENTS' | translate"
            tooltipPosition="top"
            tooltipEvent="hover"
            role="note"
          ></div>
          <!-- left badges -->
          <div
            *ngIf="slot.components"
            [id]="'ws_slots_grid_data_row_' + i + '_components'"
            class="card-badge-left badge-1-number p-1"
            [attr.aria-label]="'SLOT.COMPONENTS' | translate"
            [pTooltip]="'SLOT.COMPONENTS' | translate"
            tooltipPosition="top"
            tooltipEvent="hover"
            role="note"
          >
            {{ slot.components.length }}
          </div>
          <ng-container *ngIf="slot.changes">
            <div
              *ngIf="slot.undeployed && !slot.deprecated"
              [id]="'ws_slots_grid_data_row_' + i + '_undeployed'"
              class="card-badge-left badge-2 pi pi-ban danger-action-text"
              [attr.aria-label]="'DIALOG.SLOT.UNDEPLOYED' | translate"
              [pTooltip]="'DIALOG.SLOT.UNDEPLOYED.TOOLTIP' | translate"
              tooltipPosition="top"
              tooltipEvent="hover"
              role="note"
            ></div>
            <div
              *ngIf="!slot.undeployed && slot.deprecated"
              [id]="'ws_slots_grid_data_row_' + i + '_deprecated'"
              class="card-badge-left badge-2 pi pi-exclamation-circle danger-action-text"
              [attr.aria-label]="'DIALOG.SLOT.DEPRECATED' | translate"
              [pTooltip]="'DIALOG.SLOT.DEPRECATED.TOOLTIP' | translate"
              tooltipPosition="top"
              tooltipEvent="hover"
              role="note"
            ></div>
            <div
              *ngIf="!slot.undeployed && !slot.deprecated"
              [id]="'ws_slots_grid_data_row_' + i + '_changed'"
              class="card-badge-left badge-2 pi pi-exclamation-circle danger-action-text"
              [attr.aria-label]="'DIALOG.SLOT.CHANGED' | translate"
              [pTooltip]="'DIALOG.SLOT.CHANGED' | translate"
              tooltipPosition="top"
              tooltipEvent="hover"
              role="note"
            ></div>
          </ng-container>
          <!-- CONTENT -->
          <div class="flex flex-column justify-content-between row-gap-2 text-center" aria-hidden="true">
            <div
              [id]="'ws_slots_grid_data_row_' + i + '_slot_name'"
              class="text-sm md:text-base text-color md:font-bold text-responsive"
              [attr.aria-label]="'SLOT.NAME' | translate"
              [pTooltip]="slot.name.length < 20 ? '' : slot.name"
              tooltipPosition="top"
              tooltipEvent="hover"
            >
              {{ slot.name }}
            </div>
            <div
              [id]="'ws_roles_grid_data_row_' + i + '_workspace'"
              class="flex flex-row justify-content-center align-items-center column-gap-3 text-xs sm:text-sm"
            >
              <app-ocx-chip
                *ngIf="!slot.new"
                [id]="'ws_roles_grid_data_row_' + i + '_workspace'"
                class="py-1"
                [styleClass]="'bg-primary'"
                [label]="'Workspace'"
                [title]="'DIALOG.SLOT.WORKSPACE' | translate"
              />
              <app-ocx-chip
                *ngIf="slot.new"
                [id]="'ws_roles_grid_data_row_' + i + '_new'"
                class="py-1"
                [label]="
                  (slot.undeployed
                    ? 'DIALOG.SLOT.UNDEPLOYED'
                    : slot.deprecated
                      ? 'DIALOG.SLOT.DEPRECATED'
                      : 'DIALOG.SLOT.UNREGISTERED'
                  ) | translate
                "
                [title]="'DIALOG.SLOT.UNREGISTERED.TOOLTIP' | translate"
              />
            </div>
          </div>
        </a>
      </article>
    </section>
  </ng-template>
</p-dataView>

<!-- DETAIL -->
<app-workspace-slot-detail
  [slotOrg]="slot"
  [psComponentsOrg]="psComponents"
  [wProductNames]="wProductNames"
  [changeMode]="changeMode"
  [displayDetailDialog]="showSlotDetailDialog"
  [displayDeleteDialog]="showSlotDeleteDialog"
  (detailClosed)="onSlotDetailClosed($event)"
></app-workspace-slot-detail>
