<p-dataView
  id="workspace_detail_slots_dataview"
  [value]="wSlots"
  [paginator]="true"
  [alwaysShowPaginator]="true"
  [rowsPerPageOptions]="[24, 48, 100]"
  [rows]="24"
  [layout]="'grid'"
  [filterBy]="filterBy"
  [sortField]="sortField"
  [sortOrder]="sortOrder"
>
  <ng-template pTemplate="header">
    <div class="flex flex-wrap align-items-center column-gap-4 row-gap-1">
      <!-- Filter & Sorting -->
      <ocx-data-view-controls
        class="flex-grow-1"
        [supportedViews]="['grid']"
        [initialViewMode]="'grid'"
        [filterValue]="filterValue"
        [enableFiltering]="true"
        (filterChange)="onFilterChange($event)"
        [filterColumns]="['SLOT.NAME' | translate]"
        [enableSorting]="true"
        [sortingOptions]="[{ label: 'SLOT.NAME' | translate, value: 'name' }]"
        [defaultSortOption]="sortField"
        [defaultSortDirection]="sortOrder === 1"
        (sortChange)="onSortChange($event)"
        (sortDirectionChange)="onSortDirChange($event)"
        [translations]="dataViewControlsTranslations"
      >
      </ocx-data-view-controls>
      <!-- Additional Actions -->
      <div class="flex flex-wrap align-items-center column-gap-2 row-gap-1">
        <p-button
          *ocxIfPermission="'WORKSPACE#GOTO_APP_STORE'"
          id="ws_slots_header_action_slot_link"
          styleClass="h-full"
          icon="pi pi-cog"
          (onClick)="onGoToProductSlots()"
          [attr.aria-label]="'ACTIONS.NAVIGATION.GOTO_PRODUCT_SLOTS' | translate"
          [pTooltip]="'ACTIONS.NAVIGATION.GOTO_PRODUCT_SLOTS' | translate"
          tooltipPosition="top"
          tooltipEvent="hover"
        >
        </p-button>
        <p-button
          *ocxIfPermission="'WORKSPACE_SLOT#VIEW'"
          id="ws_slots_header_action_reload"
          styleClass="h-full"
          icon="pi pi-refresh"
          (onClick)="onReload()"
          [attr.aria-label]="'ACTIONS.SEARCH.RELOAD' | translate"
          [pTooltip]="'ACTIONS.SEARCH.RELOAD' | translate"
          tooltipPosition="top"
          tooltipEvent="hover"
        >
        </p-button>
      </div>
    </div>
  </ng-template>

  <!-- GRID -->
  <ng-template let-slots let-idx="rowIndex" pTemplate="gridItem">
    <div class="grid grid-nogutter">
      <div *ngFor="let slot of slots" class="col-12 sm:col-6 md:col-4 lg:col-4 xl:col-3 p-2 sm:p-3">
        <a
          [id]="'ws_slots_data_idx_' + idx + '_action_detail'"
          class="block card relative py-2 px-4"
          [ngClass]="{ 'card-primary-color hover:bg-gray-200 cursor-pointer': !slot.new }"
          (click)="onSlotDetail($event, slot)"
          [attr.aria-label]="slot.description ?? '' | translate"
          [pTooltip]="slot.description ?? '' | translate"
          tooltipPosition="top"
          tooltipEvent="hover"
        >
          <!-- right badges -->
          <a
            *ngIf="slot.new && hasCreatePermission"
            [id]="'ws_slots_' + idx + '_action_new'"
            class="card-badge-right badge-1 p-1 pi pi-plus button-icon-only"
            (click)="onAddSlot($event, slot)"
            role="navigation"
            [attr.aria-label]="'DIALOG.SLOT.NEW.TOOLTIP' | translate"
            [pTooltip]="'DIALOG.SLOT.NEW.TOOLTIP' | translate"
            tooltipPosition="top"
            tooltipEvent="hover"
          ></a>
          <a
            *ngIf="!slot.new && hasDeletePermission && slot.components.length === 0"
            [id]="'ws_slots_data_idx_' + idx + '_action_delete'"
            class="card-badge-right badge-1 card-primary-color p-1 pi pi-trash button-icon-only"
            (click)="onDeleteSlot($event, slot)"
            role="navigation"
            [attr.aria-label]="'ACTIONS.DELETE.SLOT' | translate"
            [pTooltip]="'ACTIONS.DELETE.SLOT' | translate"
            tooltipPosition="top"
            tooltipEvent="hover"
          ></a>
          <span
            *ngIf="slot.components"
            [id]="'ws_slots_data_idx_' + idx + '_components'"
            class="card-badge-left badge-1-number p-1"
            [attr.aria-label]="'SLOT.COMPONENTS' | translate"
            [pTooltip]="'SLOT.COMPONENTS' | translate"
            tooltipPosition="top"
            tooltipEvent="hover"
            >{{ slot.components.length }}</span
          >
          <!-- left badges -->
          <span
            *ngIf="slot.changes && !slot.deprecated"
            [id]="'ws_slots_idx_' + idx + '_changed'"
            class="card-badge-left badge-2 pi pi-exclamation-circle danger-action-text font-bold"
            [attr.aria-label]="'DIALOG.SLOT.CHANGED' | translate"
            [pTooltip]="'DIALOG.SLOT.CHANGED' | translate"
            tooltipPosition="top"
            tooltipEvent="hover"
          ></span>
          <span
            *ngIf="slot.deprecated"
            [id]="'ws_slots_idx_' + idx + '_deprecated'"
            class="card-badge-left badge-2 pi pi-exclamation-circle danger-action-text font-bold"
            [attr.aria-label]="'DIALOG.SLOT.DEPRECATED' | translate"
            [pTooltip]="'DIALOG.SLOT.DEPRECATED.TOOLTIP' | translate"
            tooltipPosition="top"
            tooltipEvent="hover"
          ></span>
          <div class="h-2-5rem flex flex-column justify-content-center text-center">
            <div
              [id]="'ws_slots_idx_' + idx + '_slot_name'"
              [attr.aria-label]="slot.name"
              [pTooltip]="slot.name.length < 40 ? '' : slot.name"
              tooltipPosition="top"
              tooltipEvent="hover"
            >
              {{ limitText(slot.name, 40) }}
            </div>
          </div>
        </a>
      </div>
    </div>
  </ng-template>
</p-dataView>

<app-workspace-slot-detail
  [workspace]="workspace"
  [slotOrg]="slot"
  [psComponentsOrg]="psComponents"
  [wProductNames]="wProductNames"
  [changeMode]="changeMode"
  [displayDetailDialog]="showSlotDetailDialog"
  [displayDeleteDialog]="showSlotDeleteDialog"
  (detailClosed)="onSlotDetailClosed($event)"
  (changed)="onSlotDetailChanged($event)"
></app-workspace-slot-detail>
