@import 'src/_ws_mixins.scss';

@include correct-data-view-control;
@include correct-data-view-header-for-tabpanel;

:host ::ng-deep {
  .h-2-5rem {
    height: 2.5rem !important;
  }
  .card-badge-left {
    &.badge-2 {
      top: 26px;
      left: 1px;
    }
    &.badge-1-number {
      top: 2px;
      left: 4px;
    }
  }
}
