<p-dialog
  [header]="'DIALOG.WORKSPACE.HEADER.CREATE' | translate"
  [(visible)]="displayDialog"
  [modal]="true"
  [closable]="true"
  [draggable]="true"
  [resizable]="true"
  [dismissableMask]="true"
  [contentStyle]="{ overflow: 'auto' }"
  [style]="{ width: '700px' }"
  styleClass="disable-max-height-preset"
  [breakpoints]="{ '991px': '700px' }"
>
  <form [formGroup]="formGroup">
    <div class="pt-1 flex flex-wrap flex-column gap-4 justify-content-between">
      <div class="flex flex-row flex-wrap gap-3 justify-content-between">
        <span class="p-float-label w-12 sm:w-5x" controlErrorAnchor>
          <input
            pInputText
            type="text"
            id="ws_create_form_name"
            class="w-full pt-3 pb-2"
            formControlName="name"
            [attr.aria-label]="'WORKSPACE.NAME' | translate"
            [pTooltip]="'WORKSPACE.TOOLTIPS.NAME' | translate"
            tooltipPosition="top"
            tooltipEvent="hover"
          />
          <label class="ocx-required-label" for="ws_create_form_name" aria-hidden="true">
            {{ 'WORKSPACE.NAME' | translate }}
          </label>
        </span>
        <span class="p-float-label w-12 sm:w-7x" controlErrorAnchor>
          <input
            pInputText
            type="text"
            id="ws_create_form_display_name"
            class="w-full pt-3 pb-2"
            formControlName="displayName"
            [attr.aria-label]="'WORKSPACE.DISPLAY_NAME' | translate"
            [pTooltip]="'WORKSPACE.TOOLTIPS.DISPLAY_NAME' | translate"
            tooltipPosition="top"
            tooltipEvent="hover"
          />
          <label class="ocx-required-label" for="ws_create_form_display_name" aria-hidden="true">
            {{ 'WORKSPACE.DISPLAY_NAME' | translate }}
          </label>
        </span>
      </div>

      <div class="w-12">
        <ocx-slot [name]="slotName" [inputs]="{ dataType: 'themes' }" [outputs]="{ themes: themesEmitter }"> </ocx-slot>
        <div class="flex flex-row flex-wrap gap-3 justify-content-between">
          <span class="p-float-label w-12 sm:w-5x">
            <p-dropdown
              *ngIf="(themes$ | async) ?? [] as themes"
              id="ws_create_form_theme"
              formControlName="theme"
              styleClass="w-full input-field-correction"
              [options]="themes"
              optionLabel="displayName"
              optionValue="name"
              [ariaLabel]="'WORKSPACE.THEME' | translate"
              [pTooltip]="'WORKSPACE.TOOLTIPS.THEME' | translate"
              tooltipPosition="top"
              tooltipEvent="hover"
            >
            </p-dropdown>
            <label class="ocx-required-label" for="ws_create_form_theme" aria-hidden="true">
              {{ 'WORKSPACE.THEME' | translate }}
            </label>
          </span>
          <span class="p-float-label w-12 sm:w-7x">
            <p-dropdown
              *ngIf="(productPaths$ | async) ?? [] as paths"
              id="ws_create_form_home_page"
              formControlName="homePage"
              styleClass="w-full input-field-correction"
              (onClick)="onOpenProductPathes(paths)"
              [options]="paths"
              [showClear]="true"
              [ariaLabel]="'WORKSPACE.HOME_PAGE' | translate"
              [pTooltip]="'WORKSPACE.TOOLTIPS.HOME_PAGE' | translate"
              tooltipPosition="top"
              tooltipEvent="hover"
            >
            </p-dropdown>
            <label for="ws_create_form_home_page" aria-hidden="true">{{ 'WORKSPACE.HOME_PAGE' | translate }} </label>
          </span>
        </div>
      </div>

      <div>
        <span class="p-float-label" controlErrorAnchor>
          <input
            pInputText
            type="text"
            id="ws_create_form_baseUrl"
            class="w-full pt-3 pb-2"
            formControlName="baseUrl"
            [attr.aria-label]="'WORKSPACE.BASE_URL' | translate"
            [pTooltip]="'WORKSPACE.TOOLTIPS.BASE_URL' | translate"
            tooltipPosition="top"
            tooltipEvent="hover"
          />
          <label class="ocx-required-label" for="ws_create_form_baseUrl" aria-hidden="true">
            {{ 'WORKSPACE.BASE_URL' | translate }}
          </label>
        </span>
        <label class="ocx-control-hint block mt-1" for="ws_create_form_baseUrl" aria-hidden="true">
          {{ ('VALIDATION.HINTS.FORMAT_URL' | translate) + '/base-path-to-workspace' }}
        </label>
      </div>

      <div class="flex flex-wrap sm:flex-nowrap align-items-center row-gap-2 column-gap-4">
        <app-image-container
          [id]="'ws_create_form_logo_image'"
          [imageUrl]="fetchingLogoUrl"
          styleClass="max-h-3rem max-w-4rem border-round-sm"
        ></app-image-container>
        <span class="p-float-label w-full">
          <input
            pInputText
            type="text"
            id="ws_create_form_logo"
            class="w-full pt-3 pb-2"
            formControlName="logoUrl"
            (blur)="inputChange($event)"
            [attr.aria-label]="'IMAGE.LOGO_URL' | translate"
            [pTooltip]="'IMAGE.TOOLTIPS.URL' | translate"
            tooltipPosition="top"
            tooltipEvent="hover"
          />
          <label for="ws_create_form_logo" aria-hidden="true">{{ 'IMAGE.LOGO_URL' | translate }} </label>
        </span>
      </div>

      <div>
        <span class="p-float-label" controlErrorAnchor>
          <input
            pInputText
            type="text"
            id="ws_create_form_footerLabel"
            class="w-full pt-3 pb-2"
            formControlName="footerLabel"
            [attr.aria-label]="'WORKSPACE.FOOTER_LABEL' | translate"
            [pTooltip]="'WORKSPACE.TOOLTIPS.FOOTER_LABEL' | translate"
            tooltipPosition="top"
            tooltipEvent="hover"
          />
          <label for="ws_create_form_footerLabel" aria-hidden="true">{{ 'WORKSPACE.FOOTER_LABEL' | translate }} </label>
        </span>
      </div>

      <div>
        <span class="p-float-label" controlErrorAnchor>
          <textarea
            class="w-full"
            pInputTextarea
            autoresize="true"
            rows="4"
            id="ws_create_form_description"
            formControlName="description"
            [attr.aria-label]="'WORKSPACE.DESCRIPTION' | translate"
            [pTooltip]="'WORKSPACE.TOOLTIPS.DESCRIPTION' | translate"
            tooltipPosition="top"
            tooltipEvent="hover"
          ></textarea>
          <label for="ws_create_form_description" aria-hidden="true">{{ 'WORKSPACE.DESCRIPTION' | translate }} </label>
        </span>
      </div>
    </div>
  </form>

  <ng-template pTemplate="footer">
    <div class="flex flex-wrap column-gap-2 row-gap-1 justify-content-end">
      <p-button
        id="ws_create_action_cancel"
        icon="pi pi-times"
        (onClick)="closeDialog()"
        [label]="'ACTIONS.CANCEL' | translate"
        [ariaLabel]="'ACTIONS.CANCEL' | translate"
        [pTooltip]="'ACTIONS.TOOLTIPS.CANCEL' | translate"
        tooltipPosition="top"
        tooltipEvent="hover"
      ></p-button>
      <p-button
        id="ws_create_action_save"
        icon="pi pi-plus"
        [disabled]="!formGroup.valid"
        (onClick)="saveWorkspace()"
        [label]="'ACTIONS.CREATE.LABEL' | translate"
        [ariaLabel]="'ACTIONS.CREATE.LABEL' | translate"
        [pTooltip]="'ACTIONS.CREATE.WORKSPACE.TOOLTIP' | translate"
        tooltipPosition="top"
        tooltipEvent="hover"
      ></p-button>
    </div>
  </ng-template>
</p-dialog>
