@import 'src/app/_ws-mixins.scss';

@include correct-file-upload;
@include readable-disabled-components;
@include dialog-footer-buttons;
@include dialog-modal-disable-full-height;

:host ::ng-deep {
  .p-fileupload-buttonbar {
    display: flex;
    flex-wrap: wrap;
    row-gap: 0.5rem;
  }
  .p-steps ul {
    flex-wrap: wrap;
    gap: 0.2rem;
  }
  @media only screen and (max-width: 400px) {
    .p-steps .p-steps-item {
      margin: 0.3rem 0;
    }
  }
}
