<li
  [ngSwitch]="type"
  routerLinkActive="active-menu-parent"
  [ngClass]="{ 'active-menu-parent': active, 'parent-menu': type === 'parent' }"
  attr.debug="{{ type }} url {{ item.url }} router: {{ item.routerLink }} active {{ active }}"
>
  <!-- not clickable menu item -->
  <div *ngSwitchCase="'label'">
    <span class="layout-menuitem-text">{{ item.label }}</span>
  </div>
  <!-- external href -->
  <a
    *ngSwitchCase="'href'"
    [attr.href]="sanitize(item.url)"
    (click)="itemClick($event)"
    (keydown.enter)="itemClick($event)"
    [attr.target]="item.target"
    [attr.tabindex]="0"
    (mouseenter)="onMouseEnter()"
    pRipple
    [pTooltip]="item.label || ''"
    [tooltipDisabled]="active || !(root && uiConfig.isSlim && !uiConfig.isMobile)"
  >
    <i [ngClass]="'pi-' + item.icon || ''" class="layout-menuitem-icon pi"></i>
    <span class="layout-menuitem-text">{{ item.label }}</span>
    <span class="p-tag p-component ml-auto" [ngClass]="item.badgeStyleClass || ''" *ngIf="item.badge && !root">
      {{ item.badge }}
    </span>
  </a>
  <!-- internal router link -->
  <a
    *ngSwitchCase="'routerLink'"
    (click)="itemClick($event)"
    [routerLink]="[item.routerLink]"
    routerLinkActive="active-menuitem-routerlink"
    [routerLinkActiveOptions]="
      item.routerLinkActiveOptions || {
        paths: 'subset',
        matrixParams: 'ignored',
        queryParams: 'ignored',
        fragment: 'ignored'
      }
    "
    [attr.target]="item.target"
    [attr.tabindex]="0"
    (mouseenter)="onMouseEnter()"
    pRipple
    [pTooltip]="item.label || ''"
    [tooltipDisabled]="active || !(root && uiConfig.isSlim && !uiConfig.isMobile)"
  >
    <i [ngClass]="'pi-' + item.icon || ''" class="layout-menuitem-icon pi"></i>
    <span class="layout-menuitem-text">{{ item.label }}</span>
    <span class="p-tag p-component ml-auto" [ngClass]="item.badgeStyleClass || ''" *ngIf="item.badge && !root"
      >{{ item.badge }}
    </span>
  </a>
  <!-- parent menu item -->
  <ng-container *ngSwitchCase="'parent'">
    <a
      (click)="itemClick($event)"
      [attr.tabindex]="0"
      (mouseenter)="onMouseEnter()"
      pRipple
      [pTooltip]="item.label || ''"
      [tooltipDisabled]="active || !(root && uiConfig.isSlim && !uiConfig.isMobile)"
    >
      <i [ngClass]="'pi-' + item.icon || ''" class="layout-menuitem-icon pi"></i>
      <span class="layout-menuitem-text">{{ item.label }}</span>
      <span class="p-tag p-component ml-auto" [ngClass]="item.badgeStyleClass || ''" *ngIf="item.badge && !root">
        {{ item.badge }}
      </span>
      <i class="pi pi-fw pi-angle-down layout-submenu-toggler"></i>
    </a>
    <ul class="level-2" *ngIf="item.items && active && item.visible !== false">
      <ng-template ngFor let-child let-i="index" [ngForOf]="item.items">
        <app-sub-menu [item]="child" [index]="i" [class]="child.badgeStyleClass"></app-sub-menu>
      </ng-template>
    </ul>
  </ng-container>

  <div *ngSwitchDefault>{{ item.label }}<i class="pi pi-warn"></i></div>
</li>
