@let itm = item();
@if (itm) {
  <!-- general look&feel of the menu items -->
  @let menuItemStyle = ' p-2x w-full flex ocx-menu-item cursor-pointer ';
  @if (itm.routerLink) {
    <a
      [id]="id() ?? itm.id"
      [class]="(styleClass() ?? '') + menuItemStyle"
      [safeRouterLink]="itm.routerLink"
      [target]="itm.target ?? '_self'"
      [pTooltip]="title() ?? itm.tooltip ?? ''"
      tooltipPosition="bottom"
      tooltipEvent="hover"
    >
      @if (itm.icon) {
        <span [class]="(styleClassIcon() ?? '') + ' mr-2 ' + itm.icon"></span>
      }
      <span [class]="styleClassLabel() ?? ''">{{ itm.label }}</span>
    </a>
  } @else if (itm.url) {
    <a
      [id]="id() ?? itm.id"
      [class]="(styleClass() ?? '') + menuItemStyle"
      [href]="itm.url"
      [target]="itm.target ?? '_self'"
      [pTooltip]="title() ?? itm.tooltip ?? ''"
      tooltipPosition="bottom"
      tooltipEvent="hover"
    >
      @if (itm.icon) {
        <span [class]="(styleClassIcon() ?? '') + ' mr-2 ' + itm.icon"></span>
      }
      <span [class]="styleClassLabel() ?? ''">{{ itm.label }}</span>
    </a>
  } @else {
    <div
      [class]="(styleClass() ?? '') + menuItemStyle + 'flex-row justify-content-between align-items-center'"
      [pTooltip]="title() ?? itm.tooltip ?? ''"
      tooltipPosition="bottom"
      tooltipEvent="hover"
    >
      <span [id]="id() ?? itm.id" class="flex flex-row align-items-center">
        @if (itm.icon) {
          <span [class]="(styleClassIcon() ?? '') + ' mr-2 ' + itm.icon"></span>
        }
        <span [class]="styleClassLabel() ?? ''">{{ itm.label }}</span>
      </span>
      @if (itm.items) {
        @let icon = itm.expanded ? 'pi-chevron-down' : 'pi-chevron-right';
        <span [class]="'ml-2 pi ' + icon"></span>
      }
    </div>
  }
}
