<form
  class="mt-3 mx-2 sm:mx-3 flex flex-wrap flex-column row-gap-3 sm:row-gap-4 lg:w-10 xl:w-8"
  [formGroup]="formGroup"
  errorTailor
>
  <span class="p-float-label mb-1 w-full" controlErrorAnchor>
    <input
      pInputText
      type="text"
      id="ws_detail_props_item_display_name"
      class="w-full pt-3 pb-2 text-responsive"
      formControlName="displayName"
      [attr.aria-label]="'WORKSPACE.DISPLAY_NAME' | translate"
      [pTooltip]="'WORKSPACE.TOOLTIPS.DISPLAY_NAME' | translate"
      tooltipPosition="top"
      tooltipEvent="hover"
    />
    <label class="ocx-required-label" for="ws_detail_props_item_display_name" aria-hidden="true">
      {{ 'WORKSPACE.DISPLAY_NAME' | translate }}
    </label>
  </span>

  <!-- THEMES -->
  <article [ariaLabel]="'WORKSPACE.THEME' | translate" class="w-full">
    <ocx-slot
      class="hidden"
      [name]="themeSlotName"
      [inputs]="{ dataType: 'themes' }"
      [outputs]="{ themes: themesEmitter }"
    >
    </ocx-slot>
    <ng-container *ngIf="isThemeComponentDefined$ | async; else noThemesAvailable">
      <div
        *ngIf="{
          themes: (themes$ | async) ?? [],
          formValues: themeFormValues$ | async,
          themeLogoUrl: getThemeImageUrl((themes$ | async) ?? [], (themeFormValues$ | async)?.theme ?? '', RefType.Logo)
        } as data"
        class="w-full flex flex-row flex-wrap sm:flex-nowrap align-items-center"
        [ngClass]="{
          'row-gap-2 column-gap-3 sm:column-gap-4': (themeLogoLoadingFailed$ | async) !== undefined || data.themeLogoUrl
        }"
      >
        @if (data.themeLogoUrl) {
          <!-- theme has extern logo url? -->
          <img
            [class]="'border-round-sm max-h-2rem max-w-5rem'"
            [src]="data.themeLogoUrl"
            alt="Theme Logo"
            aria-label="Theme Logo"
            aria-hidden="true"
          />
        } @else {
          <!-- theme has uploaded logo or default logo -->
          <ocx-slot
            [name]="themeSlotName"
            [inputs]="{
              dataType: 'logo',
              themeName: data.formValues?.theme,
              useDefaultLogo: true,
              imageStyleClass: 'max-h-2rem max-w-5rem'
            }"
            [outputs]="{ imageLoadingFailed: themeLogoLoadingEmitter }"
          ></ocx-slot>
        }
        <!-- build inputgroup by hand due to better flex layout -->
        <div class="mb-1 flex-grow-1 flex flex-row justify-content-start row-gap-0" controlErrorAnchor>
          <span class="p-float-label w-full">
            <p-dropdown
              #wsThemeName
              id="ws_detail_props_item_theme"
              formControlName="theme"
              styleClass="w-full inputgroup-dropdown-with-link input-field-correction"
              [options]="checkAndExtendThemes(data.themes)"
              optionLabel="displayName"
              optionValue="name"
              [ariaLabel]="'WORKSPACE.THEME' | translate"
              [pTooltip]="'WORKSPACE.TOOLTIPS.THEME' | translate"
              tooltipPosition="top"
              tooltipEvent="hover"
            >
            </p-dropdown>
            <label class="ocx-required-label" for="ws_detail_props_item_theme" aria-hidden="true">
              {{ 'WORKSPACE.THEME' | translate }}
            </label>
          </span>
          <a
            tabindex="0"
            id="ws_detail_props_item_theme_link"
            class="flex-grow-0 p-inputgroup-addon bg-primary pseudo-button pi pi-link"
            [ngClass]="!editMode && inputBaseUrl.value && themeEndpointExist ? 'cursor-pointer' : 'p-disabled'"
            [routerLink]="[getThemeEndpointUrl$(wsThemeName.value) | async]"
            [attr.aria-label]="'ACTIONS.NAVIGATION.GOTO_THEME' | translate"
            [pTooltip]="'ACTIONS.NAVIGATION.GOTO_THEME' | translate"
            tooltipPosition="right"
            tooltipEvent="hover"
            role="link"
          >
          </a>
        </div>
      </div>
    </ng-container>

    <!-- THEME readonly (no change possible) -->
    <ng-template #noThemesAvailable>
      <div class="p-inputgroup mb-1 w-full" controlErrorAnchor>
        <span class="p-float-label">
          <input
            #wsThemeNameReadonly
            pInputText
            type="text"
            id="ws_detail_props_item_theme_readonly"
            formControlName="theme"
            styleClass="w-full inputgroup-dropdown-with-link input-field-correction text-responsive"
            [ariaLabel]="'WORKSPACE.THEME' | translate"
            [pTooltip]="'WORKSPACE.TOOLTIPS.THEME.READONLY' | translate"
            tooltipPosition="top"
            tooltipEvent="hover"
          />
          <label class="ocx-required-label" for="ws_detail_props_item_theme_readonly">
            {{ 'WORKSPACE.THEME' | translate }}
          </label>
        </span>
        <a
          tabindex="0"
          id="ws_detail_props_item_theme_link2"
          class="p-inputgroup-addon bg-primary pseudo-button pi pi-link"
          [routerLink]="[getThemeEndpointUrl$(wsThemeNameReadonly.value) | async]"
          [ngClass]="!editMode && inputBaseUrl.value && themeEndpointExist ? 'cursor-pointer' : 'p-disabled'"
          [attr.aria-label]="'ACTIONS.NAVIGATION.GOTO_THEME' | translate"
          [pTooltip]="'ACTIONS.NAVIGATION.GOTO_THEME' | translate"
          tooltipPosition="right"
          tooltipEvent="hover"
        >
        </a>
      </div>
    </ng-template>
    <!-- end of theme row -->
  </article>

  <article [attr.aria-label]="'WORKSPACE.BASE_URL' | translate" class="w-full">
    <div class="p-inputgroup mb-1" controlErrorAnchor>
      <span class="p-float-label">
        <input
          #inputBaseUrl
          pInputText
          type="text"
          id="ws_detail_props_item_base_url"
          class="w-full pt-3 pb-2 text-responsive"
          formControlName="baseUrl"
          [attr.aria-label]="'WORKSPACE.BASE_URL' | translate"
          [pTooltip]="'WORKSPACE.TOOLTIPS.BASE_URL' | translate"
          tooltipPosition="top"
          tooltipEvent="hover"
        />
        <label class="ocx-required-label" for="ws_detail_props_item_base_url" aria-hidden="true">
          {{ 'WORKSPACE.BASE_URL' | translate }}
        </label>
      </span>
      <a
        tabindex="0"
        id="ws_detail_props_item_base_url_link"
        class="p-inputgroup-addon bg-primary pseudo-button pi pi-link"
        [ngClass]="!editMode && inputBaseUrl.value ? 'cursor-pointer' : 'p-disabled'"
        target="_blank"
        [href]="
          (getLocation().deploymentPath === '/' ? '' : getLocation().deploymentPath.slice(0, -1)) + inputBaseUrl.value
        "
        (click)="$event.stopPropagation()"
        [attr.aria-label]="'ACTIONS.NAVIGATION.OPEN_IN_NEW_TAB' | translate"
        [pTooltip]="'ACTIONS.NAVIGATION.OPEN_IN_NEW_TAB' | translate"
        tooltipPosition="right"
        tooltipEvent="hover"
        role="link"
      >
      </a>
    </div>
    <label
      *ngIf="editMode"
      class="ocx-control-hint block"
      style="color: var(--emphasis-medium)"
      for="ws_detail_props_item_base_url_link"
      aria-hidden="true"
    >
      {{ 'VALIDATION.HINTS.FORMAT_BASE_URL' | translate }}
    </label>
  </article>

  <article
    *ngIf="(productPaths$ | async) ?? [] as paths"
    class="w-full"
    [attr.aria-label]="'WORKSPACE.HOME_PAGE' | translate"
  >
    <div class="p-inputgroup mb-1" controlErrorAnchor>
      <span class="p-float-label">
        <p-dropdown
          #inputHomePage
          id="ws_detail_props_item_home_page"
          formControlName="homePage"
          styleClass="w-full inputgroup-dropdown-with-link input-field-correction"
          (onClick)="onOpenProductPaths(paths); $event.stopPropagation()"
          [options]="paths"
          [editable]="true"
          [showClear]="true"
          [ariaLabel]="'WORKSPACE.HOME_PAGE' | translate"
          [pTooltip]="'WORKSPACE.TOOLTIPS.HOME_PAGE' | translate"
          tooltipPosition="top"
          tooltipEvent="hover"
        >
        </p-dropdown>
        <label for="ws_detail_props_item_home_page" aria-hidden="true">{{ 'WORKSPACE.HOME_PAGE' | translate }} </label>
      </span>
      <a
        tabindex="0"
        id="ws_detail_props_item_home_page_link"
        class="p-inputgroup-addon bg-primary pseudo-button pi pi-link"
        [ngClass]="!editMode && !workspace?.disabled && inputHomePage.value ? 'cursor-pointer' : 'p-disabled'"
        target="_blank"
        [href]="prepareProductUrl(inputHomePage.value)"
        (click)="$event.stopPropagation()"
        [attr.aria-label]="'ACTIONS.NAVIGATION.OPEN_IN_NEW_TAB' | translate"
        [pTooltip]="'ACTIONS.NAVIGATION.OPEN_IN_NEW_TAB' | translate"
        tooltipPosition="right"
        tooltipEvent="hover"
        role="link"
      >
      </a>
    </div>
    <label
      *ngIf="editMode"
      class="ocx-control-hint block"
      style="color: var(--emphasis-medium)"
      for="ws_detail_props_item_home_page_link"
      aria-hidden="true"
    >
      {{ 'VALIDATION.HINTS.FORMAT_HOME_PAGE' | translate }}
    </label>
  </article>

  <article class="w-full" controlErrorAnchor [attr.aria-label]="'WORKSPACE.RSS_FEED_URL' | translate">
    <div class="p-inputgroup mb-1" controlErrorAnchor>
      <span class="p-float-label">
        <input
          #inputRssFeedUrl
          pInputText
          type="text"
          id="ws_detail_props_item_rssFeedUrl"
          class="w-full pt-3 pb-2 text-responsive"
          formControlName="rssFeedUrl"
          [attr.aria-label]="'WORKSPACE.RSS_FEED_URL' | translate"
          [pTooltip]="'WORKSPACE.TOOLTIPS.RSS_FEED_URL' | translate"
          tooltipPosition="top"
          tooltipEvent="hover"
        />
        <label for="ws_detail_props_item_rssFeedUrl" aria-hidden="true">
          {{ 'WORKSPACE.RSS_FEED_URL' | translate }}
        </label>
      </span>
      <button
        id="ws_detail_props_item_rssFeedUrl_link"
        class="p-inputgroup-addon bg-primary pseudo-button"
        [ngClass]="inputRssFeedUrl.value ? 'cursor-pointer' : 'p-disabled'"
        (click)="Utils.copyToClipboard(workspace?.rssFeedUrl)"
        [attr.aria-label]="'ACTIONS.COPY.CLIPBOARD' | translate"
        [pTooltip]="'ACTIONS.COPY.CLIPBOARD' | translate"
        tooltipPosition="right"
        tooltipEvent="hover"
      >
        <span class="pi pi-copy" aria-hidden="true"></span>
      </button>
    </div>
    <label
      *ngIf="editMode"
      class="ocx-control-hint block"
      style="color: var(--emphasis-medium)"
      for="ws_detail_props_item_home_page_link"
      aria-hidden="true"
    >
      {{ 'VALIDATION.HINTS.FORMAT_FEED_URL' | translate }}
    </label>
  </article>

  <!-- LOGO -->
  <article
    class="w-full flex flex-row flex-wrap sm:flex-nowrap align-items-center row-gap-2 column-gap-4"
    [ngClass]="editMode ? 'sm:h-4rem' : 'sm:h-3rem'"
    [attr.aria-label]="('DIALOG.LOGO.LABEL' | translate) + ': ' + ('IMAGE.TOOLTIPS.LOGO' | translate)"
  >
    <input hidden type="file" accept="image/*" #fileUploadLogo (change)="onFileUpload($event, RefType.Logo)" />
    <section
      class="w-3rem text-center"
      style="color: var(--emphasis-medium)"
      [pTooltip]="'IMAGE.TOOLTIPS.LOGO' | translate"
      tooltipPosition="top"
      tooltipEvent="hover"
      aria-hidden="true"
    >
      {{ 'IMAGE.LOGO' | translate }}
    </section>
    <app-image-container
      id="ws_detail_props_form_logo_image"
      styleClass="max-h-3rem max-w-5rem border-round-sm"
      [bffUrl]="bffUrl[RefType.Logo]"
      [imageUrl]="formGroup.controls['logoUrl'].value"
      [cascadeUse]="!editMode"
      (imageLoadResult)="onImageLoadResult($event, RefType.Logo, formGroup.controls['logoUrl'].value)"
    ></app-image-container>
    <p-button
      *ocxIfPermission="'WORKSPACE#EDIT'"
      id="ws_detail_props_item_remove_logo"
      styleClass="button-min-height"
      icon="pi pi-trash"
      [disabled]="editMode || !(bffUrl[RefType.Logo] && !formGroup.controls['logoUrl'].value)"
      (onClick)="onRemoveImage(RefType.Logo)"
      [ariaLabel]="'IMAGE.TOOLTIPS.REMOVE' | translate"
      [pTooltip]="'IMAGE.TOOLTIPS.REMOVE' | translate"
      tooltipPosition="top"
      tooltipEvent="hover"
    />
    <p-button
      *ocxIfPermission="'WORKSPACE#EDIT'"
      id="ws_detail_props_item_upload_logo"
      icon="pi pi-upload"
      [disabled]="editMode || formGroup.controls['logoUrl'].value"
      (onClick)="fileUploadLogo.click()"
      [ariaLabel]="'IMAGE.TOOLTIPS.UPLOAD' | translate"
      [pTooltip]="'IMAGE.TOOLTIPS.UPLOAD' | translate"
      tooltipPosition="top"
      tooltipEvent="hover"
    />
    <div class="flex flex-column row-gap-1 flex-grow-1">
      <div class="p-inputgroup">
        <span class="p-float-label">
          <input
            #LogoUrlInput
            pInputText
            type="text"
            class="w-full pt-3 pb-2 text-responsive"
            id="ws_detail_props_item_logo_url"
            formControlName="logoUrl"
            [ariaLabel]="'IMAGE.LOGO_URL' | translate"
            [pTooltip]="'IMAGE.TOOLTIPS.URL' | translate"
            tooltipPosition="top"
            tooltipEvent="hover"
          />
          <label for="ws_detail_props_item_logo_url" aria-hidden="true">{{ 'IMAGE.LOGO_URL' | translate }}</label>
        </span>
        <button
          id="ws_detail_props_item_logo_url_remove"
          class="p-inputgroup-addon bg-primary pseudo-button"
          [ngClass]="editMode && LogoUrlInput.value ? 'cursor-pointer' : 'p-disabled'"
          (click)="onRemoveImageUrl(RefType.Logo)"
          [attr.aria-label]="'IMAGE.TOOLTIPS.REMOVE.URL' | translate"
          [pTooltip]="'IMAGE.TOOLTIPS.REMOVE.URL' | translate"
          tooltipPosition="right"
          tooltipEvent="hover"
        >
          <span class="pi pi-trash" aria-hidden="true"></span>
        </button>
      </div>
      <label
        *ngIf="editMode"
        class="ocx-control-hint block"
        style="color: var(--emphasis-medium)"
        for="ws_detail_props_item_logo_url"
        aria-hidden="true"
      >
        {{ 'VALIDATION.HINTS.FORMAT_IMAGE_URL' | translate }}
      </label>
    </div>
  </article>

  <!-- LOGO SMALL -->
  <article
    class="w-full flex flex-row flex-wrap sm:flex-nowrap align-items-center row-gap-2 column-gap-4"
    [ngClass]="editMode ? 'sm:h-4rem' : 'sm:h-3rem'"
    [attr.aria-label]="('DIALOG.LOGO.LABEL' | translate) + ': ' + ('IMAGE.TOOLTIPS.LOGO_SMALL' | translate)"
  >
    <input
      #fileUploadLogoSmall
      hidden
      type="file"
      accept="image/*"
      (change)="onFileUpload($event, RefType.LogoSmall)"
    />
    <section
      class="w-3rem text-center"
      style="color: var(--emphasis-medium)"
      [pTooltip]="'IMAGE.TOOLTIPS.LOGO_SMALL' | translate"
      tooltipPosition="top"
      tooltipEvent="hover"
      aria-hidden="true"
    >
      {{ 'IMAGE.LOGO_SMALL' | translate }}
    </section>
    <app-image-container
      id="ws_detail_props_form_logo_small_image"
      styleClass="max-h-3rem max-w-5rem border-round-sm"
      [bffUrl]="bffUrl[RefType.LogoSmall]"
      [imageUrl]="formGroup.controls['smallLogoUrl'].value"
      [cascadeUse]="!editMode"
      (imageLoadResult)="onImageLoadResult($event, RefType.LogoSmall, formGroup.controls['smallLogoUrl'].value)"
    ></app-image-container>
    <p-button
      *ocxIfPermission="'WORKSPACE#EDIT'"
      id="ws_detail_props_item_remove_logo_small"
      icon="pi pi-trash"
      [disabled]="editMode || !(bffUrl[RefType.LogoSmall] && !formGroup.controls['smallLogoUrl'].value)"
      (onClick)="onRemoveImage(RefType.LogoSmall)"
      [ariaLabel]="'IMAGE.TOOLTIPS.REMOVE' | translate"
      [pTooltip]="'IMAGE.TOOLTIPS.REMOVE' | translate"
      tooltipPosition="top"
      tooltipEvent="hover"
    />
    <p-button
      *ocxIfPermission="'WORKSPACE#EDIT'"
      id="ws_detail_props_item_upload_logo_small"
      icon="pi pi-upload"
      [disabled]="editMode || formGroup.controls['smallLogoUrl'].value"
      (onClick)="fileUploadLogoSmall.click()"
      [ariaLabel]="'IMAGE.TOOLTIPS.UPLOAD' | translate"
      [pTooltip]="'IMAGE.TOOLTIPS.UPLOAD' | translate"
      tooltipPosition="top"
      tooltipEvent="hover"
    />
    <div class="flex flex-column row-gap-1 flex-grow-1">
      <div class="p-inputgroup">
        <span class="p-float-label">
          <input
            #SmallLogoUrlInput
            pInputText
            type="text"
            class="w-full pt-3 pb-2 text-responsive"
            id="ws_detail_props_item_logo_small_url"
            formControlName="smallLogoUrl"
            [attr.aria-label]="'IMAGE.LOGO_URL' | translate"
            [pTooltip]="'IMAGE.TOOLTIPS.URL' | translate"
            tooltipPosition="top"
            tooltipEvent="hover"
          />
          <label for="ws_detail_props_item_logo_small_url" aria-hidden="true">
            {{ 'IMAGE.LOGO_URL' | translate }}
          </label>
        </span>
        <button
          id="ws_detail_props_item_logo_small-url_remove"
          class="p-inputgroup-addon bg-primary pseudo-button"
          [ngClass]="editMode && SmallLogoUrlInput.value ? 'cursor-pointer' : 'p-disabled'"
          (click)="onRemoveImageUrl(RefType.LogoSmall)"
          [attr.aria-label]="'IMAGE.TOOLTIPS.REMOVE.URL' | translate"
          [pTooltip]="'IMAGE.TOOLTIPS.REMOVE.URL' | translate"
          tooltipPosition="right"
          tooltipEvent="hover"
        >
          <span class="pi pi-trash" aria-hidden="true"></span>
        </button>
      </div>
      <label
        *ngIf="editMode"
        class="ocx-control-hint block"
        style="color: var(--emphasis-medium)"
        for="ws_detail_props_item_logo_small_url"
        aria-hidden="true"
      >
        {{ 'VALIDATION.HINTS.FORMAT_IMAGE_URL' | translate }}
      </label>
    </div>
  </article>

  <!-- FOOTER -->
  <span class="p-float-label mb-1 w-full" controlErrorAnchor>
    <input
      pInputText
      type="text"
      id="ws_detail_props_item_footer-label"
      class="w-full pt-3 pb-2 text-responsive"
      formControlName="footerLabel"
      [attr.aria-label]="'WORKSPACE.FOOTER_LABEL' | translate"
      [pTooltip]="'WORKSPACE.TOOLTIPS.FOOTER_LABEL' | translate"
      tooltipPosition="top"
      tooltipEvent="hover"
    />
    <label for="ws_detail_props_item_footer_label" aria-hidden="true"
      >{{ 'WORKSPACE.FOOTER_LABEL' | translate }}
    </label>
  </span>

  <span class="p-float-label mb-1 w-full" controlErrorAnchor>
    <textarea
      class="w-full"
      pInputTextarea
      autoresize="true"
      rows="4"
      id="ws_detail_props_item_description"
      maxlength="255"
      formControlName="description"
      [attr.aria-label]="'WORKSPACE.DESCRIPTION' | translate"
      [pTooltip]="'WORKSPACE.TOOLTIPS.DESCRIPTION' | translate"
      tooltipPosition="top"
      tooltipEvent="hover"
    ></textarea>
    <label for="ws_detail_props_item_description" aria-hidden="true">{{ 'WORKSPACE.DESCRIPTION' | translate }} </label>
  </span>
</form>
