<div class="surface-section grid grid-nogutter m-3">
  <div class="col-12 md:col-10 lg:col-10 xl:col-6">
    <form [formGroup]="formGroup" (ngSubmit)="onSubmit()">
      <div class="flex flex-wrap flex-column gap-4 justify-content-between">
        <div>
          <span class="p-float-label mb-1" controlErrorAnchor>
            <input
              pInputText
              type="text"
              id="workspace_detail_form_name"
              class="w-full pt-3 pb-2"
              formControlName="name"
              [pTooltip]="'WORKSPACE.NAME' | translate"
              tooltipPosition="top"
              tooltipEvent="focus"
            />
            <label class="ocx-required-label" for="workspace_detail_form_name">
              {{ 'WORKSPACE.NAME' | translate }}
            </label>
          </span>
        </div>

        <div>
          <span class="p-float-label mb-1">
            <p-dropdown
              #inputTheme
              id="workspace_detail_form_theme"
              formControlName="theme"
              styleClass="w-full input-field-correction"
              [options]="(themes$ | async) || [workspace.theme]"
              [pTooltip]="'WORKSPACE.THEME' | translate"
              tooltipPosition="top"
              tooltipEvent="focus"
            >
            </p-dropdown>
            <label for="workspace_detail_form_theme"> {{ 'WORKSPACE.THEME' | translate }} </label>
          </span>
        </div>

        <div>
          <div class="p-inputgroup mb-1" controlErrorAnchor>
            <span class="p-float-label">
              <input
                #inputBaseUrl
                pInputText
                type="text"
                id="workspace_detail_form_baseUrl"
                class="w-full pt-3 pb-2"
                formControlName="baseUrl"
                [pTooltip]="'WORKSPACE.BASE_URL' | translate"
                tooltipPosition="top"
                tooltipEvent="focus"
              />
              <label for="workspace_detail_form_baseUrl"> {{ 'WORKSPACE.BASE_URL' | translate }} </label>
            </span>
            <span
              class="p-inputgroup-addon bg-primary pseudo-button"
              [ngClass]="inputBaseUrl.value ? 'cursor-pointer' : 'p-disabled'"
              [title]="'ACTIONS.NAVIGATION.OPEN_IN_NEW_TAB' | translate"
            >
              <a
                target="_blank"
                [href]="inputBaseUrl.value"
                (click)="$event.stopPropagation()"
                id="workspace_detail_form_baseUrl_link"
                class="bg-primary"
              >
                <span class="pi pi-link"></span>
              </a>
            </span>
          </div>
          <label *ngIf="editMode" class="ocx-control-hint block">
            {{ ('VALIDATION.HINTS.FORMAT_URL' | translate) + urlPattern }}
          </label>
        </div>

        <div class="p-inputgroup mb-1" controlErrorAnchor>
          <span class="p-float-label">
            <p-dropdown
              #inputHomePage
              id="workspace_detail_form_home_page"
              formControlName="homePage"
              styleClass="w-full inputgroup-dropdown-with-link input-field-correction"
              [options]="mfeRList"
              [editable]="true"
              [pTooltip]="'WORKSPACE.HOME_PAGE' | translate"
              tooltipPosition="top"
              tooltipEvent="focus"
            >
            </p-dropdown>
            <label for="workspace_detail_form_home_page"> {{ 'WORKSPACE.HOME_PAGE' | translate }} </label>
          </span>
          <span
            class="p-inputgroup-addon bg-primary pseudo-button"
            [ngClass]="inputHomePage.value ? 'cursor-pointer' : 'p-disabled'"
            [title]="'ACTIONS.NAVIGATION.OPEN_IN_NEW_TAB' | translate"
          >
            <a
              target="_blank"
              [href]="inputHomePage.value"
              (click)="$event.stopPropagation()"
              id="workspace_detail_form_homePage_link"
              class="bg-primary"
            >
              <span class="pi pi-link"></span>
            </a>
          </span>
        </div>

        <div class="p-inputgroup mb-1" controlErrorAnchor>
          <span class="p-float-label">
            <input
              #inputRssFeedUrl
              pInputText
              type="text"
              id="workspace_detail_form_rssFeedUrl"
              class="w-full pt-3 pb-2"
              formControlName="rssFeedUrl"
              [pTooltip]="'WORKSPACE.RSS_FEED_URL' | translate"
              tooltipPosition="top"
              tooltipEvent="focus"
            />
            <label for="workspace_detail_form_rssFeedUrl"> {{ 'WORKSPACE.RSS_FEED_URL' | translate }} </label>
          </span>
          <span
            id="workspace_detail_form_rssFeedUrl_link"
            class="p-inputgroup-addon bg-primary pseudo-button"
            [ngClass]="inputRssFeedUrl.value ? 'cursor-pointer' : 'p-disabled'"
            [title]="'ACTIONS.COPY.CLIPBOARD' | translate"
            (click)="copyToClipboard(workspace.rssFeedUrl)"
          >
            <span class="pi pi-copy"></span>
          </span>
        </div>

        <div class="flex flex-wrap sm:flex-nowrap align-items-center mb-1 row-gap-2 column-gap-4">
          <input hidden type="file" accept="image/*" #selectedFileInputLogo (change)="onFileUpload($event, 'logo')" />
          <app-image-container
            [id]="'workspace_detail_form_logo_image'"
            [imageUrl]="fetchingLogoUrl"
            [small]="true"
            [title]="'IMAGE.TOOLTIPS.' + (fetchingLogoUrl ? 'IMAGE' : 'PLACEHOLDER') | translate"
          ></app-image-container>
          <button
            pButton
            id="product_detail_item_upload_logo2"
            icon="pi pi-upload"
            class="action-button p-button-icon-only"
            [ngClass]="
              !editMode ||
              this.formGroup.controls['name'].value === '' ||
              this.formGroup.controls['name'].value === null
                ? 'p-disabled'
                : 'cursor-pointer'
            "
            [title]="'IMAGE.TOOLTIPS.UPLOAD' | translate"
            (click)="editMode ? selectedFileInputLogo.click() : null"
          ></button>
          <span class="p-float-label w-full">
            <input
              pInputText
              type="text"
              class="w-full"
              id="workspace_detail_form_logo_url"
              [title]="'IMAGE.TOOLTIPS.LOGO_URL' | translate"
              formControlName="logoUrl"
              (blur)="onInputChange($event)"
            />
            <label for="workspace_detail_form_logo_url"> {{ 'IMAGE.LOGO_URL' | translate }} </label>
          </span>
        </div>

        <span class="p-float-label mb-1" controlErrorAnchor>
          <input
            pInputText
            type="text"
            id="workspace_detail_form_footerLabel"
            class="w-full pt-3 pb-2"
            formControlName="footerLabel"
            [pTooltip]="'WORKSPACE.FOOTER_LABEL' | translate"
            tooltipPosition="top"
            tooltipEvent="focus"
          />
          <label for="workspace_detail_form_footerLabel"> {{ 'WORKSPACE.FOOTER_LABEL' | translate }} </label>
        </span>

        <span class="p-float-label mb-1" controlErrorAnchor>
          <textarea
            class="w-full"
            pInputTextarea
            autoresize="true"
            rows="4"
            id="workspace_detail_form_description"
            maxlength="255"
            formControlName="description"
            [pTooltip]="'WORKSPACE.DESCRIPTION' | translate"
            tooltipPosition="top"
            tooltipEvent="focus"
          ></textarea>
          <label for="workspace_detail_form_description"> {{ 'WORKSPACE.DESCRIPTION' | translate }} </label>
        </span>
      </div>
    </form>
  </div>
</div>
