<ocx-portal-page permission="WORKSPACE#SEARCH" helpArticleId="PAGE_WORKSPACE_SEARCH">
  <ocx-page-header
    [header]="'DIALOG.WORKSPACE.HEADER.SEARCH' | translate"
    [subheader]="'DIALOG.WORKSPACE.HEADER.SEARCH.SUBHEADER' | translate"
    [actions]="(actions$ | async) ?? []"
    [manualBreadcrumbs]="false"
  >
  </ocx-page-header>
  <ocx-page-content *ngIf="workspaces$ | async as workspaces">
    <p-message
      *ngIf="loading"
      id="ws_search_message_loading"
      severity="info"
      styleClass="m-3 p-2"
      [text]="'ACTIONS.LOADING' | translate"
    ></p-message>
    <p-message
      *ngIf="exceptionKey"
      id="ws_search_message_error"
      severity="error"
      styleClass="m-3 p-2"
      [text]="exceptionKey | translate"
    ></p-message>
    <p-dataView
      *ngIf="!exceptionKey"
      #workspaceTable
      id="ws_search_dataview"
      [value]="workspaces"
      [paginator]="true"
      [alwaysShowPaginator]="true"
      [rowsPerPageOptions]="viewMode === 'grid' ? [100, 200] : [50, 200]"
      [rows]="viewMode === 'grid' ? 100 : 50"
      [layout]="viewMode"
      [emptyMessage]="'ACTIONS.SEARCH.NO_DATA' | translate"
      filterBy="displayName,theme"
      [sortField]="sortField"
      [sortOrder]="sortOrder"
      [showCurrentPageReport]="true"
      currentPageReportTemplate="{first} - {last} {{ 'ACTIONS.SEARCH.OF' | translate }} {totalRecords}"
    >
      <ng-template pTemplate="header">
        <ocx-data-view-controls
          [enableSorting]="true"
          [enableFiltering]="true"
          [supportedViews]="['grid', 'list']"
          [initialViewMode]="viewMode"
          [sortingOptions]="[
            { label: 'WORKSPACE.DISPLAY_NAME' | translate, value: 'displayName' },
            { label: 'WORKSPACE.THEME' | translate, value: 'theme' }
          ]"
          [defaultSortOption]="sortField"
          [defaultSortDirection]="false"
          (dataViewChange)="onLayoutChange($event)"
          (filterChange)="onFilterChange($event, workspaceTable)"
          [filterColumns]="['WORKSPACE.DISPLAY_NAME' | translate, 'WORKSPACE.THEME' | translate]"
          (sortChange)="onSortChange($event)"
          (sortDirectionChange)="onSortDirChange($event)"
          [translations]="(dataViewControlsTranslations$ | async) ?? {}"
        >
        </ocx-data-view-controls>
      </ng-template>

      <!-- LIST -->
      <ng-template let-workspaces pTemplate="listItem">
        <article
          *ngFor="let workspace of workspaces; index as i"
          class="sm:mx-3 py-1 px-3 flex flex-row flex-nowrap justify-content-start align-items-center column-gap-3 hover:bg-gray-200 cursor-pointer"
          [id]="'ws_search_data_list_row_' + i"
          [routerLink]="['./' + workspace.name]"
          [attr.aria-label]="workspace.displayName"
        >
          <div class="p-0 col-4 sm:col-3 md:col-2 flex justify-content-around align-items-center">
            <app-image-container
              [id]="'ws_search_data_list_row_' + i + '_logo'"
              styleClass="h-4rem sm:h-5rem max-h-4rem sm:max-h-5rem max-w-4rem sm:max-w-6rem border-round-sm"
              [bffUrl]="Utils.bffImageUrl(imageBasePath, workspace.name, RefType.Logo)"
              [imageUrl]="workspace.logoUrl"
              aria-hidden="true"
            ></app-image-container>
          </div>
          <div
            [id]="'ws_search_data_list_row_' + i + '_display_name'"
            class="p-0 col-8 sm:col-6 md:col-6 lg:col-5 xl:col-3 sm:font-bold text-base sm:text-md md:text-lg"
            aria-label="Workspace"
            [pTooltip]="workspace.displayName"
            tooltipPosition="top"
            tooltipEvent="hover"
            role="note"
          >
            {{ Utils.limitText(workspace.displayName, 60) }}
          </div>
          <div class="p-0 hidden sm:block col-3 md:col-2">
            <a
              target="_blank"
              [routerLink]="workspace.baseUrl"
              [id]="'ws_search_data_list_row_' + i + '_goto_workspace'"
              (click)="$event.stopPropagation()"
              class="text-primary"
              [attr.aria-label]="'ACTIONS.NAVIGATION.OPEN_IN_NEW_TAB' | translate"
              [pTooltip]="'ACTIONS.NAVIGATION.OPEN_IN_NEW_TAB' | translate"
              tooltipPosition="top"
              tooltipEvent="hover"
              role="link"
            >
              {{ Utils.limitText(workspace.baseUrl, 30) }}
            </a>
          </div>
          <div
            [id]="'ws_search_data_list_row_' + i + '_theme'"
            class="p-0 hidden md:block col-2"
            aria-label="Theme"
            [pTooltip]="('WORKSPACE.THEME' | translate) + (workspace.theme.length < 40 ? '' : ' ' + workspace.theme)"
            tooltipPosition="top"
            tooltipEvent="hover"
            role="note"
          >
            {{ Utils.limitText(workspace.theme, 40) }}
          </div>
          <div
            [id]="'ws_search_data_list_row_' + i + '_description'"
            class="p-0 hidden xl:block col-2"
            [attr.aria-label]="'WORKSPACE.DESCRIPTION' | translate"
            [pTooltip]="workspace.description < 50 ? '' : workspace.description"
            tooltipPosition="top"
            tooltipEvent="hover"
            role="note"
          >
            {{ Utils.limitText(workspace.description, 50) }}
          </div>
        </article>
      </ng-template>

      <!-- GRID -->
      <ng-template let-workspaces pTemplate="gridItem">
        <section
          class="grid grid-nogutter"
          [attr.aria-label]="('DIALOG.SEARCH.RESULTS' | translate) + ': ' + ('TABS.WORKSPACE.WORKSPACES' | translate)"
        >
          <div *ngFor="let workspace of workspaces; index as i" class="col-6 md:col-4 xl:col-3 p-2 md:p-3">
            <article
              [id]="'ws_search_data_grid_row_' + i"
              class="card p-2 sm:px-3 flex flex-column gap-1 sm:gap-2 justify-content-between text-center hover:bg-gray-200 cursor-pointer"
              [routerLink]="['./', workspace.name]"
              [attr.aria-label]="'Workspace: ' + workspace.displayName"
            >
              <div
                [id]="'ws_search_data_grid_row_' + i + '_display_name'"
                class="w-full font-bold text-base sm:text-lg md:text-xl lg:text-2xl text-responsive"
                aria-label="Workspace"
                [pTooltip]="workspace.displayName.length < 20 ? '' : workspace.displayName"
                tooltipPosition="top"
                tooltipEvent="hover"
                aria-hidden="true"
              >
                {{ workspace.displayName }}
              </div>
              <!-- IMAGE & BADGE -->
              <div class="relative w-full h-5rem sm:h-10rem px-4 flex justify-content-center align-items-center">
                <app-image-container
                  [id]="'ws_search_data_grid_row_' + i + '_logo'"
                  styleClass="max-h-5rem sm:max-h-10rem border-round-sm"
                  [bffUrl]="Utils.bffImageUrl(imageBasePath, workspace.name, RefType.Logo)"
                  [imageUrl]="workspace.logoUrl"
                  aria-hidden="true"
                ></app-image-container>
                <!-- BADGES -->
                <div
                  *ngIf="workspace.disabled"
                  [id]="'ws_search_data_grid_row_' + i + '_disabled'"
                  class="card-badge-right badge-1 text-xl pi pi-ban danger-action-text font-bold"
                  [attr.aria-label]="'WORKSPACE.DISABLED' | translate"
                  [pTooltip]="'WORKSPACE.TOOLTIPS.DISABLED' | translate"
                  tooltipPosition="right"
                  tooltipEvent="hover"
                  role="note"
                ></div>
                <div
                  *ngIf="workspace.mandatory"
                  [id]="'ws_search_data_grid_row_' + i + '_mandatory'"
                  class="card-badge-left badge-1 font-bold text-xl pi pi-shield"
                  [attr.aria-label]="'INTERNAL.MANDATORY_TRUE' | translate"
                  [pTooltip]="'WORKSPACE.TOOLTIPS.MANDATORY' | translate"
                  tooltipPosition="top"
                  tooltipEvent="hover"
                  role="note"
                ></div>
                <a
                  *ngIf="!workspace.disabled"
                  tabindex="0"
                  [id]="'ws_search_data_grid_row_' + i + '_goto_workspace'"
                  class="card-badge-right badge-1 text-xl p-2 pi pi-external-link button-icon-only"
                  [routerLink]="[workspace.name]"
                  target="_blank"
                  (click)="$event.stopPropagation()"
                  [attr.aria-label]="'DIALOG.WORKSPACE.QUICK_LINKS.GOTO_WORKSPACE' | translate"
                  [pTooltip]="'DIALOG.WORKSPACE.QUICK_LINKS.GOTO_WORKSPACE' | translate"
                  tooltipPosition="right"
                  tooltipEvent="hover"
                  role="link"
                ></a>
                <a
                  *ocxIfPermission="'MENU#VIEW'"
                  tabindex="0"
                  [id]="'ws_search_data_grid_row_' + i + '_goto_menu'"
                  class="card-badge-right badge-2 text-xl p-2 pi pi-sitemap button-icon-only"
                  [routerLink]="[workspace.name, 'menu']"
                  target="_self"
                  (click)="$event.stopPropagation()"
                  [attr.aria-label]="'DIALOG.WORKSPACE.QUICK_LINKS.GOTO_MENU' | translate"
                  [pTooltip]="'DIALOG.WORKSPACE.QUICK_LINKS.GOTO_MENU' | translate"
                  tooltipPosition="right"
                  tooltipEvent="hover"
                  role="link"
                ></a>
              </div>

              <div class="w-full mt-1 h-2rem sm:h-3rem flex flex-column justify-content-between text-center">
                <div
                  [id]="'ws_search_data_grid_row_' + i + '_description'"
                  class="text-xs md:text-sm md:text-base text-responsive"
                  [attr.aria-label]="'WORKSPACE.DESCRIPTION' | translate"
                  [pTooltip]="'WORKSPACE.DESCRIPTION' | translate"
                  tooltipPosition="top"
                  tooltipEvent="hover"
                  role="note"
                >
                  {{ workspace.description }}
                </div>
                <div
                  [id]="'ws_search_data_grid_row_' + i + '_theme'"
                  class="text-xs md:text-sm md:text-base text-responsive"
                  [attr.aria-label]="'WORKSPACE.THEME' | translate"
                  [pTooltip]="'WORKSPACE.THEME' | translate"
                  tooltipPosition="top"
                  tooltipEvent="hover"
                  role="note"
                >
                  Theme: {{ workspace.theme }}
                </div>
              </div>
            </article>
          </div>
        </section>
      </ng-template>
    </p-dataView>
  </ocx-page-content>
</ocx-portal-page>

<app-workspace-create
  (toggleCreationDialogEvent)="toggleShowCreateDialog()"
  [displayDialog]="showCreateDialog"
></app-workspace-create>

<app-workspace-import
  [displayDialog]="showImportDialog"
  [resetDialog]="showImportDialog"
  (toggleImportDialogEvent)="toggleShowImportDialog()"
></app-workspace-import>
