<ocx-portal-page permission="WORKSPACE#SEARCH" helpArticleId="PAGE_WORKSPACE_SEARCH">
  <ocx-page-header
    [header]="'DIALOG.WORKSPACE.HEADER.SEARCH' | translate"
    [subheader]="'DIALOG.WORKSPACE.HEADER.SEARCH.SUBHEADER' | translate"
    [actions]="(actions$ | async) ?? []"
    [manualBreadcrumbs]="false"
  >
  </ocx-page-header>
  <ocx-page-content>
    <div *ngIf="exceptionKey" id="workspace_search_criteria_error" class="card px-3 align-items-center">
      <p-message
        id="workspace_search_criteria_error_message"
        severity="error"
        styleClass="p-2"
        [text]="exceptionKey | translate"
      ></p-message>
    </div>
    <p-dataView
      *ngIf="!exceptionKey"
      #table
      id="portal_search_dataview"
      [value]="((workspaces$ | async)?.stream ?? []).sort(sortWorkspacesByName)"
      [paginator]="true"
      [alwaysShowPaginator]="true"
      [rowsPerPageOptions]="viewMode === 'grid' ? [12, 24, 60] : [10, 20, 50]"
      [rows]="viewMode === 'grid' ? 12 : 10"
      [layout]="viewMode"
      [emptyMessage]="'ACTIONS.SEARCH.NO_DATA' | translate"
      filterBy="name,theme"
      [sortField]="sortField"
      [sortOrder]="sortOrder"
    >
      <ng-template pTemplate="header">
        <ocx-data-view-controls
          [enableSorting]="true"
          [enableFiltering]="true"
          [supportedViews]="['grid', 'list']"
          [initialViewMode]="viewMode"
          [sortingOptions]="[
            { label: 'WORKSPACE.NAME' | translate, value: 'name' },
            { label: 'WORKSPACE.THEME' | translate, value: 'theme' }
          ]"
          [defaultSortOption]="sortField"
          [defaultSortDirection]="false"
          (dataViewChange)="onLayoutChange($event)"
          (filterChange)="onFilterChange($event)"
          [filterColumns]="['WORKSPACE.NAME' | translate, 'WORKSPACE.THEME' | translate]"
          (sortChange)="onSortChange($event)"
          (sortDirectionChange)="onSortDirChange($event)"
          [translations]="dataViewControlsTranslations"
        >
        </ocx-data-view-controls>
      </ng-template>
      <!-- List - view -->
      <ng-template let-workspace let-row="rowIndex" pTemplate="listItem">
        <div
          class="col-12 grid grid-nogutter row-gap-1 align-items-center p-1 hover:bg-gray-200 cursor-pointer line-height-2"
          [routerLink]="['./' + workspace.name]"
        >
          <div class="h-3rem col-12 sm:col-2 px-2 flex justify-content-around align-items-center">
            <app-image-container
              [id]="'app_workspace_search_data_row_' + row + '_logo'"
              [small]="false"
              styleClass="max-h-3rem max-w-10rem"
              [imageUrl]="getLogoUrl(workspace)"
            ></app-image-container>
          </div>
          <div
            class="col-12 sm:col-3 md:col-3 lg:col-3 xl:col-2 px-2 font-bold text-lg text-center sm:text-left"
            [title]="('WORKSPACE.NAME' | translate) + ': ' + workspace.name"
          >
            {{ limitText(workspace.name, 40) }}
          </div>
          <div class="col-12 sm:col-4 md:col-4 lg:col-4 xl:col-2 px-2 text-center sm:text-left">
            <a
              [routerLink]="workspace.baseUrl"
              [id]="'app_workspace_search_data_row_' + row + '_goto_workspace'"
              (click)="$event.stopPropagation()"
              target="_blank"
              class="text-primary"
              [title]="('WORKSPACE.BASE_URL' | translate) + ' - ' + ('ACTIONS.NAVIGATION.OPEN_IN_NEW_TAB' | translate)"
            >
              {{ limitText(workspace.baseUrl, 50) }}
            </a>
          </div>
          <div
            class="col-12 sm:col-3 md:col-3 lg:col-3 xl:col-2 px-2 text-center sm:text-left"
            [title]="'WORKSPACE.THEME' | translate"
          >
            {{ limitText(workspace.theme, 40) }}
          </div>
          <div
            class="col-12 sm:col-12 md:col-12 lg:col-12 xl:col-4 px-2 text-center sm:text-left"
            [title]="'WORKSPACE.DESCRIPTION' | translate"
          >
            {{ this.getDescriptionString(workspace.description) }}
          </div>
        </div>
      </ng-template>

      <!-- Grid - view -->
      <ng-template let-workspace let-row="rowIndex" pTemplate="gridItem">
        <div class="col-12 sm:col-6 md:col-4 lg:col-4 xl:col-3 p-3" [routerLink]="['./', workspace.name]">
          <div
            class="card relative p-2 flex flex-column justify-content-center row-gap-1 md:row-gap-2 hover:bg-gray-200 cursor-pointer"
          >
            <span
              *ngIf="workspace.name !== 'ADMIN'"
              [id]="'app_workspace_search_data_row_' + row + '_goto_workspace'"
              class="card-badge-right badge-1 p-1 pi pi-external-link pseudo-button-link"
              [title]="'DIALOG.WORKSPACE.QUICK_LINKS.GOTO_WORKSPACE' | translate"
              (click)="onGotoWorkspace($event, workspace)"
            ></span>
            <span
              *ocxIfPermission="'MENU#VIEW'"
              [id]="'app_workspace_search_data_row_' + row + '_goto_menu'"
              class="card-badge-right badge-2 p-1 pi pi-sitemap pseudo-button-link"
              [title]="'DIALOG.WORKSPACE.QUICK_LINKS.GOTO_MENU' | translate"
              (click)="onGotoMenu($event, workspace)"
            ></span>
            <div class="h-3rem md:h-4rem flex flex-column justify-content-center align-items-center text-center">
              <app-image-container
                [id]="'app_workspace_search_data_row_' + row + '_logo'"
                [small]="false"
                styleClass="max-h-3rem md:max-h-4rem max-w-10rem"
                [imageUrl]="getLogoUrl(workspace)"
              ></app-image-container>
            </div>
            <div class="h-3rem flex flex-column justify-content-between px-2 text-center gap-1">
              <div
                class="mt-1 font-bold text-lg md:text-xl"
                [title]="('WORKSPACE.NAME' | translate) + ': ' + workspace.name"
              >
                {{ limitText(workspace.name, 20) }}
              </div>
              <div class="text-sm" title="Theme">{{ limitText(workspace.theme, 25) }}</div>
            </div>
          </div>
        </div>
      </ng-template>
    </p-dataView>
  </ocx-page-content>
</ocx-portal-page>

<p-dialog
  [header]="'ACTIONS.CREATE.WORKSPACE' | translate"
  [(visible)]="showCreateDialog"
  [baseZIndex]="10000"
  [draggable]="true"
  [resizable]="true"
  [modal]="true"
  [style]="{ width: '700px' }"
>
  <app-workspace-create (toggleCreationDialogEvent)="toggleShowCreateDialog()"></app-workspace-create>
</p-dialog>

<p-dialog
  [header]="'WORKSPACE_IMPORT.IMPORT_WORKSPACE' | translate"
  [(visible)]="showImportDialog"
  [baseZIndex]="1000"
  [draggable]="true"
  [resizable]="true"
  [modal]="true"
  [style]="{ width: '783px' }"
>
  <app-workspace-import
    [resetDialog]="showImportDialog"
    (toggleImportDialogEvent)="toggleShowImportDialog()"
  ></app-workspace-import>
</p-dialog>
