<p-table [value]="formArray.controls" responsiveLayout="scroll">
  <ng-template pTemplate="header">
    <tr>
      <th class="table-header">{{ 'PORTAL.ITEM.IMAGE_URL' | translate }}</th>
      <th></th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-control let-i="rowIndex">
    <ng-container [formGroup]="control">
      <tr>
        <!--url label-->
        <td *ngIf="!editMode" class="w-full md:w-8 xl:w-6 table-row-elm-non-edit">
          <div class="mr-3">{{ control['value']['url'] }}</div>
        </td>

        <!--preview of Image-->
        <!-- <td *ngIf="!editMode" class="w-full">
          <app-logo [logoUrl]="control['value']['url']"> </app-logo>
        </td> -->

        <!--input field (editMode)-->
        <td class="table-row-elm-edit w-full md:w-8">
          <input *ngIf="editMode" class="input-field" pInputText type="text" formControlName="url" />
          <ng-container *ngIf="editMode && i === this.lengthFormGroup() - 1" [ngSwitch]="logoState">
            <ng-container *ngSwitchCase="LogoState.INITIAL">
              <p-button
                *ocxIfPermission="'WORKSPACE_IMAGE#EDIT'"
                [label]="'IMAGE.ADDING_IMAGE_COMPUTER' | translate"
                class="ml-2 btn-update-logo-url"
                mode="basic"
                icon="pi pi-upload"
                styleClass="p-button-inlined mt-2"
                (onClick)="selectPhoto()"
              ></p-button>
            </ng-container>
            <ng-container *ngSwitchCase="LogoState.SELECT">
              <p-fileUpload
                id="fileUpload"
                #fileUpload
                class="ml-2"
                name="fileUpload"
                accept="image/*"
                [customUpload]="true"
                (uploadHandler)="onFileUpload()"
                [uploadLabel]="'ACTIONS.UPLOAD' | translate"
                [cancelLabel]="'ACTIONS.CANCEL' | translate"
                [chooseLabel]="'IMAGE.SELECT_IMAGE' | translate"
              >
              </p-fileUpload>
            </ng-container>
            <ng-container *ngSwitchCase="LogoState.CONFIRM">
              <p-button
                *ocxIfPermission="'WORKSPACE_IMAGE#EDIT'"
                [label]="'ACTIONS.UPLOAD' | translate"
                class="full-width"
                styleClass="p-button-inlined"
                (onClick)="onFileUpload()"
              ></p-button>
            </ng-container>
          </ng-container>
        </td>

        <!--delete btn (editMode)-->
        <td *ngIf="editMode && i !== this.lengthFormGroup() - 1" class="p-0 table-row-elm-edit">
          <span class="input-field">
            <button
              *ocxIfPermission="'WORKSPACE_IMAGE#DELETE'"
              pButton
              id="deleteLinkBtn"
              class="p-button-danger"
              icon="pi pi-trash"
              (click)="deleteSubject(i)"
              [title]="'IMAGE.DELETE_IMAGE' | translate"
            ></button>
          </span>
        </td>
      </tr>
    </ng-container>
  </ng-template>
</p-table>

<div *ngIf="editMode" class="div-edit-buttons">
  <button
    *ocxIfPermission="'WORKSPACE_IMAGE#EDIT'"
    pButton
    class="add-button mr-1"
    (click)="addImageEntry()"
    label="{{ 'IMAGE.ADDING_IMAGE' | translate }}"
    icon="pi pi-plus"
  ></button>
</div>
