//set border when screen ist larger than 460px-width
@media (min-width: 740px) {
  .table-row-elm-edit {
    width: 66%;
  }
}

@media (max-width: 460px) {
  //handle buttons from import-tool
  :host ::ng-deep p-fileUpload div div.p-fileupload-buttonbar {
    display: flex;
    justify-content: space-between;
  }
}

.table-header {
  width: 40%;
}

.add-button {
  padding: 0.5rem 0.5rem;
}

.div-edit-buttons {
  padding: 1em;
  display: flex;
}

.table-row-elm-non-edit {
  padding: 22px;
  max-width: 800px !important;
}

.table-row-elm-edit {
  width: 100%;
}

.input-field {
  border-color: #d3d3d3;
  width: 100%;
}

.table-row {
  border: 0;
}
