@import 'src/app/_ws-mixins.scss';

@include readable-disabled-components;
@include correct-data-view-control;
@include correct-data-view-header-for-tabpanel;
@include search-criteria-select-button;
@include search-criteria-select-button-slim;
@include dialog-modal-disable-full-height;

:host ::ng-deep {
  .p-dataview .p-dataview-content {
    padding-left: 0;
    padding-right: 0;
  }
  .h-2-5rem {
    height: 2.5rem !important;
  }
  .card-badge-left {
    &.badge-2 {
      top: 29px;
      left: 6px;
    }
    &.badge-1-number {
      top: 3px;
      left: 5px;
    }
    &.card-badge-left-text {
      left: 4px;
      font-size: 0.7rem !important;
    }
  }
  .word-wrap-break {
    word-wrap: break-word;
  }
}
