<p-dataView
  id="ws_roles_dataview"
  [value]="roles"
  [paginator]="true"
  [alwaysShowPaginator]="true"
  [rowsPerPageOptions]="[24, 48, 100]"
  [rows]="24"
  [layout]="'grid'"
  [filterBy]="filterBy"
  [sortField]="sortField"
  [sortOrder]="sortOrder"
>
  <ng-template pTemplate="header">
    <div class="flex flex-row flex-wrap align-is-center column-gap-4 row-gap-1">
      <!-- Quick Filter -->
      <div class="flex flex-wrap align-is-center gap-2">
        <div
          class="p-selectbutton-title data-view-control opacity-90 text-sm w-2rem text-right"
          [attr.aria-label]="'DIALOG.ROLE.QUICK_FILTER.TOOLTIP' | translate"
          [pTooltip]="'DIALOG.ROLE.QUICK_FILTER.TOOLTIP' | translate"
          tooltipPosition="top"
          tooltipEvent="hover"
        >
          {{ 'DIALOG.ROLE.QUICK_FILTER.LABEL' | translate }}
        </div>
        <div class="slim-selectbutton filter-selectbutton">
          <p-selectButton
            inputid="ws_roles_quick_filter"
            styleClass="data-view-control opacity-90"
            [options]="quickFilterItems"
            [(ngModel)]="quickFilterValue"
            (onChange)="onQuickFilterChange($event)"
          >
            <ng-template let-i pTemplate>
              <span [pTooltip]="i.tooltipKey | translate" tooltipPosition="top" tooltipEvent="hover">
                {{ i.label | translate }}
              </span></ng-template
            >
          </p-selectButton>
        </div>
      </div>
      <!-- Filter & Sorting -->
      <ocx-data-view-controls
        class="flex-grow-1"
        [supportedViews]="['grid']"
        [initialViewMode]="'grid'"
        [filterValue]="filterValue"
        [enableFiltering]="true"
        (filterChange)="onFilterChange($event)"
        [filterColumns]="['ROLE.NAME' | translate, 'ROLE.TYPE' | translate]"
        [enableSorting]="true"
        [sortingOptions]="[
          { label: 'ROLE.NAME' | translate, value: 'name' },
          { label: 'ROLE.TYPE' | translate, value: 'type' }
        ]"
        [defaultSortOption]="sortField"
        [defaultSortDirection]="sortOrder === 1"
        (sortChange)="onSortChange($event)"
        (sortDirectionChange)="onSortDirChange($event)"
        [translations]="dataViewControlsTranslations"
      >
      </ocx-data-view-controls>
      <!-- Additional Actions -->
      <div class="flex flex-wrap align-is-center column-gap-2 row-gap-1">
        <p-button
          *ocxIfPermission="'WORKSPACE#GOTO_PERMISSION'"
          id="ws_slots_header_action_slot_link"
          styleClass="h-full"
          icon="pi pi-cog"
          (onClick)="onGoToPermission()"
          [attr.aria-label]="'ACTIONS.NAVIGATION.GOTO_WORKSPACE_PERMISSIONS' | translate"
          [pTooltip]="'ACTIONS.NAVIGATION.GOTO_WORKSPACE_PERMISSIONS' | translate"
          tooltipPosition="top"
          tooltipEvent="hover"
        >
        </p-button>
        <p-button
          *ocxIfPermission="'WORKSPACE_ROLE#CREATE'"
          id="ws_roles_header_create"
          styleClass="h-full"
          icon="pi pi-plus"
          (onClick)="onCreateRole($event)"
          [attr.aria-label]="'ACTIONS.CREATE.ROLE' | translate"
          [pTooltip]="'ACTIONS.CREATE.ROLE' | translate"
          tooltipPosition="top"
          tooltipEvent="hover"
        >
        </p-button>
        <p-button
          *ocxIfPermission="'WORKSPACE_ROLE#VIEW'"
          id="ws_roles_header_reload"
          styleClass="h-full"
          icon="pi pi-refresh"
          (onClick)="onReload()"
          [attr.aria-label]="'ACTIONS.SEARCH.RELOAD' | translate"
          [pTooltip]="'ACTIONS.SEARCH.RELOAD' | translate"
          tooltipPosition="top"
          tooltipEvent="hover"
        >
        </p-button>
      </div>
    </div>
  </ng-template>

  <!-- GRID -->
  <ng-template let-roles pTemplate="gridItem">
    <div class="grid grid-nogutter">
      <div *ngFor="let role of roles; index as i" class="col-12 sm:col-6 md:col-4 lg:col-4 xl:col-3 p-2 sm:p-3">
        <a
          [id]="'ws_roles_grid_data_row_' + i"
          class="block card relative py-2 px-3 hover:bg-gray-200 cursor-pointer"
          [class.card-primary-color]="role.isWorkspaceRole"
          (click)="onEditRole($event, role)"
          [attr.aria-label]="role.description ?? ''"
          [pTooltip]="role.description ?? ''"
          tooltipPosition="top"
          tooltipEvent="hover"
        >
          <span
            *ngIf="role.isWorkspaceRole"
            [id]="'ws_roles_grid_data_row_' + i + '_iam'"
            class="card-badge-left card-badge-left-text badge-2 p-1"
            [class.line-through]="role.deleted"
            [class.danger-action-text]="role.deleted"
            [class.text-md]="role.deleted"
            [attr.aria-label]="'DIALOG.ROLE.ORIGIN.WORKSPACE' | translate"
            [pTooltip]="'DIALOG.ROLE.ORIGIN.WORKSPACE' | translate"
            tooltipPosition="top"
            tooltipEvent="hover"
            >W</span
          >
          <span
            *ngIf="role.isIamRole"
            [id]="'ws_roles_grid_data_row_' + i + '_iam'"
            class="card-badge-left card-badge-left-text badge-1 p-1"
            [attr.aria-label]="'DIALOG.ROLE.ORIGIN.IAM' | translate"
            [pTooltip]="'DIALOG.ROLE.ORIGIN.IAM' | translate"
            tooltipPosition="top"
            tooltipEvent="hover"
            >IAM</span
          >
          <a
            *ngIf="role.isWorkspaceRole && hasDeletePermission"
            [id]="'ws_roles_grid_data_row_' + i + '_delete'"
            class="card-badge-right badge-1 p-1 pi pi-trash button-icon-only"
            [class.card-primary-color]="role.isWorkspaceRole"
            (click)="onDeleteRole($event, role)"
            [attr.aria-label]="'ACTIONS.DELETE.ROLE' | translate"
            [pTooltip]="'ACTIONS.DELETE.ROLE' | translate"
            tooltipPosition="top"
            tooltipEvent="hover"
          ></a>
          <a
            *ngIf="!role.isWorkspaceRole && role.isIamRole && hasCreatePermission"
            [id]="'ws_roles_grid_data_row_' + i + '_create'"
            class="card-badge-right badge-1 p-1 pi pi-plus hover:text-white button-icon-only text-color"
            [class.bg-white]="role.isWorkspaceRole"
            (click)="onAddRole($event, role)"
            [attr.aria-label]="'ACTIONS.CREATE.WORKSPACE.ROLE' | translate"
            [pTooltip]="'ACTIONS.CREATE.WORKSPACE.ROLE' | translate"
            tooltipPosition="top"
            tooltipEvent="hover"
          ></a>
          <div
            [id]="'ws_roles_grid_data_row_' + i + '_role_name'"
            class="h-2-5rem px-2 flex flex-column justify-content-center text-center word-wrap-break"
            [attr.aria-label]="role.name?.length > 40 ? role.name : ''"
            [pTooltip]="role.name?.length > 40 ? role.name : ''"
            tooltipPosition="top"
            tooltipEvent="hover"
          >
            {{ limitText(role.name, 60) }}
          </div>
        </a>
      </div>
    </div>
  </ng-template>
</p-dataView>

<app-workspace-role-detail
  [workspace]="workspace"
  [roles]="roles"
  [role]="role"
  [changeMode]="changeMode"
  [displayDetailDialog]="showRoleDetailDialog"
  [displayDeleteDialog]="showRoleDeleteDialog"
  (dataChanged)="onRoleChanged($event)"
></app-workspace-role-detail>
