// menu item styles
.slim-menu-list-item {
  width: 4rem;
  color: var(--menu-item-text-color, var(--menu-text-color, var(--text-secondary-color, #000000)));
  background-color: var(--menu-item-bg-color, var(--menu-bg-color), #f7f7f7);
  // hover and focus styles
  & :hover,
  & :focus {
    background-color: var(--menu-item-hover-bg-color, #e0e0e0);
  }
  // children styles
  > * {
    width: 4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 1rem 0;
    color: var(--menu-item-text-color, var(--menu-text-color, var(--text-secondary-color, #000000)));
    background-color: var(--menu-item-bg-color, var(--menu-bg-color), #f7f7f7);
  }
  // icon styles
  .slim-menu-list-item-icon {
    font-size: calc(var(--font-size, var(--font-size-default, 1.25rem)) * 1.5);
  }
  .slim-menu-list-item-text {
    font-size: var(--font-size);
    display: block;
  }
}

// active item styles
.slim-menu-list-item-active {
  color: var(
    --menu-active-item-text-color,
    var(--menu-item-text-color, var(--menu-text-color, var(--text-secondary-color, #000000)))
  );
  background-color: var(--menu-active-item-bg-color, var(--menu-item-hover-bg-color, #e0e0e0));
  // children styles
  > * {
    color: var(
      --menu-active-item-text-color,
      var(--menu-item-text-color, var(--menu-text-color, var(--text-secondary-color, #000000)))
    );
    background-color: var(--menu-active-item-bg-color, var(--menu-item-hover-bg-color, #e0e0e0));
  }
}

.slim-menu-list-item-plus {
  width: 7rem;
  > * {
    width: 7rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }
}
