.user-avatar-menu-button:hover {
  background-color: var(--topbar-item-text-hover-bg-color);
  color: var(--topbar-item-text-hover-color, var(--topbar-item-text-color));
  transition: background-color var(--transition-duration);
}

.layout-topbar-action-panel {
  background-color: var(--overlay-content-bg-color);
  color: var(--text-color);
  z-index: 1000;
  min-width: 25rem;
  padding: 1rem 0;
  list-style: none;

  .layout-topbar-action-item {
    cursor: pointer;
    &:hover {
      background-color: var(--hover-bg-color);
      transition: background-color var(--transition-duration);
    }
  }
}

.top-4rem {
  top: 4rem;
}