<div class="ocx-topbar-action-with-menu">
  @let avatarIcon = avatarImageLoaded === undefined ? 'pi pi-user fs-xlarge' : '';
  <p-button
    #userAvatarMenuButton
    id="ocx_topbar_action_user_avatar_menu"
    class="ocx-topbar-action"
    pRipple
    [rounded]="true"
    [icon]="avatarIcon"
    (onClick)="toggleMenu($event)"
    [ariaLabel]="'REMOTES.USER_AVATAR_MENU.TOOLTIP' | translate"
    [pTooltip]="'REMOTES.USER_AVATAR_MENU.TOOLTIP' | translate"
    tooltipPosition="bottom"
    tooltipEvent="hover"
  >
    @if (isAvatarImageComponentDefined$ | async) {
      <ocx-slot
        [name]="slotNameAvatarImage"
        [inputs]="{
          id: 'ocx_topbar_action_user_avatar_image',
          imageType: 'medium',
          imageStyle: 'max-height: 2.5rem; max-width: 2.5rem'
        }"
        [outputs]="{ imageLoaded: avatarImageLoadedEmitter }"
      ></ocx-slot>
    }
  </p-button>

  <!-- MENU -->
  <ul
    id="ws_user_avatar_menu_list"
    class="ocx-topbar-action-panel shadow-4 border-round-bottom fixed sm:absolute mt-2 sm:top-100 w-screen sm:w-auto"
    [class]="menuAnchorPosition + '-0' + (menuOpen() ? '' : ' hidden')"
    (click)="menuOpen.set(false)"
  >
    <!-- USER data from various sources:  a) OneCX user profile, b) custom data -->
    @let data =
      {
        userProfile: userProfile$ | async,
        customComponentDefined: isCustomUserInfoComponentDefined$ | async
      };
    <li
      id="ws_user_avatar_menu_list_item_0"
      class="ocx-topbar-action-item ocx-topbar-action-item-padded cursor-auto user-info"
    >
      @let profile = data.userProfile;
      @if (profile) {
        <div
          class="my-1 flex flex-column flex-wrap justify-content-evenly row-gap-0 w-15rem text-center"
          role="note"
          [attr.aria-label]="'User Information'"
        >
          <div
            id="ws_user_avatar_menu_list_item_0_user_name"
            class="font-bold text-lg text-color-secondary"
            [pTooltip]="profile.person.email ?? ''"
            tooltipPosition="bottom"
            tooltipEvent="hover"
          >
            {{ profile.person.displayName }}
          </div>
          @if (profile.organization) {
            <div
              id="ws_user_avatar_menu_list_item_0_organization"
              class="text-sm"
              [pTooltip]="'REMOTES.USER_AVATAR_MENU.ORGID' | translate"
              tooltipPosition="bottom"
              tooltipEvent="hover"
            >
              {{ profile.organization }}
            </div>
          }
        </div>
      }
      @if (data.customComponentDefined) {
        <ocx-slot [name]="slotNameCustomUserInfo"></ocx-slot>
      }
    </li>

    <!-- user-profile menu -->
    <ng-container *ngIf="userMenu$ | async as userMenu">
      @for (item of userMenu; track item; let i = $index) {
        <li [id]="'ws_user_avatar_menu_list_item_' + (i + 1)" class="ocx-topbar-action-panel-item">
          <app-vertical-menu-item
            [item]="item"
            [id]="'ws_user_avatar_menu_list_item_' + (i + 1)"
            styleClass="ocx-topbar-action-item-padded"
            styleClassLabel="white-space-nowrap"
          ></app-vertical-menu-item>
        </li>
      }
    </ng-container>
  </ul>
</div>
