.user-avatar-menu-button:hover {
  background-color: var(--topbar-item-text-hover-bg-color);
  color: var(--topbar-item-text-hover-color, var(--topbar-item-text-color));
  transition: background-color var(--transition-duration);
}

.layout-topbar-action-panel {
  background-color: var(--overlay-content-bg-color);
  color: var(--text-color);
  z-index: 1000;
  min-width: max-content;
  list-style: none;

  .layout-topbar-action-item {
    padding-right: 1rem;
    cursor: pointer;
    &.user-info {
      padding: 0.4rem 0rem;
      &:hover {
        background-color: inherit !important;
      }
    }
  }
}
