<p-dialog
  [(visible)]="displayDetailDialog"
  [header]="'DIALOG.SLOT.HEADER.VIEW' | translate"
  (onHide)="onClose()"
  [modal]="true"
  [closable]="true"
  [resizable]="true"
  [dismissableMask]="true"
  [style]="{ width: '400px' }"
>
  <div class="flex flex-wrap flex-column gap-3 justify-content-between">
    <p-fieldset [toggleable]="false" [collapsed]="false" styleClass="surface-100 py-0 mx-0">
      <ng-template pTemplate="header">
        <span [title]="'DIALOG.SLOT.PRODUCTS.TOOLTIP' | translate"> {{ 'DIALOG.SLOT.PRODUCTS' | translate }} </span>
      </ng-template>
      <div *ngFor="let slot of slot?.psSlots; let i = index" class="mb-2 flex flex-row column-gap-2">
        <span
          class="danger-action-text text-md pi pi-ban"
          [class.invisible]="!slot.undeployed"
          [title]="'DIALOG.SLOT.UNDEPLOYED' | translate"
        >
        </span>
        <span
          class="danger-action-text text-md pi pi-exclamation-circle"
          [class.invisible]="!slot.deprecated"
          [title]="'DIALOG.SLOT.DEPRECATED' | translate"
        >
        </span>
        <span class="text-md">{{ slot.pDisplayName }}</span>
      </div>
    </p-fieldset>
    <p-fieldset [toggleable]="false" [collapsed]="false" styleClass="surface-100 py-0 mx-0">
      <ng-template pTemplate="header">
        <span [title]="'DIALOG.SLOT.COMPONENTS.TOOLTIP' | translate"> {{ 'DIALOG.SLOT.COMPONENTS' | translate }} </span>
      </ng-template>
      <div *ngFor="let comp of slot?.psComponents; let i = index" class="mb-2 flex flex-row column-gap-2">
        <span
          class="danger-action-text text-md pi pi-ban"
          [class.invisible]="!comp.undeployed"
          [title]="'DIALOG.PRODUCTS.MFES.UNDEPLOYED' | translate"
        >
        </span>
        <span
          class="danger-action-text text-md pi pi-exclamation-circle"
          [class.invisible]="!comp.deprecated"
          [title]="'DIALOG.PRODUCTS.MFES.DEPRECATED' | translate"
        >
        </span>
        <span class="text-md">{{ comp.name }}</span>
      </div>
    </p-fieldset>
  </div>
  <ng-template pTemplate="footer">
    <div class="flex flex-wrap column-gap-2 row-gap-1 justify-content-end">
      <button
        *ngIf="changeMode === 'VIEW'"
        pButton
        autofocus
        type="button"
        class="m-0"
        id="workspace_slot_detail_button_close"
        icon="pi pi-times"
        iconPos="left"
        [label]="'ACTIONS.NAVIGATION.CLOSE' | translate"
        [title]="'ACTIONS.NAVIGATION.CLOSE.TOOLTIP' | translate"
        (click)="onClose()"
      ></button>
      <button
        *ngIf="changeMode !== 'VIEW'"
        pButton
        autofocus
        type="button"
        class="m-0"
        id="workspace_slot_detail_button_cancel"
        icon="pi pi-times"
        iconPos="left"
        [label]="'ACTIONS.CANCEL' | translate"
        (click)="onClose()"
      ></button>
      <button
        *ngIf="changeMode !== 'VIEW'"
        pButton
        type="button"
        class="m-0"
        id="workspace_slot_create_button_save"
        icon="pi pi-save"
        iconPos="left"
        [label]="'ACTIONS.SAVE' | translate"
        (click)="onSaveSlot()"
      ></button>
    </div>
  </ng-template>
</p-dialog>

<!-- DELETE SLOT -->
<p-dialog
  [(visible)]="displayDeleteDialog"
  [header]="'DIALOG.SLOT.HEADER.DELETE' | translate"
  (onHide)="onClose()"
  [modal]="true"
  [closable]="true"
  [resizable]="false"
  [dismissableMask]="true"
  [style]="{ 'max-width': '425px' }"
>
  <div class="flex column-gap-3 row-gap-1 justify-content-start align-items-center">
    <div class="pi pi-question-circle text-3xl danger-action-text"></div>
    <div>
      <div>{{ ('ACTIONS.DELETE.MESSAGE' | translate).replace('{{ITEM}}', slot?.name) }}</div>
      <div class="mt-2">{{ 'ACTIONS.DELETE.ROLE_MESSAGE' | translate }}</div>
      <div class="mt-2">{{ 'ACTIONS.DELETE.MESSAGE_INFO' | translate }}</div>
    </div>
  </div>
  <ng-template pTemplate="footer">
    <div class="flex flex-wrap column-gap-2 row-gap-1 justify-content-end">
      <button
        pButton
        autofocus
        type="button"
        class="m-0"
        id="workspace_slot_delete_button_cancel"
        icon="pi pi-times"
        iconPos="left"
        [label]="'ACTIONS.CONFIRMATION.NO' | translate"
        (click)="onClose()"
      ></button>
      <button
        pButton
        type="button"
        class="m-0"
        id="workspace_slot_delete_button_save"
        icon="pi pi-check"
        iconPos="left"
        [label]="'ACTIONS.CONFIRMATION.YES' | translate"
        (click)="onDeleteSlotComponentConfirmation()"
      ></button>
    </div>
  </ng-template>
</p-dialog>
