<!-- <p-table [value]="formArray.controls" responsiveLayout="scroll">
  <ng-template pTemplate="header">
    <tr>
      <th class="table-header">{{ 'DETAIL.LABEL' | translate }}</th>
      <th class="table-header">{{ 'DETAIL.URL' | translate }}</th>
      <th></th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-control let-i="rowIndex">
    <ng-container [formGroup]="control">
      <tr>
        <td *ngIf="!editMode" id="table-row-elm">{{ control['value']['label'] }}</td>
        <td *ngIf="!editMode">{{ control['value']['url'] }}</td>
        <td *ngIf="!editMode"></td>

        <td *ngIf="editMode">
          <input class="input-field inputs-wide" pInputText type="text" formControlName="label" />
        </td>
        <td *ngIf="editMode">
          <input class="input-field inputs-wide" pInputText type="text" formControlName="url" />
        </td>
        <td *ngIf="editMode" class="p-0">
          <span class="input-field">
            <button
              pButton
              id="deleteLinkBtn"
              class="p-button-danger"
              icon="pi pi-trash"
              (click)="deleteSubject(i)"
            ></button>
          </span>
        </td>
      </tr>
    </ng-container>
  </ng-template>
</p-table>
<div *ngIf="editMode" class="div-edit-buttons">
  <button
    pButton
    class="add-button mr-1"
    type="add"
    (click)="addSubjectLink()"
    [disabled]="formArray.controls.length >= 3"
  >
    {{ 'DETAIL.ADD' | translate }}
  </button>
</div> -->
