:host ::ng-deep {
  .table-header {
    width: 40%;
  }
  .add-button {
    padding: 0.5rem 0.5rem;
    font-weight: 400;
    font-size: large;
  }
  .div-edit-buttons {
    padding: 1em;
    display: flex;
    flex-direction: row-reverse;
  }
  .inputs-wide {
    width: 100%;
  }
  #table-row-elm {
    padding: 22px;
  }
  .input-field {
    border-color: #d3d3d3;
  }
}
