@let version = versionInfo$ | async;
@if (version) {
  <div
    class="w-full pr-3 text-right"
    aria-label="Version Information"
    role="note"
    style="color: var(--menu-item-text-color)"
  >
    <span aria-label="Workspace" pTooltip="Workspace" tooltipPosition="top" tooltipEvent="hover" role="note">
      {{ version.workspaceName }}
    </span>
    @if (version.shellInfo) {
      <span aria-hidden="true">{{ version.separator }}</span>
      <span aria-label="Shell" pTooltip="Shell" tooltipPosition="top" tooltipEvent="hover" role="note">
        Shell: {{ version.shellInfo }}
      </span>
    }
    <span aria-hidden="true">{{ version.separator }}</span>
    <span aria-label="Microfrontend" pTooltip="Microfrontend" tooltipPosition="top" tooltipEvent="hover" role="note">
      App: {{ version.mfeInfo }}
    </span>
  </div>
}
