<div *ngIf="versionInfo$ | async as version" class="w-full text-right" aria-label="Version Information" role="note">
  <span aria-label="Workspace" pTooltip="Workspace" tooltipPosition="top" tooltipEvent="hover" role="note">
    {{ version.workspaceName }}
  </span>
  <span aria-label="Shell" pTooltip="Shell" tooltipPosition="top" tooltipEvent="hover" role="note">
    {{ version.shellInfo }}
  </span>
  <span aria-hidden="true">{{ version.separator }}</span>
  <span aria-label="Microfrontend" pTooltip="Microfrontend" tooltipPosition="top" tooltipEvent="hover" role="note">
    {{ version.mfeInfo }}
  </span>
</div>
