app:
  name: ui
  image:
    repository: 'onecx/onecx-workspace-ui'
  routing:
    enabled: true
    path: /mfe/workspace/
  
  operator:
    # Microfrontend
    microfrontend:
      enabled: true
      specs:
        OneCXWorkspaceModule:
          exposedModule: "./OneCXWorkspaceModule"
          description: "OneCX Workspace UI"
          note: "OneCX Workspace UI auto import via MF operator"
          type: MODULE
        OneCXUserAvatarMenuComponent:
          exposedModule: "./OneCXUserAvatarMenuComponent"
          description: "User avatar menu component"
          type: COMPONENT
        OneCXUserSidebarMenuComponent:
          exposedModule: "./OneCXUserSidebarMenuComponent"
          description: "User siderbar menu component"
          type: COMPONENT
        OneCXVerticalMainMenuComponent:
          exposedModule: "./OneCXVerticalMainMenuComponent"
          description: "Vercital main menu component"
          type: COMPONENT
        OneCXHorizontalMainMenuComponent:
          exposedModule: "./OneCXHorizontalMainMenuComponent"
          description: "Horizontal main menu component"
          type: COMPONENT
    # Permission
    permission:
      enabled: true
      spec:
        permissions:
          WORKSPACE:
            CREATE: Create workspace
            DELETE: Delete workspace
            EDIT: Edit workspace
            SAVE: Update and save workspace
            SEARCH: Search workspace
            VIEW: View mode for workspace
            EXPORT: Export workspace
            IMPORT: Import workspace
          WORKSPACE_CONTACT:
            VIEW: View workspace contact
          WORKSPACE_INTERNAL:
            VIEW: View workspace internal
          WORKSPACE_ROLE:
            CREATE: Create a workspace role
            DELETE: Delete a workspace role
            EDIT: Change workspace role
            VIEW: View workspace roles
          WORKSPACE_PRODUCTS:
            VIEW: View workspace products
            REGISTER: Register/Deregister products
          MENU:
            CREATE: Create menu
            DELETE: Delete menu
            EDIT: Edit menu
            SAVE: Save menu
            VIEW: View menu
            DRAG_DROP: Drag & drop menu tree
            GRANT: Assign roles to menu item
            EXPORT: Export menu
            IMPORT: Import menu

    # Keycloak
    keycloak:
      client:
        enabled: true
        spec:
          kcConfig:
            clientId: "onecx-workspace-ui"

# PIPE Config
