<p-dialog
  #menuDetailDialog
  [header]="'DIALOG.MENU.HEADER.' + changeMode | translate"
  [(visible)]="displayDetailDialog"
  (onHide)="onCloseDetailDialog()"
  [modal]="true"
  [closable]="true"
  [draggable]="true"
  [resizable]="true"
  [dismissableMask]="true"
  [contentStyle]="{ overflow: 'auto' }"
  [style]="{ width: '750px' }"
  styleClass="disable-max-height-preset"
>
  <p-tabView #panelDetail [(activeIndex)]="tabIndex" (onChange)="onTabPanelChange($event)">
    <p-tabPanel
      [header]="'DIALOG.MENU.TABS.DETAILS' | translate"
      [tooltip]="'DIALOG.MENU.TABS.DETAILS.TOOLTIP' | translate"
    >
      <form [formGroup]="formGroup" errorTailor>
        <div class="grid">
          <div class="col-12 md:col-12 my-1" style="min-width: 15rem">
            <span class="p-float-label" controlErrorAnchor>
              <input
                pInputText
                type="text"
                id="ws_menu_detail_field_menu_name"
                class="w-full pt-3 pb-2"
                formControlName="name"
                aria-labelledby="ws_menu_detail_field_menu_name"
                [pTooltip]="'MENU_ITEM.TOOLTIP.MENU_NAME' | translate"
                tooltipPosition="top"
                tooltipEvent="hover"
              />
              <label class="ocx-required-label" for="ws_menu_detail_field_menu_name">
                {{ 'MENU_ITEM.MENU_NAME' | translate }}
              </label>
            </span>
          </div>

          <div class="col-12 md:col-6 my-1" style="min-width: 15rem">
            <span class="p-float-label" controlErrorAnchor>
              <input
                pInputText
                type="text"
                id="ws_menu_detail_field_menu_id"
                class="w-full pt-3 pb-2"
                formControlName="key"
                aria-labelledby="ws_menu_detail_field_menu_id"
                [pTooltip]="'MENU_ITEM.TOOLTIP.MENU_ID' | translate"
                tooltipPosition="top"
                tooltipEvent="hover"
              />
              <label class="ocx-required-label" for="ws_menu_detail_field_menu_id">
                {{ 'MENU_ITEM.MENU_ID' | translate }}
              </label>
            </span>
          </div>
          <div class="col-12 md:col-6 my-1" style="min-width: 15rem">
            <span class="p-float-label">
              <p-dropdown
                id="ws_menu_detail_field_parent_id"
                styleClass="w-full input-field-correction"
                formControlName="parentItemId"
                [options]="parentItems"
                [showClear]="true"
                [ariaLabel]="'MENU_ITEM.TOOLTIP.PARENT_ID' | translate"
                [pTooltip]="'MENU_ITEM.TOOLTIP.PARENT_ID' | translate"
                tooltipPosition="top"
                tooltipEvent="hover"
              >
              </p-dropdown>
              <label for="ws_menu_detail_field_parent_id">{{ 'MENU_ITEM.PARENT_ID' | translate }} </label>
            </span>
          </div>

          <div class="col-12 my-1">
            <span class="p-float-label mb-1" controlErrorAnchor>
              <p-autoComplete
                id="ws_menu_detail_field_url"
                formControlName="url"
                [suggestions]="filteredMfes"
                (completeMethod)="onFilterPaths($event)"
                (onClear)="onClearUrl($event)"
                (onKeyUp)="onKeyUpUrl($event)"
                (onFocus)="onDropdownClick($event)"
                (onDropdownClick)="onDropdownClick($event)"
                (onSelect)="onSelect($event)"
                [minLength]="0"
                styleClass="w-full"
                scrollHeight="150px"
                field="mfePath"
                [showClear]="true"
                [dropdown]="true"
                [dropdownMode]="'current'"
                [completeOnFocus]="true"
                [ariaLabel]="'MENU_ITEM.URL' | translate"
                [pTooltip]="'MENU_ITEM.TOOLTIP.URL' | translate"
                tooltipPosition="top"
                tooltipEvent="hover"
              >
                <ng-template let-mfe pTemplate="item">
                  <div class="flex flex-row column-gap-2 align-items-center">
                    <div class="hidden md:block w-35rem text-responsive">{{ mfe.mfePath }}</div>
                    <div class="block md:hidden w-25rem text-responsive">{{ mfe.mfePath }}</div>
                    <div class="flex flex-column">
                      <div class="text-sm font-bold" [class.danger-action-text]="!mfe.id">
                        {{ mfe.id ? mfe.product : (mfe.product | translate) }}
                      </div>
                      <div class="text-xs" *ngIf="mfe.id">{{ mfe.appId }}</div>
                    </div>
                  </div>
                </ng-template>
              </p-autoComplete>
              <label for="ws_menu_detail_field_url">{{ 'MENU_ITEM.URL' | translate }} </label>
            </span>
          </div>

          <div class="col-12 md:col-2 my-1">
            <span class="p-float-label mb-1" controlErrorAnchor>
              <input
                pInputText
                type="text"
                id="ws_menu_detail_field_position"
                class="w-full pt-3 pb-2"
                formControlName="position"
                aria-labelledby="ws_menu_detail_field_position"
                [pTooltip]="'MENU_ITEM.TOOLTIP.POSITION' | translate"
                tooltipPosition="top"
                tooltipEvent="hover"
              />
              <label for="ws_menu_detail_field_position">{{ 'MENU_ITEM.POSITION' | translate }}</label>
            </span>
          </div>
          <div class="col-12 md:col-4 my-1" style="min-width: 10rem">
            <span class="p-float-label mb-1" controlErrorAnchor>
              <p-dropdown
                id="ws_menu_detail_field_badge"
                styleClass="w-full min-w-min input-field-correction"
                formControlName="badge"
                [showClear]="true"
                [options]="iconItems"
                [appendTo]="'body'"
                [showClear]="true"
                [ariaLabel]="'MENU_ITEM.BADGE' | translate"
                [pTooltip]="'MENU_ITEM.TOOLTIP.BADGE' | translate"
                tooltipPosition="top"
                tooltipEvent="hover"
              >
                <ng-template let-icon pTemplate="selectedItem">
                  <div class="flex align-items-center">
                    <span class="pi pi-{{ icon.value }} mr-3"> </span>
                    <span>{{ icon.label }}</span>
                  </div>
                </ng-template>
                <ng-template let-icon pTemplate="item">
                  <div class="flex align-items-center">
                    <span class="pi pi-{{ icon.value }} mr-3"> </span>
                    <span>{{ icon.label }}</span>
                  </div>
                </ng-template>
              </p-dropdown>
              <label for="ws_menu_detail_field_badge">{{ 'MENU_ITEM.BADGE' | translate }} </label>
            </span>
          </div>
          <div class="col-12 md:col-3 my-1" style="min-width: 10rem">
            <span class="p-float-label mb-1" controlErrorAnchor>
              <p-dropdown
                id="ws_menu_detail_field_scope"
                styleClass="w-full min-w-min input-field-correction"
                formControlName="scope"
                [showClear]="true"
                [options]="scopeItems"
                [ariaLabel]="'MENU_ITEM.SCOPE' | translate"
                [pTooltip]="'MENU_ITEM.TOOLTIP.SCOPE' | translate"
                tooltipPosition="top"
                tooltipEvent="hover"
              >
              </p-dropdown>
              <label for="ws_menu_detail_field_scope">{{ 'MENU_ITEM.SCOPE' | translate }} </label>
            </span>
          </div>

          <div class="col-12 md:col-3 my-1 md:pl-5 flex justify-content-start">
            <p-checkbox
              id="ws_menu_detail_field_disabled"
              class="checkbox-label"
              formControlName="disabled"
              [binary]="true"
              [label]="'MENU_ITEM.DISABLED' | translate"
              [ariaLabel]="'MENU_ITEM.DISABLED' | translate"
              [pTooltip]="'MENU_ITEM.TOOLTIP.DISABLED' | translate"
              tooltipPosition="top"
              tooltipEvent="hover"
            >
            </p-checkbox>
          </div>

          <div class="col-12 md:col-9 my-1">
            <span class="p-float-label mb-1" controlErrorAnchor>
              <input
                pInputText
                type="text"
                id="ws_menu_detail_field_description"
                class="w-full pt-3 pb-2"
                formControlName="description"
                aria-labelledby="ws_menu_detail_field_description"
                [pTooltip]="'MENU_ITEM.TOOLTIP.DESCRIPTION' | translate"
                tooltipPosition="top"
                tooltipEvent="hover"
              />
              <label for="ws_menu_detail_field_description">{{ 'MENU_ITEM.DESCRIPTION' | translate }} </label>
            </span>
          </div>
          <div class="col-12 md:col-3 my-1 md:pl-5 flex justify-content-start">
            <p-checkbox
              id="ws_menu_detail_field_ws_exit"
              class="checkbox-label"
              formControlName="external"
              [binary]="true"
              [label]="'MENU_ITEM.EXTERN' | translate"
              [ariaLabel]="'MENU_ITEM.EXTERN' | translate"
              [pTooltip]="'MENU_ITEM.TOOLTIP.EXTERN' | translate"
              tooltipPosition="top"
              tooltipEvent="hover"
            >
            </p-checkbox>
          </div>
        </div>
      </form>
    </p-tabPanel>

    <p-tabPanel
      [header]="'DIALOG.MENU.TABS.I18N.LABEL' | translate"
      [tooltip]="'DIALOG.MENU.TABS.I18N.TOOLTIP' | translate"
    >
      <div class="mt-3 mb-1 flex flex-column gap-4">
        <span *ngFor="let language of languagesDisplayed; index as i" class="p-float-label p-input-icon-right w-30rem">
          <a
            [id]="'ws_menu_detail_i18n_lang_' + i + '_action_remove'"
            class="pi pi-times"
            (click)="onRemoveLanguage(language.value)"
          ></a>
          <input
            pInputText
            type="text"
            [id]="'ws_menu_detail_i18n_lang_' + i + '_value'"
            class="w-30rem pt-3 pb-2"
            [(ngModel)]="language.data"
            [attr.aria-label]="'ws_menu_detail_i18n_lang_' + i + '_value'"
            [pTooltip]="'DIALOG.MENU.TABS.I18N.REMOVE_LANGUAGE' | translate"
            tooltipPosition="top"
            tooltipEvent="hover"
          />
          <label [for]="'ws_menu_detail_i18n_lang_' + i + '_value'">{{ getLanguageLabel(language.value) }} </label>
        </span>
      </div>
      <div class="mt-5 flex flex-row align-items-center column-gap-4 row-gap-2" *ngIf="languagesAvailable.length > 0">
        <div class="text-sm w-4rem">{{ 'DIALOG.MENU.TABS.I18N.ADD_LANGUAGE' | translate }}</div>
        <div class="slim-selectbutton filter-selectbutton">
          <p-selectButton
            inputid="ws_menu_detail_i18n_language_selector"
            styleClass="data-view-control flex flex-nowrap"
            [options]="languagesAvailable"
            (onOptionClick)="onAddLanguage($event.option.value)"
            [ariaLabel]="'DIALOG.MENU.TABS.I18N.ADD_LANGUAGE' | translate"
            [pTooltip]="'DIALOG.MENU.TABS.I18N.ADD_LANGUAGE' | translate"
            tooltipPosition="top"
            tooltipEvent="hover"
          >
          </p-selectButton>
        </div>
      </div>
    </p-tabPanel>

    <p-tabPanel
      [disabled]="changeMode === 'CREATE'"
      [header]="'DIALOG.MENU.TABS.INTERN' | translate"
      [tooltip]="'DIALOG.MENU.TABS.INTERN.TOOLTIP' | translate"
    >
      <app-menu-intern [menuItem]="menuItem" [dateFormat]="dateFormat"></app-menu-intern>
    </p-tabPanel>
  </p-tabView>

  <ng-template pTemplate="footer">
    <div class="flex flex-wrap column-gap-2 row-gap-1 justify-content-end">
      <p-button
        *ngIf="changeMode === 'VIEW'"
        id="ws_menu_detail_action_close"
        icon="pi pi-times"
        (onClick)="onCloseDetailDialog()"
        [label]="'ACTIONS.NAVIGATION.CLOSE' | translate"
        [ariaLabel]="'ACTIONS.NAVIGATION.CLOSE' | translate"
        [pTooltip]="'ACTIONS.NAVIGATION.CLOSE.TOOLTIP' | translate"
        tooltipPosition="top"
        tooltipEvent="hover"
      ></p-button>
      <p-button
        *ngIf="changeMode !== 'VIEW'"
        id="ws_menu_detail_action_cancel"
        icon="pi pi-times"
        (onClick)="onCloseDetailDialog()"
        [label]="'ACTIONS.CANCEL' | translate"
        [ariaLabel]="'ACTIONS.TOOLTIPS.CANCEL_WITHOUT_SAVE' | translate"
        [pTooltip]="'ACTIONS.TOOLTIPS.CANCEL_WITHOUT_SAVE' | translate"
        tooltipPosition="top"
        tooltipEvent="hover"
      ></p-button>
      <p-button
        *ngIf="changeMode !== 'VIEW'"
        id="ws_menu_detail_action_save"
        icon="pi pi-save"
        [disabled]="!formGroup.valid"
        (onClick)="onMenuSave()"
        [label]="'ACTIONS.SAVE' | translate"
        [ariaLabel]="'ACTIONS.SAVE' | translate"
        [pTooltip]="'ACTIONS.TOOLTIPS.SAVE' | translate"
        tooltipPosition="top"
        tooltipEvent="hover"
      ></p-button>
    </div>
  </ng-template>
</p-dialog>

<!-- DELETE MENU ITEM -->
<p-dialog
  [header]="'DIALOG.MENU.HEADER.DELETE' | translate"
  [(visible)]="displayDeleteDialog"
  (onHide)="onCloseDetailDialog()"
  [modal]="true"
  [closable]="true"
  [draggable]="true"
  [resizable]="false"
  [dismissableMask]="true"
  [style]="{ width: '425px' }"
  styleClass="disable-max-height-preset"
>
  <div class="my-2 flex column-gap-4 row-gap-1 justify-content-start align-items-center">
    <div class="pi pi-question-circle text-3xl danger-action-text"></div>
    <div class="flex flex-column row-gap-2">
      <div id="ws_menu_delete_message" class="font-bold">{{ 'ACTIONS.DELETE.MENU.MESSAGE' | translate }}</div>
      <div id="ws_menu_delete_menu_item_name" class="font-bold text-center danger-action-text">
        {{ menuItemOrg?.name }}
      </div>
      <div *ngIf="menuItemOrg && menuItemOrg.children && menuItemOrg.children[0]">
        {{ 'ACTIONS.DELETE.MENU.MESSAGE_CHILDREN' | translate }}
      </div>
      <div>{{ 'ACTIONS.DELETE.INFO' | translate }}</div>
    </div>
  </div>
  <ng-template pTemplate="footer">
    <div class="mt-3 flex flex-wrap column-gap-2 row-gap-1 justify-content-end">
      <p-button
        id="ws_menu_delete_action_no"
        icon="pi pi-times"
        (onClick)="onCloseDeleteDialog()"
        [label]="'ACTIONS.CONFIRMATION.NO' | translate"
        [ariaLabel]="'ACTIONS.CONFIRMATION.NO.TOOLTIP' | translate"
        [pTooltip]="'ACTIONS.CONFIRMATION.NO.TOOLTIP' | translate"
        tooltipPosition="top"
        tooltipEvent="hover"
      ></p-button>
      <p-button
        id="ws_menu_delete_action_yes"
        icon="pi pi-check"
        (onClick)="onMenuDelete()"
        [label]="'ACTIONS.CONFIRMATION.YES' | translate"
        [ariaLabel]="'ACTIONS.CONFIRMATION.YES.TOOLTIP' | translate"
        [pTooltip]="'ACTIONS.CONFIRMATION.YES.TOOLTIP' | translate"
        tooltipPosition="top"
        tooltipEvent="hover"
      ></p-button>
    </div>
  </ng-template>
</p-dialog>
