@import 'src/app/_ws-mixins.scss';

@include danger-action;
@include compact-dropdown-list-items;
@include dropdown-zebra-rows;
@include correct-autocomplete;
@include correct-select-button;
@include search-criteria-select-button-slim;
@include readable-disabled-form-controls;
@include displaying-text-responsive;
@include input-clear-icon;
@include dialog-footer-buttons;
@include dialog-modal-disable-full-height;
@include tabview-fix-color-selected-tab;

:host ::ng-deep {
  .w-35rem {
    width: 35rem !important;
  }
  .p-autocomplete .p-autocomplete-input {
    padding-right: 2.2rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
