// disable preset opacity: not readable
@mixin make-disabled-form-readable-input {
  :host {
    .p-inputtext.p-component:disabled {
      opacity: unset;
    }
  }
}
@mixin make-disabled-form-readable-dropdown {
  :host ::ng-deep {
    .p-dropdown.p-component.p-disabled {
      opacity: unset;
    }
  }
}

@mixin danger-action {
  :host ::ng-deep {
    .danger-action-text {
      color: var(--danger-button-bg);
    }
  }
}

@mixin card-badges {
  :host ::ng-deep {
    .card-badge-right {
      display: inline-block;
      position: absolute;
      right: 3px;
      opacity: 0.7;
      &.badge-1 {
        top: 3px;
      }
      &.badge-2 {
        top: 35px;
      }
    }
    .card-badge-left {
      display: inline-block;
      position: absolute;
      left: 3px;
      opacity: 0.7;
      &.badge-1 {
        top: 3px;
      }
      &.badge-2 {
        top: 35px;
      }
      &.badge-2-text {
        top: 29px;
      }
    }
    .card-badge-left-text {
      left: 4px;
      font-size: 0.7rem !important;
    }
    .pseudo-button-link {
      border-radius: var(--border-radius);
      &:hover {
        color: var(--primary-color-text);
        background: var(--button-hover-bg);
        cursor: pointer;
        padding: 5px !important;
      }
    }
  }
}

@mixin correct-data-view-header-for-tabpanel {
  :host ::ng-deep {
    .p-dataview .p-dataview-header,
    .p-datatable .p-datatable-header {
      padding: 0.2rem 0.2rem 0.9rem 0.2rem;
    }
  }
}

@mixin correct-data-view-control {
  :host ::ng-deep {
    .data-view-control,
    .data-view-control * {
      color: var(--emphasis-medium);
    }
    .data-view-control-border.p-dropdown {
      .p-inputtext {
        color: var(--emphasis-medium);
        opacity: 0.9;
      }
      &:last-of-type {
        border-top-left-radius: var(--border-radius);
        border-bottom-left-radius: var(--border-radius);
      }
    }
  }
}

@mixin dataview-zebra-rows {
  :host ::ng-deep {
    .p-dataview-content .p-grid > div {
      min-height: 60px;
      &.listview-row {
        &:nth-child(odd) {
          background-color: #f8f9fa;
        }
      }
    }
  }
}

@mixin correct-modal-dialog {
  :host ::ng-deep {
    .p-dialog .p-dialog-content {
      border-bottom-left-radius: var(--border-radius);
      border-bottom-right-radius: var(--border-radius);
    }
  }
}
