/* USED only in STANDALONE mode */

/* global styles */
@import 'node_modules/primeng/resources/primeng.min.css';
@import 'node_modules/primeicons/primeicons.css';
@import 'node_modules/primeflex/primeflex.scss';

/* portal core */
@import 'node_modules/@onecx/portal-layout-styles/src/styles/shell/shell.scss';
@import 'node_modules/@onecx/portal-layout-styles/src/styles/primeng/theme-light.scss';
@import 'node_modules/@onecx/portal-integration-angular/assets/styles.scss';
