<div class="mt-2 px-1">
  <p-fileUpload
    #fileUploader
    id="ws_import_choose_file_upload"
    mode="advanced"
    name="file"
    accept=".json"
    [maxFileSize]="1000000"
    [headers]="httpHeaders"
    [customUpload]="true"
    (uploadHandler)="uploadHandler()"
    (onClear)="onClear()"
    (onRemove)="onClear()"
    (onSelect)="onSelect($event)"
    [showUploadButton]="isFileValid()"
    [uploadLabel]="'ACTIONS.UPLOAD' | translate"
    [cancelLabel]="'ACTIONS.CANCEL' | translate"
    [chooseLabel]="'ACTIONS.CHOOSE' | translate"
  />
  <p-message
    *ngIf="importError"
    styleClass="mt-2"
    id="ws_import_choose_file_upload_error"
    severity="error"
    [text]="validationErrorCause"
  ></p-message>
</div>
